<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'Search' | translate }}" defaultHref="/main/guest-search"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Filter Search' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearFilter()">{{ 'Clear' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="filterCond">
  <ion-list>
    <ion-list-header>
      <ion-label>
        {{ 'Location And Level' | translate }}
      </ion-label>
    </ion-list-header>
    <!-- <ion-item lines="none" *ngIf = "residences.length > 0">
      <ion-label>{{ 'Residence' | translate }}</ion-label>
      <ion-select [(ngModel)]="filterCond.Location" cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="0">{{ 'Unselected' | translate }}
        </ion-select-option>
        <ion-select-option [value]="option.ID" *ngFor="let option of residences">{{ option.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item> -->
    <ion-item lines="none" *ngIf="locations.length > 0">
      <ion-label>{{ 'Residence' | translate }}</ion-label>
      <ion-select [(ngModel)]="filterCond.Location" cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="0">{{ 'Unselected' | translate }}
        </ion-select-option>
        <ion-select-option [value]="option.ID" *ngFor="let option of locations">{{ option.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" *ngIf="guestLevels.length > 0">
      <ion-label>{{ 'Guest Level' | translate }}</ion-label>
      <ion-select placeholder="{{'Unselected' | translate}}" [(ngModel)]="filterCond.Level" [multiple]="true"
      cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="option.ID" *ngFor="let option of guestLevels">{{ option.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>
        {{ 'Recent Register Status' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label>{{ 'Recently' | translate }}{{ 'Registered' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="filterCond.Recently"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-label><br /></ion-label>
    <ion-button class="ion-margin" expand="block" (click)="execSearch()">
      {{ 'Search With This Condition' | translate }}</ion-button>
  </ion-list>
</ion-content>