.guest-level-icon{
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  width: 100%;
  text-align: left;
  padding: 3px 5px;
}

.online-status{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  align-self: center;
  margin-right: 5px;
  &.green{
    background-color: var(--ion-color-success);
  }
  &.yellow{
    background-color: var(--ion-color-warning);
  }
  &.gray{
    background-color: var(--ion-color-medium);
  }
}

.guest-info{
  text-align: left;
  h6 span.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 22px);
  }
} 