<ion-card class="infinite-cards">
  <ng-template [ngIf]="levelNum > 0">
    <div class="guest-level-icon">
      <!-- <ion-icon name="ribbon" color="{{ className }}"></ion-icon> -->
      <ion-icon name="star" color="guest-level" *ngFor="let i of repeatArray(levelNum)"></ion-icon>
    </div>
  </ng-template>
  <div class="image-wrapper" (click)="viewGuest()">
    <img [src]="image" />
  </div>
  <div class="guest-info">
    <h6>
      <span class="online-status" [ngClass]="getStatusClass()" *ngIf="getStatusClass() !== ''"></span>
      <span class="ellipsis">
        {{ { Nickname: nickname, Birthday: birthday, BirthdayHidden: birthdayHidden } | label }} {{ locationName }}
      </span>
    </h6>
    <h6 class="guest-greeting">
      {{ word ? word : ('Cast Standard Greeting' | translate) }}
    </h6>
  </div>
  <ion-card-content class="ion-text-center" (click)="favoriteGuest()">
    {{ isFavorite ? ('Already Liked' | translate ) : ('Like you' | translate ) }}
  </ion-card-content>
</ion-card>