<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [disabled]="!isValidEmail()" (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Initial Information' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Email' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input inputmode="email" [maxlength]="50" placeholder="{{ 'Required' | translate }}" [(ngModel)]="email">
      </ion-input>
    </ion-item>
  </ion-list>
</ion-content>