<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [disabled]="mainLocationID < 1" (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Location' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-radio-group [(ngModel)]="mainLocationID">
      <ion-list-header>
        <ion-label>{{ 'Main Area' | translate }}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let location of getCheckedLocations()">
        <ion-label>{{ location.Name }}</ion-label>
        <ion-radio slot="start" [value]="location.ID"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Favorite Place' | translate }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let location of locations;index as index;">
      <ion-label>{{ location.Name }}</ion-label>
      <ion-checkbox [disabled]="isDisabled[index]" [(ngModel)]="isChecked[index]"
        (ngModelChange)="onLocationsChanged()"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>