<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Schedule Setting' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">  
  <ion-list>
    <ng-container *ngFor="let datetime of datetimes">
      <ion-item-divider>
        <ion-label>{{ datetime | date:'MM月 dd日' }} ({{ daysOfWeek[datetime.getDay()]}})</ion-label>
        <ion-toggle [(ngModel)]="scheduleByKey[getDateKey(datetime)]['enabled']" style="height: 26px;" slot="end">
        </ion-toggle>
        <ion-button slot="end" fill="clear" (click)="onClear(datetime)">
          <ion-icon slot="icon-only" name="close-circle"></ion-icon>
        </ion-button>
        <!-- <ion-button fill="clear" color="warning" (click)="setMidNight(getDateKey(datetime), true)"
          *ngIf="scheduleByKey[getDateKey(datetime)]['from'] && !scheduleByKey[getDateKey(datetime)].midnight">
          <ion-icon slot="icon-only" name="sunny"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="medium" (click)="setMidNight(getDateKey(datetime), false)"
          *ngIf="scheduleByKey[getDateKey(datetime)].midnight">
          <ion-icon slot="icon-only" name="moon"></ion-icon>
        </ion-button> -->
      </ion-item-divider>
      <ion-item>
        <ion-label class="ion-text-end" slot="end">から</ion-label>
        <ion-datetime display-format="HH:mm" picker-format="HH:mm" [minuteValues]="minutes"
          placeholder="{{ 'Undefined' | translate }}" cancelText="{{ 'Cancel' | translate }}" [hourValues]="hours"
          doneText="{{ 'OK' | translate }}" [(ngModel)]="scheduleByKey[getDateKey(datetime)]['from']"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-end" slot="end">まで</ion-label>
        <ion-datetime display-format="HH:mm" picker-format="HH:mm" placeholder="{{ 'Undefined' | translate }}"
          [minuteValues]="minutes" cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}"
          [hourValues]="hours" [(ngModel)]="scheduleByKey[getDateKey(datetime)]['to']">
        </ion-datetime>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>