<ion-header [translucent]="true">
  <ion-toolbar [class.browser-div]="isWebBrowser">
    <ion-buttons slot="start">
        <ion-button routerLink="/main/notice">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="getNotifyCount() > 0" color="danger" class="notify-count-badge ion-no-padding">
        {{ getNotifyCount() }}
      </ion-badge>
    </ion-buttons>
    <div class="cast-search">
      <ion-searchbar [(ngModel)]="searchText" (click)="goToFilterPage()"
        placeholder="{{ 'Search by area, class, tag and so on' | translate }}" inputmode="none">
      </ion-searchbar>
      <ion-icon name="close-circle" class="close-search" *ngIf="searchText" (click)="clearSearch($event)"></ion-icon>
    </div>
    <ion-buttons slot="end">
      <!-- <ion-button routerLink="/main/search/filter">
        <ion-icon name="search-circle-outline"></ion-icon>
      </ion-button> -->
      <ion-button routerLink="/main/search/rank">
        <ion-icon name="trophy"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>{{ 'Search Casts' | translate }}</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content #ionContent [fullscreen]="true">  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'Search Casts' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header *ngIf="user">
    <ion-item lines="none" *ngIf="!(user.LineID && user.LineID !== '') && !(user.Email && user.Email !== '')"
      class="ion-no-margin ion-no-padding header-item" [detail]="false" routerLink="/main/mypage/setting/notify">
      <p>【通知設定】メールかLINEで連携してください </p>        
    </ion-item>
  </ion-header>
  <ion-list *ngIf="recentCasts.length > 0">
    <ion-list-header>
      <ion-label>
        {{ 'Recent Casts' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-grid class="slide-casts">
      <ion-row class="slide-row">
        <ion-col class="slide-col">
          <ion-slides [options]="slideOpts" class="slides">
            <ion-slide *ngFor="let cast of recentCasts">
              <app-mini-cast-card style="width: 100%;" [routerLink]="['/main/profile', cast.ProfileID]"
                [birthdayHidden]="cast.BirthdayHidden" [nickname]="cast.Nickname" [birthday]="cast.Birthday"
                [point]="cast.PointHalf" [status]="cast.Status" [leftAt]="cast.LeftAt ? cast.LeftAt : ''"
                [word]="cast.Word" [isMatching]="false" [classColor]="cast.Class?.Color" [className]="cast.Class?.Name"
                [castStart]="cast.CastStart" [image]="cast.Images[0].Path" [locationName]="callCond.getLocationName(cast)"
                [video]="getCastVideoPath(cast)" [profileID]="cast.ProfileID">
              </app-mini-cast-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list class="filtered-cast">
    <ion-list-header>
      <ion-label>
        {{ 'Passed Casts' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-grid *ngIf="isFullCastsReady">
      <ion-row *ngIf="selectedTags.length > 0" class="ion-margin-bottom">
        <ion-col>
          <ng-container *ngFor="let detailItem of selectedTags; index as index">
            <ion-chip color="primary" (click)="removeTags(index)">
              <ion-label>{{ detailItem.Name }}</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>              
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 5px;" *ngIf="filteredCasts.length > 0">
        <ion-col size="6" *ngFor="let cast of filteredCasts">
          <app-cast-card [routerLink]="['/main/profile', cast.ProfileID]" [nickname]="cast.Nickname" [birthday]="cast.Birthday"
            [birthdayHidden]="cast.BirthdayHidden" [point]="cast.PointHalf" [status]="cast.Status"
            [leftAt]="cast.LeftAt ? cast.LeftAt : ''" [word]="cast.Word" [isMatching]="false"
            [classColor]="cast.Class?.Color" [className]="cast.Class?.Name" [castStart]="cast.CastStart" [profileID]="cast.ProfileID"
            [image]="cast.Images[0].Path" [locationName]="callCond.getLocationName(cast)" [video]="getCastVideoPath(cast)"
            [todayFree]="isTodayFree(cast)">
          </app-cast-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-infinite-scroll #ionInfiniteScroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="allLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>