.slide-casts {
  --ion-grid-padding: 5px 0;

  .slide-col {
    --ion-grid-column-padding: 5px 0;

    .slides {
      padding: 0 10px;

      ion-slide {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
}

// ion list header
ion-list.filtered-cast:not(:first-of-type) {
  ion-list-header {
    ion-label {
      margin-top: 5px;
    }
  }
}

// ion search bar
ion-toolbar {

  &.browser-div{
    padding-top: 5px !important;
  }

  .cast-search{
    position: relative;

    ion-searchbar{
      padding-inline-start: 0;
      padding-inline-end: 0;
      --border-radius: 4px;
      font-size: 14px;
    }

    ion-icon.close-search {
      position: absolute;
      right: 3px;
      color: #666;
      font-size: 22px;
      top: 7px;
      z-index: 100;
    }
  }
}

ion-button.tag-button{
  margin-right: 5px;
}

ion-slides ion-slide{
  max-width: calc((100% - 20px) / 2.5);
}
