<ion-header>
  <ion-toolbar *ngIf="giftData">
    <ion-buttons slot="start">
      <ion-back-button text="" [defaultHref]="getBackURI()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Share Gift Point' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="giftData">
  <ion-list>
    <ion-list-header>
      <ion-label>
        {{ 'Gift Point' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item lines="none" class="gift-value" [detail]="true" (click)="changeGiftPoint()">
      <ion-text>
        {{ giftData.Gift | number }}pt
      </ion-text>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
        {{ 'Ongoing Casts' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let cast of giftData.Casts; index as index">
      <ion-label>
        <ion-avatar>
          <img [src]="cast.Images[0].Path">
        </ion-avatar>
        {{ { Nickname: cast.Nickname, Birthday: cast.Birthday, BirthdayHidden: cast.BirthdayHidden } | label }}
      </ion-label>
      <ion-text slot="end">
        <h5 class="gift-val">
          {{ getGift(cast.ID) | number }}pt
        </h5>
        <ion-buttons>
          <ion-icon name="remove-circle-outline" class="number-change-icon" (click)="onMinus(cast.ID)" color="primary">
          </ion-icon>
          <ion-icon name="add-circle-outline" class="number-change-icon" (click)="onPlus(cast.ID)" color="primary">
          </ion-icon>
        </ion-buttons>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="confirmSharePoint()">{{ 'Confirm' | translate }}</ion-button>
  </ion-toolbar>
</ion-footer>