.gift-value{
  ion-text{
    margin: auto;
    font-size: 25px;
  }
}

.number-change-icon{
  font-size: 26px;
  margin-right: 10px;
}

.gift-val{
  font-size: 24px;
}

ion-footer{
  ion-toolbar{
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    ion-button{
      margin: 0;
    }
  }
}