<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Paypal Transfer Information' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">{{ 'Paypal Account' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="paypalAccount"></ion-input>
    </ion-item>
    <ion-item lines="none" style="font-size: 10px; font-weight: bold;">      
      ※PayPalアカウントに登録しているメールアドレスを入力してください
  </ion-item>
  </ion-list>
</ion-content>