<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [disabled]="!locationID" (click)="onSave()">
        {{ 'Completion' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Location' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Favorite Place' | translate }}</ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="locationID">
      <ion-item *ngFor="let location of locations">
        <ion-label>{{ location.Name }}</ion-label>
        <ion-radio [value]="location.ID"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>