<ion-header [translucent]="true">
  <ion-toolbar *ngIf="room">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/chat"></ion-back-button>
    </ion-buttons>
    <ng-template [ngIf]="room.Type === 'admin'" [ngIfElse]="noAdmin">
      <ion-title>{{ 'Glass Admin' | translate }}</ion-title>
    </ng-template>
    <ng-template #noAdmin>
      <ion-title *ngIf="room.IsGroup && call">
        {{ call.Reservation ? call.Reservation : room.Title }}
      </ion-title>
      <ion-title *ngIf="!room.IsGroup && partner">
        <a [routerLink]="['/main/profile', partner.ProfileID]" style="text-decoration: none; color: black;">
          <img class="partner-img" [src]="partner.Images[0].Path">
          {{ { Nickname: partner.Nickname, Birthday: partner.Birthday, BirthdayHidden: partner.BirthdayHidden } | label }}
           {{ cond.getLocationName(partner) }}
        </a>
      </ion-title>
    </ng-template>
    <ion-buttons slot="end" *ngIf="user && user.Sight !== 'blind'">
      <ion-button (click)="openMessageTypeDialog()" *ngIf="room.Type !== 'admin'">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="detail-info" *ngIf="user && allInfoReady && room && room.Type !== 'admin'">
    <ng-template [ngIf]="room.IsGroup && call && call.GiftPoint > 0 && user.Role === 1 && 
      (call.Status === 'confirm' || call.Status === 'starting')">
      <ion-grid class="gift-panel">
        <ion-row>
          <ion-col>
            <ion-button class="gift-point-btn" color="warning" (click)="shareGift()">
              {{ 'Share Gift Point' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="font-size: 12px;" *ngIf="call">
            チップが<span class="gift-num">{{ call.GiftPoint | number }}</span>ptあります。
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="font-size: 10px; font-weight: bold;">
            チップをお気に入りのキャストに振り分けて人気を獲得しよう！
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
    <ion-grid class="detail-group-info ion-no-padding">
      <ion-row class="group-avatars-row" *ngIf="room && room.IsGroup">
        <ng-container *ngFor="let userItem of filterCasts(room.Users)">
          <ion-avatar [routerLink]="['/main/profile', userItem.ProfileID]" *ngIf="!userItem.Withdrawn">
            <img class="group-avatar" [src]="userItem.Images[0].Path">
          </ion-avatar>
          <ion-avatar *ngIf="userItem.Withdrawn">
            <img class="group-avatar" src="/assets/img/withdrawn.png">
          </ion-avatar>
        </ng-container>
      </ion-row>
      <ng-template [ngIf]="!room.IsGroup && user">
        <ion-item *ngIf="user.Role === 0 && levelsReady && partner" lines="none" class="transparent-item">
          <ion-label>
            {{ 'Guest Level' | translate }}
          </ion-label>
          <ion-text>
            {{ getLevelName(partner.PointUsed) }}
            <ion-icon name="star" color="vip" *ngFor="let i of repeatArray(getLevelNum(partner.PointUsed))"></ion-icon>
          </ion-text>
        </ion-item>
        <ion-item *ngIf="user && partner && user.Role === 1" lines="none" class="transparent-item">
          <ion-label>
            {{ 'Point Per Half' | translate }}
          </ion-label>
          <ion-text>
            {{ call && call.CastPoint > 0 ? (call.CastPoint | number) : partner.PointHalf | number }}pt
          </ion-text>
        </ion-item>
      </ng-template>
      <div class="join-info">
        <ion-item lines="none" class="status-item">
          <ion-badge *ngIf="room.Type === 'confirm' || room.Type === 'starting'"
            color="{{ isJoining() ? 'primary' : 'success'}}">
            {{ getStatusText() }}
          </ion-badge>
          <ion-badge *ngIf="!(room.Type === 'confirm' || room.Type === 'starting')"
            color="{{ this.room.Type === 'waiting' ? 'warning' : 'medium'}}">
            {{ getStatusText() }}
          </ion-badge>
          <ion-text class="help-text ion-justify-content-between">
            {{ getHelpText() }}
          </ion-text>
          <ion-button *ngIf="room.Type === 'confirm' && !room.IsGroup" slot="end" class="cancel-btn" color="primary" (click)=cancelCall()>
            {{ 'Cancel' | translate }}
          </ion-button>
        </ion-item>
      </div>
      <div class="join-control" *ngIf="canControl()">
        <ion-item class="control-item transparent-item" lines="none">
          <ion-label color="{{ isExceed() ? 'danger' : 'dark' }}">
            <ion-text>
              {{ getRemainTime() }}
            </ion-text>
          </ion-label>
          <ion-button class="control-button" slot="end" *ngIf="!isJoining()" (click)="startJoin()" color="primary"
            [disabled]="canJoin">
            {{ 'Join Start' | translate }}
          </ion-button>
          <ion-button class="control-button" slot="end" *ngIf="isJoining()" (click)="finishJoin()"
            [disabled]="!remainTen() || canJoin">
            {{ 'Finish Join' | translate }}
          </ion-button>
        </ion-item>
      </div>
      <ng-template [ngIf]="call">
        <div class="suggest-control"
          *ngIf="!room.IsGroup && user && call.SuggesterID !== user.ID && room.Type === 'waiting'">
          <ion-item lines="none">
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-button (click)="rejectSuggestion()" fill="solid" color="danger">
                    {{ "Reject" | translate }}
                  </ion-button>
                </ion-col>
                <ion-col class="ion-text-center">
                  <ion-button (click)="confirmSuggestion()" fill="solid" color="success">
                    {{ "Confirm" | translate }}
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </ng-template>
      <ng-template [ngIf]="room && room.IsGroup && (room.Type === 'starting' || room.Type === 'break' || room.Type === 'end')">
        <ion-item *ngIf="user && call && call.ID > 0 && (user.Role === 1 || (user.Role === 0 && join))" 
          lines="none" [routerLink]="['/main/chat/invoice', call.ID]" class="invoice-link">
          <ion-text slot="end" class="ion-text-right" *ngIf="call.Status === 'starting'">
            {{ user.Role === 1 ? 
              ('Used Point So Far' | translate) : 
              (join && join.IsDone ? ('Earned Point' | translate) : ('Earned Point So Far' | translate)) }}
          </ion-text>
          <ion-text slot="end" class="ion-text-right" *ngIf="call.Status === 'break' || call.Status === 'end'">
            {{ 'Confirm invoice' | translate }}（{{ call.Status === 'break' ? ('Waiting for Payment' | translate) : ('End' | translate) }}）
          </ion-text>
        </ion-item>
      </ng-template>
      <ng-template [ngIf]="room && !room.IsGroup && user && getInvoiceListStatus()">
        <ion-item lines="none" class="down-item transparent-item" (click)="callHistoryVisible=!callHistoryVisible">
          <ion-text slot="end" class="ion-text-right">
            {{ 'Call History' | translate }}
          </ion-text>
          <ion-icon slot="end" name="chevron-down-outline" class="item-down-icon" *ngIf="!callHistoryVisible"></ion-icon>
          <ion-icon slot="end" name="chevron-up-outline" class="item-down-icon" *ngIf="callHistoryVisible"></ion-icon>
        </ion-item>
        <ng-template [ngIf]="callHistoryVisible">
          <ion-item *ngFor="let callItem of calls" [detail]="callItem.Status !== 'waiting' && callItem.Status !== 'confirm'" 
            [routerLink]="['/main/chat/invoice', callItem.ID]" class="content-item transparent-item" lines = "none">
            <ion-label>{{ callItem.MeetTimeISO | date: 'M/d HH:mm~' }}</ion-label>
            <ion-text style="margin-right: 10px;">{{ getStatusTitle(callItem) }}</ion-text>
          </ion-item>
        </ng-template>
      </ng-template>
    </ion-grid>
  </ion-toolbar>
  <!-- notification -->
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-item class="note-item" lines="none">
        このチャットルーム内での、個人情報や連絡先の交換、他アプリへの誘導・そのほか勧誘行為などは禁止させていただいております。
      </ion-item>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content #ionContent [fullscreen]="true" *ngIf="allInfoReady">
  <ion-infinite-scroll #ionInfiniteScroll (ionInfinite)="loadData($event)" [disabled]="isAllLoaded" position="top">
    <ion-infinite-scroll-content loadingSpiner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-grid>
    <ng-template [ngIf]="canNotSee" [ngIfElse]="okay">
      <ion-row class="message-left">
        <ion-col class="message-col" *ngIf="messages.length > 0">
          <ion-avatar *ngIf="room">
            <img [src]="getPartner(room).Images[0].Path">
          </ion-avatar>
          <div class="message-container can-not-see">
            <span class="arrow"></span>
            <ion-button color="warning" (click)="seeMessage()">
              {{ 'Confirm Message' | translate }}
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ng-template>
    <ng-template #okay>
      <ng-container *ngFor="let message of messages;index as index;">
        <ion-row [class]="message.SenderID === message.ReceiverID ? 'message-right' : 'message-left'">
          <div class="message-datetime"
            *ngIf="index === 0 || (index > 0 && getTime(message.CreatedAt) - getTime(messages[index - 1].CreatedAt) > 300000)">
            <span *ngIf="index === 0 && message.CreatedAt">{{ message.CreatedAt | timeago }}</span>
            <span
              *ngIf="index > 0 && getTime(message.CreatedAt) - getTime(messages[index - 1].CreatedAt) > 300000 && message.CreatedAt">
              {{ message.CreatedAt | timeago }}
            </span>
          </div>
          <ion-col class="message-col" *ngIf="!message.IsNotice && user && message.Sender && message.Sender.Withdrawn === false">
            <ng-template [ngIf]="message.Sender">
              <ng-template [ngIf]="message.Sender.Role>=0 && user.ID !== message.Sender.ID" [ngIfElse]="adminAvatar">
                <ion-avatar [routerLink]="['/main/profile', message.Sender.ProfileID]">
                  <img [src]="message.Sender.Images[0].Path"
                    *ngIf="message.Sender && message.Sender.Images && message.Sender.Images.length > 0">
                </ion-avatar>
              </ng-template>
              <ng-template #adminAvatar>
                <ion-avatar>
                  <img [src]="message.Sender.Images[0].Path"
                    *ngIf="message.Sender && message.Sender.Images && message.Sender.Images.length > 0">
                </ion-avatar>
              </ng-template>
            </ng-template>
            <div class="message-container" *ngIf="message.Image">
              <span class="arrow"></span>
              <img class="message-image" [src]="message.Image.Path">
            </div>
            <div class="message-container" *ngIf="message.Gift">
              <span class="arrow"></span>
              <img class="message-image" [src]="message.Gift.ImageURL">
            </div>
            <div class="message-container" *ngIf="message.Content">
              <span class="arrow"></span>
              <div [innerHTML]="message.Content.trim()"></div>
            </div>
          </ion-col>
          <ion-col *ngIf="message.IsNotice" class="message-col notice-message">
            <div class="message-container" *ngIf="message.Content">
              {{ message.Content.trim() }}
            </div>
          </ion-col>
        </ion-row>
      </ng-container>
    </ng-template>
  </ion-grid>  
</ion-content>
<ng-template [ngIf]="user && room && user.Sight !== 'blind'">
  <ion-text shape="round" *ngIf="!room.IsGroup && (room.Type === 'end' || room.Type === '' || room.Type === 'waiting')
  && (user.Role === 0 || (user.TelecomCredit && user.Role === 1))" class="tooltip-btn" [class.ios-tooltip]="isIOS"
  [@textState]="textState">
    {{ user.Role === 1 ? ('Call this cast for solo' | translate) : ('Call this guest for solo' | translate) }}
  </ion-text>
</ng-template>
<ion-footer class="footer">
  <ion-toolbar>
    <div class="image-container">
      <ion-button class="image-clear-btn" fill="clear" shape="round" (click)="onClearImage()" *ngIf="mediaURL">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <img [src]="mediaURL" *ngIf="mediaURL">
    </div>
    <div class="controllers-container" *ngIf="room && user">
      <ng-template [ngIf]="levelsReady && user.Sight !== 'blind'">
        <ion-button class="calendar-btn" fill="clear" shape="round"
          *ngIf="!room.IsGroup && (room.Type === 'end' || room.Type === '' || room.Type === 'waiting')
          && (user.Role === 0 || (user.TelecomCredit && user.Role === 1))" (click)="openSuggestPanel()">
          <ion-icon name="calendar"></ion-icon>
        </ion-button>
      </ng-template>
      <ion-textarea class="message-input" [rows]="1" placeholder="{{ 'Enter message ...' | translate }}"
        [autoGrow]="true" [(ngModel)]="message" (ionFocus)="willSend()"></ion-textarea>
      <ion-button class="gift-btn ion-no-padding" fill="clear" shape="round" (click)="onToggleGift()"
        *ngIf="!room.IsGroup && roomType !== 'admin' && user.TelecomCredit && user.Sight !== 'blind'">
        <ion-icon name="gift"></ion-icon>
      </ion-button>
      <ion-button class="image-btn" fill="clear" shape="round" (click)="fileInput.click()"
        *ngIf="user.Role === 0 || (user.TelecomCredit && user.Role === 1)">
        <ion-icon name="image"></ion-icon>
      </ion-button>
      <ion-button appIonClick class="send-btn" fill="clear" shape="round" (debounceClick)="onSend()" [debounceTime]="700">
        <ion-icon name="send"></ion-icon>
      </ion-button>
      <input #fileInput class="image-upload" type="file" (change)="onFileChanged($event)"
        accept="image/x-png, image/jpeg">
    </div>
  </ion-toolbar>
  <ng-container *ngIf="isVisibleGiftContainer">
    <ion-toolbar>
      <ion-segment mode="md" [(ngModel)]="selectedGiftTab" (ngModelChange)="onChangeGiftTab()">
        <ion-segment-button value="{{ parentGift.Name }}" *ngFor="let parentGift of gifts">
          <ion-label>{{ parentGift.Name }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <div class="gift-container">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center" size="3" *ngFor="let gift of selectedGifts">
            <img class="gift-img" [src]="gift.ImageURL" (click)="onSendGift(gift)">
            <span class="gift-point">{{ gift.Point | number }} pt</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>
  <ng-container *ngIf="suggestionPanel && partner && user">
    <ion-item lines="none">
      <ion-label>
        {{ 'Private Schedule' | translate }}
      </ion-label>
      <ion-datetime displayFormat="YYYY年 M月 D日 HH時 mm分" min="{{ getThisYear() }}" max="{{ getThisYear() + 1 }}"
        minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="meetTime" class="np-start"
        cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}">
      </ion-datetime>
    </ion-item>
    <!-- <ion-item lines = "none" *ngIf = "persons.length > 0 && periods.length > 0">
      <ion-label>
        {{ 'How many to call?' | translate }}
      </ion-label>
      <ion-select slot="end" [(ngModel)]="person" class="mw-70" cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="option.value" *ngFor="let option of persons">{{ option.name }}
        </ion-select-option>
      </ion-select>
    </ion-item> -->
    <ion-item>
      <ion-label>
        {{ 'How long to call?' | translate }}
      </ion-label>
      <ion-select slot="end" [(ngModel)]="period" class="mw-70" cancelText="{{ 'Cancel' | translate }}"
        okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="option.value" *ngFor="let option of periods">{{ option.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="help-text">
        <strong>{{ (user.Role === 1 ? partner.PointHalf : user.PointHalf) | number }}P</strong>
        ({{ 'Cast' | translate }}{{ 'Point/30min' | translate }}) × 2 × {{ period }}{{ 'Hour' | translate }} ×
        {{ person }}{{ 'People' | translate }}
      </ion-label>
      <ion-text>

      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        {{ 'Sum' | translate }}
      </ion-label>
      <ion-text>
        {{ (user.Role === 1 ? partner.PointHalf : user.PointHalf) * 2 * period * person | number }}pt
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label></ion-label>
      <ion-text class="extend-help">
        ※延長 15 分につき自動で {{ (user.Role === 1 ? partner.PointHalf : user.PointHalf) / 2 * 1.3 | number}}pt が発生します<br/>
        ※合流後、予定より早く解散した場合でも予定時間分の料金が発生します。
      </ion-text>
    </ion-item>
    <ion-grid>
      <ion-row class="last-help">
        実際に合流するまでポイントは消費されません
      </ion-row>
    </ion-grid>
    <ion-button appIonClick expand="full" (debounceClick)="suggestCall()" [debounceTime]="700">{{ 'Suggest Person And Schedule' | translate }}</ion-button>
  </ng-container>
</ion-footer>