ion-title {
  padding: 0 5px;
}

.image-upload {
  display: none;
}

.image-container {
  display: flex;
  justify-content: center;
  max-height: 200px;

  .image-clear-btn {
    position: absolute;
    left: 0;
    height: 36px;
    --padding-start: 8px;
    --padding-end: 8px;
  }

  img {
    object-fit: contain;
  }
}

.controllers-container {
  padding: 0 5px;
  display: flex;

  .message-input{
    padding-left: 5px;
    --padding-top: 8px;

    &.ios {
      // --padding-top: 12px;
      --padding-bottom: 0;    
    }
  
    &.md {
      margin-top: 1.5px;
    }
  }

  .calendar-btn,
  .gift-btn,
  .image-btn,
  .send-btn {
    height: 36px;
    --padding-start: 4px;
    --padding-end: 4px;
  }

  .no-guest {
    --padding-start: 10px;
  }
}

.message-datetime {
  margin: 10px 0;
  width: 100%;
  text-align: center;

  span {
    background-color: #cccccc;
    color: #ffffff;
    font-size: 10px;
    padding: 0 10px;
    border-radius: 4px;
  }
}

.message-col {
  display: flex;

  // ion-avatar {
  //   box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 16px;
  // }  

  .message-container {
    position: relative;
    padding: 10px 10px 8px 10px;
    max-width: calc(100% - 80px);
    height: fit-content;
    white-space: pre-line;
    word-break: break-word;
    border-radius: 6px;
    font-size: 14px;
    user-select: text;

    .arrow {
      position: absolute;
      top: 15px;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }

    .message-image {
      margin-top: 3px;
    }

    &.can-not-see{
      width: 200px;
      background-image: url("../../../../../assets/img/blurred.png");
      text-align: center;
      ion-button{
        --ion-color-contrast: white !important;
        font-weight: bold;
      }
    }
  }

  &.notice-message{
    justify-content: center;
    .message-container{
      text-align: center;
      font-size: 12px;
    }
  }

}

.message-col.md {
  .message-container {
    margin-top: 15px;
  }
}

.message-col.ios {
  .message-container {
    margin-top: 5px;
  }
}

.message-left .message-col {
  .message-container {
    margin-left: 10px;
    color: var(--ion-padding-primary);
    background-color: var(--ion-color-light);
    // box-shadow: rgba(0, 0, 0, .1) 0px 4px 16px;

    .arrow {
      left: -5px;
      border-right: 5px solid var(--ion-color-light);
    }
  }
}

.message-right .message-col {
  flex-direction: row-reverse;

  .message-container {
    margin-right: 10px;
    color: #ffffff;
    background-color: var(--ion-color-primary);
    // box-shadow: rgba(30, 69, 117, .4) 0px 4px 16px;

    .arrow {
      right: -5px;
      border-left: 5px solid var(--ion-color-primary);
    }    
  }
}

.message-left,
.message-right {
  margin: 5px 0;
}

.partner-avatar {
  z-index: 10;
}

.groupchat-avatar {
  width: 50px;
  height: 50px;
}

ion-toolbar:not(.chat-info-toolbar) {
  ion-avatar {
    width: 30px;
    height: 30px;
  }
}

ion-toolbar.chat-info-toolbar {
  ion-text {
    font-size: 14px;
  }

  ion-item {
    --padding-start: 0;
  }

  ion-badge {
    padding: 5px;
    margin-right: 5px;
  }

  .join-info-div {

    // border: 1px solid #1e4575;
    ion-row.join-info-row {
      --min-height: 30px;
    }

    ion-col.vertical-center {
      align-self: center;
    }
  }

  .join-button {
    width: 120px;
  }

}

.config-panel {
  ion-item {
    --min-height: 30px;
  }

  margin-bottom: 20px;

  .message-call-condition {
    margin: 1px 12px;
    padding-top: 5px;
    border: 1px solid #ccc;
  }
}

.private-call-condition {
  max-width: 75%;
  --padding-start: 10px;
}

.cancel-private-call {
  --background: firebrick;
  font-size: 12px;
  width: 60px;
  height: 60px;
}

.footer {
  overflow-y: auto;

  .gift-container {
    height: 350px;

    .gift-img {
      width: 100%;
      height: 80px;
      object-fit: cover;
    }

    .gift-point {
      font-size: 10px;
    }
  }
}

ion-header{
  .partner-img{
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius : 50%;
    vertical-align: middle;
  }

  ion-toolbar.detail-info{
    .transparent-item{
      --background: transparent;
    }
    
    .detail-group-info{
      ion-row{
        padding-left: 8px;
        .partner-info{
          font-size: 14px;
          ion-icon{
            vertical-align: middle;
            margin: 0 2px;
          }
        }
        &.group-avatars-row{
          flex-wrap: nowrap;
          ion-avatar{
            width: 36px;
            height: 36px;
            margin: 0 3px;
          }
        }
      }
      .join-info{
        position: relative;

        .status-item{
          margin-top: 5px;
          margin-bottom: 5px;
          --min-height: 30px;
          --background: transparent;
          font-size: 16px;
          ion-badge{
            font-size: 12px;
            border-radius: 3px;
            margin-right: 8px;
            --ion-color-contrast: white !important;
          }
        }

        .help-text{
          font-size: 14px;
        }

        ion-button.cancel-btn{
          width: 80px;
          height: 31px;
          margin-left: 5px;
        }
      }
      .join-control{
        .control-item{
          .control-button{
            width: 80px;
            height: 31px;
            font-size: 14px;
          }
        }
      }

      .suggest-control{
        ion-button{
          width: 96px;
          height: 31px;
          font-size: 14px;
        }
      }
    }

    .gift-panel{
      text-align: center;
      .gift-point-btn{
        min-width: 200px;
        border-radius: 50%;
        height: 38px;
        font-size: 16px;
        --ion-color-contrast: white !important;
      }
      .gift-num{
        color: var(--ion-color-vip);
        font-size: 16px;
      }

      ion-row{
        --min-height: 30px;
      }
    }

    ion-item.invoice-link{
      --min-height: 30px;
      --background: transparent;
      ion-label, ion-text{
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
        
    ion-item.down-item{
      --inner-padding-end: 0;
      --min-height: 32px;
      font-size: 14px;
      ion-icon.item-down-icon{
        color: var(--detail-icon-color);
        font-size: var(--detail-icon-font-size);
        opacity: var(--detail-icon-opacity);
      }
    }

    ion-item.content-item{
      --min-height: 32px;
    }

    ion-item{
      --padding-start: 10px;
    }
  }
}

.help-text{
  font-size: 14px;
}

.extend-help{
  font-size: 12px;
}

.last-help{
  justify-content: center;
  font-size: 14px;
  color: var(--ion-color-vip);
}

ion-footer{
  ion-button{
    margin: 0;
  }
}

ion-item.note-item{
  --background: transparent;
  --padding-start: 10px;
  font-size: 10px;
}

ion-text.tooltip-btn{  
  position: absolute;
  left: 8px;
  background-color: var(--ion-color-primary);
  border-radius: 8px;
  color: white;
  padding: 8px 10px;
  height: 36px;
  bottom: 46px;
  font-size: 14px;
  z-index: 11;

  &.md{
    bottom: 54px;
  }

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--ion-color-primary);
    left: 12px;
    bottom: -5px;
  }

  &.md:before{
    left: 8px;
  }

  &.ios-tooltip{
    bottom: 75px;
  }
}
