<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [disabled]="!about || about.trim().length < 1" (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Profile' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Self Introduction' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-textarea inputmode="text" [maxlength]="1000" [autoGrow]="true" [rows]="4" placeholder="{{ 'Required' | translate }}" [(ngModel)]="about">
      </ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>