<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/main/notice">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="getNotifyCount() > 0" color="danger" class="notify-count-badge ion-no-padding">
        {{ getNotifyCount() }}
      </ion-badge>
    </ion-buttons>
    <ion-title>{{ 'Glass Call List' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="mode">
      <ion-segment-button value="today">
        <ion-label>{{ 'Today' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tomorrow">
        <ion-label>{{ 'Tomorrow' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="mode === 'today'">
  <ion-header *ngIf="user">
    <ng-template [ngIf]="user.Role===0" [ngIfElse]="applierToday">
      <ion-item lines="none" *ngIf="!(user.LineID && user.LineID !== '') && !(user.Email && user.Email !== '')"
        class="ion-no-margin ion-no-padding header-item" [detail]="false" routerLink="/main/mypage/setting/notify">
        <p>【通知設定】メールかLINEで連携してください </p>        
      </ion-item>
    </ng-template>
    <ng-template #applierToday>
      <ion-item lines="none" class="ion-no-margin ion-no-padding header-item" [detail]="true" (click)="gotoLine()">
        <p class="applier">本登録することで全機能が使えるようになります。glass運営LINE＠へご連絡ください。</p>
      </ion-item>
    </ng-template>
  </ion-header>
  <ion-header>
    <ion-img src="assets/img/usage-cast.png" routerLink="/main/mypage/help/usage"></ion-img>
  </ion-header>
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="!isPresent && user && user.Role === 0">
    <ion-fab-button (click)="presentToday()" class="present-button">
      <ion-icon name="flag-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-list *ngIf="childTagsReady && calls['today'].length > 0 && admin">
    <ion-card class="call-card" *ngFor="let callItem of calls['today']; index as index"
      [ngClass]="{ 'active' : isActive(callItem) }">
      <ion-item *ngIf="levelsReady && callItem.User" lines="none">
        <ng-template
          [ngIf]="callItem.IsAnonymous && !callItem.IsPrivate && (callItem.Status === 'waiting' || callItem.Status === 'condition')"
          [ngIfElse]="normalCall">
          <ion-avatar slot="end">
            <img src="{{ admin.Image }}">
          </ion-avatar>
          <ion-label>
            <h2>{{ 'Anonymous' | translate }} {{ getAge(admin.Birthday) }}歳</h2>
          </ion-label>
        </ng-template>
        <ng-template #normalCall>
          <ion-avatar slot="end" [routerLink]="['/main/profile', callItem.User.ProfileID]">
            <img [src]="callItem.User.Images[0].Path">
          </ion-avatar>
          <ion-label>
            <h3>{{ { Nickname: callItem.User.Nickname, Birthday: callItem.User.Birthday,
              BirthdayHidden: callItem.User.BirthdayHidden } | label }}</h3>
            <p>{{ getLevelName(callItem.User.PointUsed) }}</p>
          </ion-label>
        </ng-template>
      </ion-item>
      <ion-item class="reservation-item" lines="none" *ngIf="callItem.Reservation">
        <p class="reservation-text">
          {{ 'Reservation Name' | translate }} : <strong>{{ callItem.Reservation }}</strong>
        </p>
      </ion-item>
      <ion-item class="reservation-item" *ngIf="callItem.Place">
        <p class="reservation-text">
          {{ 'Place' | translate }} : <strong>{{ callItem.Place }}</strong>
        </p>
      </ion-item>
      <ion-item lines="none" class="time-item">
        <strong>{{ getMeetLocationStr(callItem) }}</strong>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <strong>{{ getMeetTimeStr(callItem, 'time') }}</strong>
        </ion-label>
        <span class="call-type" *ngIf="callItem.IsPrivate">
          {{ 'Private Call' | translate }}
        </span>
        <span class="call-type" *ngIf="!callItem.IsPrivate">
          {{ 'Public Call' | translate }}
        </span>
      </ion-item>
      <ion-item lines="none" *ngIf="childTagsReady && callItem.SituationIDArray.length > 0" class="tag-item">
        <p class="ion-no-margin tag-item">
          {{ getTags(callItem) }}
        </p>
      </ion-item>
      <ion-item *ngIf="callItem.GiftPoint > 0" lines="none">
        <ion-label class="gift-point-label">
          <span>{{ 'Gift Call' | translate }} / {{ callItem.GiftPoint }}pt</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="class-item">
          <p class="d-flex">
            <ion-icon name="time-outline" color="primary" class="icon-info"></ion-icon>
            <strong>{{ callItem.Period }}時間</strong>
            <ion-icon name="person-outline" color="primary" class="icon-info"></ion-icon>
            <strong>{{ getClassPerson(callItem) }}</strong>
          </p>
          <!-- <p *ngIf="callItem.ClassID === 0">
            {{ getClassString(callItem) }}
          </p> -->
        </ion-label>
      </ion-item>

      <ion-item class="text-item" lines="none">
        <p class="status-text">
          {{ 'Expected Earn Point' | translate }}
        </p>
      </ion-item>
      <ion-item class="text-item" lines="none">
        <ion-label class="help-text">
          <strong>{{ getTotalCost(callItem) }}pt</strong>
        </ion-label>
        <ion-buttons>
          <ion-button fill="outline" (click)="apply(callItem.ID, index, 'today')" 
            [disabled]="getButtonState(callItem) && !canApply">
            {{ getButtonText(callItem) }}
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item lines="none" class="extend-item">
        <ion-label class="extend-label">
          <span>{{ 'When Expired' | translate }}</span> <strong>+{{ getExtendCost(callItem) }}pt/15分</strong>
        </ion-label>
      </ion-item>
      <ng-template [ngIf]="(callItem.Status === 'starting' || callItem.Status === 'break') && userConfirmed(callItem)"
        [ngIfElse]="callOtherCase">
        <div class="call-start-mark ion-align-items-center ion-text-center">
          <label *ngIf="callItem.Status === 'starting'">
            {{ 'Joining Now' | translate }}
          </label>
          <label *ngIf="callItem.Status === 'break'">
            {{ 'Standby Payment' | translate }}
          </label>
        </div>
      </ng-template>
      <ng-template #callOtherCase>
        <div class="call-start-mark ion-align-items-center ion-text-center"
          *ngIf="(callItem.Status === 'condition' || callItem.Status === 'waiting') && userApplied(callItem)">
          <label>
            {{ 'Selecting Now' | translate }}
          </label>
        </div>
        <ng-template [ngIf]="callItem.KeepApplying" [ngIfElse]="noMoreApply">
          <div class="call-start-mark ion-align-items-center ion-text-center"
          *ngIf="(callItem.Status !== 'condition' && callItem.Status !== 'waiting') && userApplied(callItem)">            
            <label *ngIf = "userConfirmed(callItem)">
              {{ 'Join Confirmed' | translate }}
            </label>
            <label *ngIf = "!userConfirmed(callItem)">
              {{ 'Selecting Now' | translate }}
            </label>            
          </div>
        </ng-template>
        <ng-template #noMoreApply>
          <div class="call-start-mark ion-align-items-center ion-text-center"
            *ngIf="(callItem.Status !== 'condition' && callItem.Status !== 'waiting')">            
            <ng-template [ngIf]="userApplied(callItem)" [ngIfElse]="noApply">
              <label *ngIf = "userConfirmed(callItem)">
                {{ 'Join Confirmed' | translate }}
              </label>
              <label *ngIf = "!userConfirmed(callItem)">
                {{ 'Dropped' | translate }}
              </label>
            </ng-template>
            <ng-template #noApply>
              <label>
                {{ 'Application Ended' | translate }}
              </label>
            </ng-template>
          </div>
        </ng-template>
      </ng-template>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll #ionInfScrollToday threshold="100px" (ionInfinite)="loadData(mode, $event)"
    [disabled]="allLoaded[mode]">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div *ngIf="user && calls['today'].length == 0 && admin">
    <ion-img src="{{ admin.Image }}" style="width:50%;text-align:center;margin:auto;"></ion-img>
    <ion-list lines="none" style="font-size:0.8em;">
      <ion-item>本日開催予定のグループコールはありません</ion-item>
      <ion-item>明日以降のグループコールを確認する場合は上部メニューの「明日以降」をタップして下さい。</ion-item>
    </ion-list>
    <div *ngIf="!(user.LineID && user.LineID !== '')" class="cap_box is-style-onborder_ttl mt20" style="margin-left:1%; margin-right:1%;">
      <div class="cap_box_ttl">
        <ion-icon name="alert-circle"></ion-icon>通知が届かない場合は？
      </div>
      <div class="cap_box_content">
        <p>コールが鳴った際にすぐ通知を受けたい場合はマイページ＞通知設定よりLINE連携を行ってください。</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="mode === 'tomorrow'">
  <ion-header *ngIf="user">
    <ng-template [ngIf]="user.Role===0" [ngIfElse]="applierTomorrow">
      <ion-item lines="none" *ngIf="!(user.LineID && user.LineID !== '') && !(user.Email && user.Email !== '')"
        class="ion-no-margin ion-no-padding header-item" [detail]="false" routerLink="/main/mypage/setting/notify">
        <p>【通知設定】メールかLINEで連携してください </p>        
      </ion-item>
    </ng-template>
    <ng-template #applierTomorrow>
      <ion-item lines="none" class="ion-no-margin ion-no-padding header-item" [detail]="true" (click)="gotoLine()">
        <p class="applier">本登録することで全機能が使えるようになります。glass運営LINE＠へご連絡ください。</p>
      </ion-item>
    </ng-template>
  </ion-header>
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="!isPresent">
    <ion-fab-button (click)="presentToday()" class="present-button">
      <ion-icon name="flag-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-list *ngIf="childTagsReady && calls['tomorrow'].length > 0 && admin">
    <ion-card class="call-card" *ngFor="let callItem of calls['tomorrow']; index as index"
      [ngClass]="{ 'active' : isActive(callItem) }">
      <ion-item *ngIf="levelsReady && callItem.User" lines="none">
        <ng-template
          [ngIf]="callItem.IsAnonymous && !callItem.IsPrivate && (callItem.Status === 'waiting' || callItem.Status === 'condition')"
          [ngIfElse]="normalTomorrowCall">
          <ion-avatar slot="end">
            <img src="{{ admin.Image }}">
          </ion-avatar>
          <ion-label>
            <h2>{{ 'Anonymous' | translate }} {{ getAge(admin.Birthday) }}歳</h2>
          </ion-label>
        </ng-template>
        <ng-template #normalTomorrowCall>
          <ion-avatar slot="end" [routerLink]="['/main/profile', callItem.User.ProfileID]">
            <img [src]="callItem.User.Images[0].Path">
          </ion-avatar>
          <ion-label>
            <h3>{{ { Nickname: callItem.User.Nickname, Birthday: callItem.User.Birthday,
              BirthdayHidden: callItem.User.BirthdayHidden } | label }}</h3>
            <p>{{ getLevelName(callItem.User.PointUsed) }}</p>
          </ion-label>
        </ng-template>
      </ion-item>
      <ion-item class="reservation-item" lines="none" *ngIf="callItem.Reservation">
        <p class="reservation-text">
          {{ 'Reservation Name' | translate }} : <strong>{{ callItem.Reservation }}</strong>
        </p>
      </ion-item>
      <ion-item class="reservation-item" *ngIf="callItem.Place">
        <p class="reservation-text">
          {{ 'Place' | translate }} : <strong>{{ callItem.Place }}</strong>
        </p>
      </ion-item>
      <ion-item lines="none" class="time-item">
        <strong>{{ getMeetLocationStr(callItem) }}</strong>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <strong style="font-size: 18px;">{{ getMeetTimeStr(callItem) }}</strong>
        </ion-label>
        <span class="call-type" *ngIf="callItem.IsPrivate">
          {{ 'Private Call' | translate }}
        </span>
        <span class="call-type" *ngIf="!callItem.IsPrivate">
          {{ 'Public Call' | translate }}
        </span>
      </ion-item>
      <ion-item lines="none" *ngIf="childTagsReady && callItem.SituationIDArray.length > 0" class="tag-item">
        <p class="ion-no-margin tag-item">
          {{ getTags(callItem) }}
        </p>
      </ion-item>
      <ion-item *ngIf="callItem.GiftPoint > 0" lines="none">
        <ion-label class="gift-point-label">
          <span>{{ 'Gift Call' | translate }} / {{ callItem.GiftPoint }}P~</span>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="class-item">
          <p class="d-flex">
            <ion-icon name="time-outline" color="primary" class="icon-info"></ion-icon>
            <strong>{{ callItem.Period }}時間</strong>
            <ion-icon name="person-outline" color="primary" class="icon-info"></ion-icon>
            <strong>{{ getClassPerson(callItem) }}</strong>
          </p>
          <!-- <p *ngIf="callItem.ClassID === 0">
            {{ getClassString(callItem) }}
          </p> -->
        </ion-label>
      </ion-item>

      <ion-item class="text-item" lines="none">
        <p class="status-text">
          {{ 'Expected Earn Point' | translate }}
        </p>
      </ion-item>
      <ion-item class="text-item" lines="none">
        <ion-label class="help-text">
          <strong>{{ getTotalCost(callItem) }}pt</strong>
        </ion-label>
        <ion-buttons>
          <ion-button fill="outline" (click)="apply(callItem.ID, index, 'tomorrow')"
            [disabled]="getButtonState(callItem) && !canApply">
            {{ getButtonText(callItem) }}
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item lines="none" class="extend-item">
        <ion-label class="extend-label">
          <span>{{ 'When Expired' | translate }}</span> <strong>+{{ getExtendCost(callItem) }}pt/15分</strong>
        </ion-label>
      </ion-item>
      <ng-template [ngIf]="(callItem.Status === 'starting' || callItem.Status === 'break') && userConfirmed(callItem)"
        [ngIfElse]="callOtherCase">
        <div class="call-start-mark ion-align-items-center ion-text-center">
          <label *ngIf="callItem.Status === 'starting'">
            {{ 'Joining Now' | translate }}
          </label>
          <label *ngIf="callItem.Status === 'break'">
            {{ 'Standby Payment' | translate }}
          </label>
        </div>
      </ng-template>
      <ng-template #callOtherCase>
        <div class="call-start-mark ion-align-items-center ion-text-center"
          *ngIf="(callItem.Status === 'condition' || callItem.Status === 'waiting') && userApplied(callItem)">
          <label>
            {{ 'Selecting Now' | translate }}
          </label>
        </div>
        <ng-template [ngIf]="callItem.KeepApplying" [ngIfElse]="noMoreApply">
          <div class="call-start-mark ion-align-items-center ion-text-center"
          *ngIf="(callItem.Status !== 'condition' && callItem.Status !== 'waiting') && userApplied(callItem)">            
            <label *ngIf = "userConfirmed(callItem)">
              {{ 'Join Confirmed' | translate }}
            </label>
            <label *ngIf = "!userConfirmed(callItem)">
              {{ 'Selecting Now' | translate }}
            </label>            
          </div>
        </ng-template>
        <ng-template #noMoreApply>
          <div class="call-start-mark ion-align-items-center ion-text-center"
            *ngIf="(callItem.Status !== 'condition' && callItem.Status !== 'waiting')">            
            <ng-template [ngIf]="userApplied(callItem)" [ngIfElse]="noApply">
              <label *ngIf = "userConfirmed(callItem)">
                {{ 'Join Confirmed' | translate }}
              </label>
              <label *ngIf = "!userConfirmed(callItem)">
                {{ 'Dropped' | translate }}
              </label>
            </ng-template>
            <ng-template #noApply>
              <label>
                {{ 'Application Ended' | translate }}
              </label>
            </ng-template>
          </div>
        </ng-template>
      </ng-template>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll #ionInfScrollTomorrow threshold="100px" (ionInfinite)="loadData(mode, $event)"
    [disabled]="allLoaded[mode]">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-list lines="none" *ngIf="user && calls['tomorrow'].length == 0 && admin">
    <ion-img src="{{ admin.Image }}" style="width:50%;text-align:center;margin:auto;"></ion-img>
    <ion-list lines="none">
      <ion-item>明日以降開催予定のグループコールはありません</ion-item>
    </ion-list>
    <div *ngIf="!(user.LineID && user.LineID !== '')" class="cap_box is-style-onborder_ttl mt20"
      style="margin-left:1%; margin-right:1%;">
      <div class="cap_box_ttl">
        <ion-icon name="alert-circle"></ion-icon>通知が届かない場合は？
      </div>
      <div class="cap_box_content">
        <p>コールが鳴った際にすぐ通知を受けたい場合はマイページ＞通知設定よりLINE連携を行ってください。</p>
      </div>
    </div>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar class="ion-no-border present-toolbar">
    <ng-template [ngIf]="schedule">
      <ng-template [ngIf]="schedule.Enabled" [ngIfElse]="disabledSchedule">
        <div>
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
          {{ 'Status Now: Today Free' | translate }}{{ getTimeRange() }}
        </div>
      </ng-template>
      <ng-template #disabledSchedule>
        <div>
          <ion-icon name="close-circle-outline" color="danger"></ion-icon>
            {{ 'Status Now: no set' | translate }}    
        </div>
      </ng-template>
    </ng-template>
    <ion-button expand="full" (click)="openScheduleModal()">
      {{ 'Apply for today presence' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>