.call-card{
  width: 92%;
  margin: 18px auto;
  border-left: 5px solid var(--ion-color-warning-tint);

  ion-item{
    --padding-start: 15px;
    --min-height: 36px;

    &.text-item{
  
      .status-text{
        color: #777;
        font-size: 12px;
        margin: 0;
      }
      .help-text{
        font-size: 24px;
        margin: 0;
      }
    }

    &.reservation-item{
      p.reservation-text{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 15px;    
      }
      --min-height: 32px;
    }

    &.sum-item{
      --padding-bottom: 10px;
    }

    &.time-item{
      --padding-top: 10px;
      font-size: 18px;
    }

    &.tag-item{
      --min-height: 20px;
      color: #aaa;
    }

    ion-label.class-item{
      p{
        color: black;
        &:first-child{
          font-size: 17px;
        }
      }
    }

    ion-label.extend-label{
      color: var(--ion-color-danger-tint);
      display: flex;
      span{
        font-size: 12px;
        background-color: var(--ion-color-danger-tint);
        color: white;
        align-self: start;
        padding: 3px;
        margin-right: 5px;
      }
    }

    ion-button{
      height: 40px;
      width: 110px;
      font-size: 14px;
    }

    ion-label.gift-point-label{
      margin: 0;
      span{
        font-size: 12px;
        background-color: var(--ion-color-danger-tint);
        padding: 2px 4px;
        color: white;
      }
    }

    p.tag-item{
      font-size: 11px;
    }

    .sum-label{
      font-size: 15px;
    }

    .icon-info{
      font-size: 22px;
      margin-right: 3px;
      margin-left: 3px;
    }
  }

  &.active{
    border: 3px solid var(--ion-color-secondary-tint);
  }
}

.present-button{
  font-weight: bold;
  width: 70px;
  height: 70px;
  ion-icon{
    font-size: 36px;
  }
}

// call start mark
.call-start-mark{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 2;
  color: white;
  font-size: 36px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.call-type{
  font-size: 14px;
  color: #555;
}

ion-toolbar.present-toolbar{
  padding-top: 6px;
  --border-width: 0; 
  div {
    display: flex; 
    justify-content: center;
    font-size: 14px;
    ion-icon{
      align-self: center;
      margin-right: 2px;
    }
  }
}