<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Profile' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Basic Information' | translate }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let detail of details">
      <ion-label>{{ detail.Name }}</ion-label>
      <ion-select class="ion-text-end" cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}"
        placeholder="{{ 'Undefined' | translate }}" (ionChange)="onSelect($event, getSelectedValue(detail))"
        [value]="getSelectedValue(detail)">
        <ion-select-option [value]="0">{{ 'No Select' | translate }}</ion-select-option>
        <ng-container *ngFor="let subDetail of detail.Children">
          <ion-select-option [value]="subDetail.ID"
            *ngIf="(role===1 && subDetail.MaleShown) || (role===0 && subDetail.FemaleShown)">
            {{ subDetail.Name }}
          </ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>