<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [disabled]="!nickname || nickname.trim().length < 1" (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Profile' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Nickname' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input inputmode="text" [maxlength]="20" placeholder="{{ 'Required' | translate }}" [(ngModel)]="nickname">
      </ion-input>
    </ion-item>
  </ion-list>
  <div class="notes ion-padding-horizontal">
    <p>お相手から呼ばれたい名前を入力しよう。</p>
  </div>
</ion-content>