<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage/point/history"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Point Detail' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="invoice && invoiceDetail">
    <ng-template [ngIf]="invoiceDetail.length > 0" [ngIfElse]="noDetail">
      <ion-list *ngFor="let detail of invoiceDetail">
        <ion-list-header *ngIf="invoice.User.ID > 0 && invoice.User.Role === 1" class="invoice-cast">
          <ion-avatar style="margin-right: 8px;">
            <img [src]="detail.User.Images[0].Path"
              *ngIf="detail.User && detail.User.Images && detail.User.Images.length > 0">
          </ion-avatar>
          <ion-label>{{ { Nickname : detail.User.Nickname, Birthday : detail.User.Birthday,
            BirthdayHidden: detail.User.BirthdayHidden } | label }}</ion-label>
        </ion-list-header>
        <ion-list-header *ngIf="invoice.User.ID > 0 && invoice.User.Role == 0">
          <br>
          {{ 'Earned Point' | translate }}
        </ion-list-header>
        <ion-item *ngIf="detail.StartedAt && invoice.User.Role !== 1">
          <ion-label>{{ 'Join Start Time' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.StartedAt | date: 'M/d HH:mm' }}</ion-text>
        </ion-item>
        <ion-item *ngIf="detail.EndedAt && invoice.User.Role !== 1">
          <ion-label>{{ 'Join End Time' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.EndedAt | date: 'M/d HH:mm' }}</ion-text>
        </ion-item>
        <ion-item *ngIf="invoice.User.Role !== 1">
          <ion-label>{{ 'Meeting Period' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.JoinTime | number }}分</ion-text>
        </ion-item>        
        <ion-item>
          <ion-label>{{ 'Confluence 60 Minutes' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.Period * 60 }}分</ion-text>
        </ion-item>
        <ion-item>
          <ion-label *ngIf="invoice.User.Role === 1">
            {{ 'Meeting' | translate }} 
            {{ detail.JoinTime < detail.Period * 60 ? (detail.JoinTime | number) : detail.Period * 60 }}分
          </ion-label>
          <ion-label *ngIf="invoice.User.Role !== 1">{{ 'Meeting Point' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.JoinPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Delay 30 Minutes' | translate }} {{ getExpiredTime(detail.JoinTime, detail.Period) }}分
          </ion-label>
          <ion-text slot="end">{{ detail.ExtendPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Desire Matching' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.DesirePoint | number }}pt</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Midnight Allowance' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.NightPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Gift Point' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.GiftPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Subtotal' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.TotalPoint | number }}pt</ion-text>
        </ion-item>
      </ion-list>
    </ng-template>
    <ng-template #noDetail>
      <ion-list>
        <ion-item lines="none">
          詳細情報がございません
        </ion-item>
      </ion-list>
    </ng-template>
    <ion-list *ngIf="invoice">
      <ion-list-header>
        <ion-label>
          {{ 'Sum' | translate }}
        </ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-label></ion-label>
        <ion-text>
          <h4>
            <strong>{{ invoice.Amount | number }} pt</strong>
          </h4>
        </ion-text>
      </ion-item>
    </ion-list>
    <ion-list class="ion-padding-horizontal">
      <ion-button expand="block" color="primary" (click)="openReviewPanel()">{{ 'Review' | translate }}</ion-button>
    </ion-list>
    <br>
  </ng-container>
</ion-content>