<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage/setting"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Notify Setting' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- <ion-list *ngIf="user && user.Setting">
    <ion-list-header>
      <ion-label>{{ 'Application Notify Setting' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'Footprint' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="user.Setting.AppFootprint" (ngModelChange)="onChange()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Tweet Like' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="user.Setting.AppTweetLike" (ngModelChange)="onChange()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Auto Delay Notify' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="user.Setting.AppAutoDelayNotify" (ngModelChange)="onChange()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Auto Charge Notify' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="user.Setting.AppAutoCharge" (ngModelChange)="onChange()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Auto Remove Notify' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="user.Setting.AppAutoRemove" (ngModelChange)="onChange()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'App Message' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="user.Setting.AppMessage" (ngModelChange)="onChange()"></ion-toggle>
    </ion-item>
  </ion-list> -->
  <ion-list *ngIf="user && user.Setting && pushEnabled">
    <ion-list-header>
      <ion-label>{{ 'App Push Notification Setting' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'Protect from receving push notification on this device' | translate }}</ion-label>
      <ion-toggle [ngModel]="pushStatus" (ngModelChange)="statusChanged($event)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'All App Push Notification Setting' | translate }}</ion-label>
      <ion-toggle [ngModel]="isAppPushAll()" (ngModelChange)="onAllChange($event, 'push')"></ion-toggle>
    </ion-item>
    <br>
    <ng-template [ngIf]="pushAnyTrue()">
      <ion-item>
        <ion-label>{{ 'Like' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.PushLike" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Message' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.PushMessage" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Tweet Like' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.PushTweetLike" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Ads Notify' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.PushAdsNotify" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Auto Call All Notify' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.PushCallNotify" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
    </ng-template>
  </ion-list>
  <ion-list *ngIf="user && !user.LineID">
    <ion-list-header>
      <ion-label>{{ 'LINE Account Setting' | translate }}</ion-label>
    </ion-list-header>
    <ion-item routerLink="/main/mypage/link">
      <ion-label>{{ 'LINE Cooperation' | translate }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.LineID && user.Setting">
    <ion-list-header>
      <ion-label>{{ 'LINE Notify Setting' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'All LINE Notification Setting' | translate }}</ion-label>
      <ion-toggle [ngModel]="isLineAll()" (ngModelChange)="onAllChange($event, 'line')"></ion-toggle>
    </ion-item>
    <br>
    <ng-template [ngIf]="lineAnyTrue()">
      <!-- <ion-item>
        <ion-label>{{ 'Footprint' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineFootprint" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item> -->
      <ion-item>
        <ion-label>{{ 'Like' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineLike" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Message' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineMessage" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
      <!-- <ion-item>
        <ion-label>{{ 'Message From Admin' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineAdminMessage" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item> -->
      <!-- <ion-item>
        <ion-label>{{ 'Join Leave Notify' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineJoinLeaveNotify" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Auto Delay Notify' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineAutoDelayNotify" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item> -->
      <ion-item>
        <ion-label>{{ 'Tweet Like' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineTweetLike" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
      <!-- <ion-item *ngIf="user.Role === 1">
        <ion-label>{{ 'Auto Charge Email Notify' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineAutoChargeNotify" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="user.Role === 0">
        <ion-label>{{ 'Auto Call Notify' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineAutoCallNotify" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Auto Remove Notify' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineAutoRemoveNotify" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item> -->
      <!-- <ion-item *ngIf="user.Role === 0">
        <ion-label>{{ 'New Guest Register' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineNewGuestNotify" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item> -->
      <ion-item>
        <ion-label>{{ 'Ads Notify' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineAdsNotify" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Auto Call All Notify' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="user.Setting.LineCallNotify" (ngModelChange)="onChange()"></ion-toggle>
      </ion-item>
    </ng-template>    
  </ion-list>

  <ion-list *ngIf="user && user.Setting">    
    <ion-list-header>
      <ion-label>{{ 'Email Notify Setting' | translate }}</ion-label>
    </ion-list-header>    
    <ion-item [button]="true" (click)="openEmailModal()">
      <ion-text *ngIf="user.Email">{{ user.Email }}</ion-text>
      <ion-text color="medium" *ngIf="!user.Email">{{ 'You can select email address' | translate }}</ion-text>
    </ion-item>
    <ng-template [ngIf]="user.Email && user.Email !== ''">
      <ion-item>
        <ion-label>{{ 'All Email Notification Setting' | translate }}</ion-label>
        <ion-toggle [ngModel]="isEmailAll()" (ngModelChange)="onAllChange($event, 'email')"></ion-toggle>
      </ion-item>
      <br>
      <ng-template [ngIf]="emailAnyTrue()">
        <!-- <ion-item>
          <ion-label>{{ 'Footprint' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailFootprint" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item> -->
        <ion-item>
          <ion-label>{{ 'Like' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailLike" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Message' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailMessage" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item>
        <!-- <ion-item>
          <ion-label>{{ 'Message From Admin' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailAdminMessage" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item> -->
        <!-- <ion-item>
          <ion-label>{{ 'Join Leave Notify' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailJoinLeaveNotify" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Auto Delay Notify' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailAutoDelayNotify" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item> -->
        <ion-item>
          <ion-label>{{ 'Tweet Like' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailTweetLike" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item>
        <!-- <ion-item>
          <ion-label>{{ 'Notify From Admin' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailAdminNotify" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item> -->
        <!-- <ion-item *ngIf="user.Role === 1">
          <ion-label>{{ 'Auto Charge Email Notify' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailAutoChargeNotify" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="user.Role === 0">
          <ion-label>{{ 'Auto Call Notify' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailAutoCallNotify" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Auto Remove Notify' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailAutoRemoveNotify" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item> -->
        <ion-item>
          <ion-label>{{ 'Ads Notify' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailAdsNotify" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Auto Call All Notify' | translate }}</ion-label>
          <ion-toggle [(ngModel)]="user.Setting.EmailCallNotify" (ngModelChange)="onChange()"></ion-toggle>
        </ion-item>
      </ng-template>
    </ng-template>
  </ion-list>
  <ion-list *ngIf="user && user.Setting">    
    <ion-list-header>
      <ion-label>{{ 'SMS Notify Setting' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'Ads Notify' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="user.Setting.PhoneAdsNotify" (ngModelChange)="onChange()"></ion-toggle>
    </ion-item>
  </ion-list>
  <!-- <ion-list *ngIf="user && user.Setting">
    <ion-list-header>
      <ion-label>{{ 'Privacy Setting' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'All Ranking Setting' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="user.Setting.PrivacyAllRanking" (ngModelChange)="onChange()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Favorite Ranking' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="user.Setting.PrivacyFavoriteRanking" (ngModelChange)="onChange()"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.Setting">
    <ion-list-header>
      <ion-label>{{ 'Fever Setting' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'Tag Setting' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="user.Setting.FeverTag" (ngModelChange)="onChange()"></ion-toggle>
    </ion-item>
  </ion-list> -->  
</ion-content>