<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Several Settings' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item [detail]="true" routerLink="/main/mypage/setting/block">
      <ion-icon slot="start" name="eye-off-outline" color="primary"></ion-icon>
      <ion-label>{{ 'Block / Unblock' | translate }}</ion-label>
    </ion-item>
    <ion-item [detail]="true" routerLink="/main/mypage/setting/notify">
      <ion-icon slot="start" name="list" color="primary"></ion-icon>
      <ion-label>{{ 'Notify Setting' | translate }}</ion-label>
    </ion-item>
    <ion-item [detail]="true" routerLink="/main/mypage/setting/private">
      <ion-icon slot="start" name="list" color="primary"></ion-icon>
      <ion-label>{{ 'Privacy Setting' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>