ion-header {
  position: fixed;
  transition: all 0.5s ease 0s;
}

.back-button {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;

  &.ios-back-button{
    top: 50px;
    left: 20px;
  }

  ion-button {
    --border-radius: 100%;
    --padding-start: 2px;
    --padding-end: 2px;
  }
}

.avatar-slide {
  ion-slide {
    background-color: var(--bullet-background);
  }

  img {
    height: 500px;
    object-fit: cover;
  }

  .slide-info {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .8)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
    padding: 10px 15px;

    ion-text {
      display: flex;
    }

    .status-icon {
      margin-left: -2px;
      margin-right: 5px;
      padding-top: 1px;
    }

    .slide-info-text {
      font-size: 14px;
    }

    .slide-info-level {
      font-size: 12px;
      background-color: var(--ion-color-warning);
      padding: 1px 10px;
      border-radius: 6px;
      margin-left: 15px;
    }
  }
}

.thumb-slide {
  padding: 10px;

  // ion-slide {
  //   opacity: .5;
  // }

  .active {
    opacity: 1;
  }

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}

.calendar-btn {
  display: flex;
  align-items: center;
}

.calendar-btn.inactive {
  color: #dddddd;
}

.calendar-btn-prev {
  padding-left: 5px;
}

.calendar-btn-next {
  padding-right: 5px;
  justify-content: flex-end;
}

ion-list:last-of-type {
  margin-bottom: 60px;
}

.operate-btn {
  position: fixed;
  margin: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.calendar-container {
  margin-left: -20px;
}

.calendar-date {
  font-size: 20px;
  font-weight: bold;
}

.tweet-list {
  ion-item {
    align-items: flex-start;

    ion-avatar {
      margin-top: 10px;
    }

    ion-label {
      user-select: text;

      .tweet-content {
        white-space: normal;
      }

      h2:focus,
      h3:focus,
      p:focus {
        outline: none;
      }

      ion-img {
        width: 100%;
        height: 20vh;
        object-fit: cover;
        border-radius: 5px !important;
        overflow: hidden;
      }

      .heart-count {
        display: flex;
        float: right;

        p {
          margin: auto 0;
        }
      }
    }
  }
}

ion-slide.slide-video{
  height: 70px;
  overflow-y: hidden;
  display: flex;
  position: relative;
  video{
    align-self: center;
    width: 100%;  
  }
  ion-icon.play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }
}

video.profile-video{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  align-self: center;
}

.avatar-slide {
  display: flex;
  position: relative;
  text-align: center;
  height: 500px;
  overflow-y: hidden;
  img {
    height: 500px;
    object-fit: cover;
    width:100%;
  }

  ion-icon.mute-button{
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 12px;
    font-size: 48px;
    color:white;
    
    &.sound-on{
      color: white;
    }

    &.ios-back-button{
      top: 150px;
    }
  }
}