<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'My QR Code' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="qrcode-container">
    <qrcode [qrdata]="qrdata" [width]="300" [errorCorrectionLevel]="'Q'" *ngIf="qrdata"></qrcode>
  </div>
    <div class="cap_box is-style-onborder_ttl mt20 mb20 ion-padding-horizontal" style="margin-bottom:20px;">
      <div class="cap_box_ttl">マイQRについて</div>
      <div class="cap_box_content">
        <p>お友達に自分のプロフィールを紹介する場合にお使いください。</p>
      </div>
    </div>
</ion-content>