<ion-header *ngIf="!isDialog">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'Call the Cast' | translate }}" defaultHref="/main/call"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="isDialog" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="close-btn">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Tell me the call condition' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list *ngIf="call">
    <ion-item *ngIf="childLocations.length > 0">
      <ion-label>
        {{ 'Where to call?' | translate }}
      </ion-label>
      <ion-select slot="end" [(ngModel)]="call.LocationID" (ngModelChange)="childLocationChanged()" class="mw-70"
        cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="option.ID" *ngFor="let option of childLocations">{{ option.Name }}
        </ion-select-option>
        <ion-select-option [value]="0">{{ 'Other' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="call.LocationID === 0" lines="none">
      <ion-input placeholder="{{ 'Please Input The Location' | translate }}" [(ngModel)]="call.OtherLocation">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        {{ 'When to call?' | translate }}
      </ion-label>
      <ion-select slot="end" [(ngModel)]="call.MeetTime" (ngModelChange)="selectMeetTime()" class="mw-70"
        cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="option" *ngFor="let option of meetTimes">{{ option }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="call.TimeOther" lines="none">
      <ion-datetime displayFormat="YYYY年 M月 D日 HH時 mm分" min="{{ getThisYear() }}" max="{{ getThisYear() + 1 }}"
        minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="call.MeetTimeISO" class="np-start"
        cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>
        {{ 'How many to call?' | translate }}
      </ion-label>
      <ion-select slot="end" [(ngModel)]="call.Person" (ngModelChange)="personChanged()" class="mw-70"
        cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="option.value" *ngFor="let option of persons">{{ option.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        {{ 'How long to solo call?' | translate }}
      </ion-label>
      <ion-select slot="end" [(ngModel)]="call.Period" class="mw-70" cancelText="{{ 'Cancel' | translate }}"
        okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="option.value" *ngFor="let option of periods">{{ option.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ng-template [ngIf]="classList.length > 0">
      <ion-item lines="none">
        <ion-label>
          {{ 'Desired Cast Class?' | translate }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="d-none">
          {{ 'Desired Cast Class?' | translate }}
        </ion-label>
        <ion-select slot="end" [(ngModel)]="call.ClassID" class="mw-80" (ngModelChange)="classChanged()"
          cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
          <ng-container *ngFor="let option of reverseClassList">
            <ion-select-option [value]="option.ID" *ngIf="option.EnName !== 'royal'">
              {{ option.Name.padEnd(10, ' ') + (option.Point | number) + ('Point/30min' | translate) }}
            </ion-select-option>
          </ng-container>
          <ion-select-option [value]="0">{{ 'Selected By Staff' | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ng-template>

    <ng-template [ngIf]="classList.length > 0 && call.ClassID === 0">
      <!-- <ion-item lines="none">
        <ion-label>
          {{ 'Mix' | translate }}
        </ion-label>
        <ion-text slot="end">
          {{ ( getMixValue() | number ) + ( 'Point/30min' | translate )}}
        </ion-text>
      </ion-item>
      <ion-item lines="none" *ngFor="let option of call.Classes; index as index">
        <ion-label>
          {{ option.class.Name }}
        </ion-label>
        <ion-text>
          {{ option.number }}{{ 'People' | translate }}
        </ion-text>
        <ion-buttons slot="end">
          <ion-icon name="remove-circle-outline" class="number-change-icon" (click)="onMinus(index)" color="primary">
          </ion-icon>
          <ion-icon name="add-circle-outline" class="number-change-icon" (click)="onPlus(index)" color="primary">
          </ion-icon>
        </ion-buttons>
      </ion-item> -->
      <ion-item lines="none">
        <ion-label>
          {{ 'Selected By Staff' | translate }}
        </ion-label>
        <ion-text slot="end">
          {{ minClassPoint * call.Person * call.Period * 2 | number }}P ~
          {{ maxClassPoint * call.Person * call.Period * 2 | number }}P
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        *今すぐ呼びたい方におすすめ。応募のあったスタンダード＆VIPの中からランクを問わず呼べます。
      </ion-item>
    </ng-template>
    <ion-item>
      <ion-label>{{ 'Reservation Name' | translate }}</ion-label>
      <ion-input [(ngModel)]="call.Reservation" placeholder="{{ 'Reservation Name' | translate }}" class="ion-text-right"></ion-input>
    </ion-item>
    <ion-item *ngIf="call.LocationID > 0">
      <ion-label>{{ 'Reservation Place' | translate }}</ion-label>
      <ion-input [(ngModel)]="call.Place" placeholder="{{ 'Reservation Place' | translate }}" class="ion-text-right"></ion-input>
    </ion-item>
    <ion-item [ngStyle]="keyboardStyle" lines="none">
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="!isDialog">
  <ion-toolbar>
    <ion-button expand="full" (click)="goToNextStep()" routerLink="/main/call/situation">
      {{ 'Go to next step' | translate }}(1/4)
    </ion-button>
  </ion-toolbar>
</ion-footer>