ion-content {
  ion-item {
    margin-top: 10px;
  }
}

ion-footer{
  ion-toolbar{
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    ion-button{
      margin: 0;
    }
  }
}

ion-buttons.close-btn.ios:first-of-type {
  display: none;
}