.review-item{
  --inner-padding-bottom: 5px;
  margin-bottom: 10px;

  ion-label{
    margin-right: 10px;
    width: 48px;
    max-width: 48px;
  }

  ion-avatar{
    width: 48px;
    height: 48px;
  }
  
  .number-change-icon{
    font-size: 20px;
  }

  h6.question{
    font-size: 12px;
    p{
      margin: 3px 0;
    }

    p.user-info{
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  .button-div{
    margin-left: 5px;

    &.active{
      &.up-vote{
        .vote-btn{
          border: 1px solid var(--ion-color-warning);
          ion-icon{
            color: var(--ion-color-warning) !important;
          }
        }

        p{
          color: var(--ion-color-warning) !important;
        }
      }
    
      &.down-vote{
        .vote-btn{
          border: 1px solid var(--ion-color-danger);
          ion-icon{
            color: var(--ion-color-danger) !important;
          }
        }

        p{
          color: var(--ion-color-danger) !important;
        }
      }      
    }

    .vote-btn{
      width: 36px;
      height: 36px;
      border-radius: 50%;
      ion-icon{
        color: var(--ion-color-medium);
      }      
    }

    p{
      font-size: 10px;
      text-align: center;
    }
  }
}

.comment-input{
  background: #eee;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.add-family-btn{
  height: 40px;
  --ion-color-contrast: white !important;
}

.help-text{
  font-size: 12px;
  color: #ccc;
}

.bad-choice{
  height: 34px;
  margin-right: 10px;
  font-size: 12px;
  color: var(--ion-color-medium);
  --background: white;
  --background-activated: white;
  --background-focused: white;
  --background-hover: white;
  border: 1px solid;
  border-radius: 5px;
  &.active{
    color: var(--ion-color-vip);
  }
}