<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Guest Review' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf = "guest && review">
  <ion-list *ngIf = "source">
    <ion-list-header>
      <ion-label>
        合流したゲスト様は
      </ion-label>
    </ion-list-header>
    <ion-list-header style = "margin-top: 0;">
      <ion-label style = "margin-top: 0;">
        いかがでしたか？
      </ion-label>
    </ion-list-header>
    <ion-list-header>
      <ion-label style = "margin-top: 0;">
        <p>
          この内容は自分だけが見れる、ゲスト様には秘密のメモです。メモを入力すると、振り返りや確認ができます。ぜひご活用ください。
        </p>
      </ion-label>
    </ion-list-header>
    <ion-item lines = "none">
      <ion-label>
        <strong>{{ getTime() }}</strong>
      </ion-label>
    </ion-item>
    <ion-item class = "review-item">
      <ion-label>
        <ion-avatar>
          <img [src] = "guest.Images[0].Path" class = "cast-image">
        </ion-avatar>          
      </ion-label>
      <h6 class = "question">
        <p class = "user-info">
          <!-- {{ { Nickname: guest.Nickname, Birthday: guest.Birthday } | label }} -->
          {{ guest.Nickname }}
        </p>
        <p>
          また会いたいですか?
        </p>
      </h6>
      <ion-text slot="end">        
        <ion-buttons>
          <div class = "button-div down-vote" [ngClass] = "{ 'active': isActive(review, false) }" (click)="onMinus()">
            <ion-button class = "vote-btn">
              <ion-icon name="thumbs-down-outline" class="number-change-icon">            
              </ion-icon>
            </ion-button>
            <p class = "ion-no-margin">
              いいえ
            </p>
          </div>
          <div class = "button-div up-vote" [ngClass] = "{ 'active': isActive(review, true) }" (click)="onPlus()">
            <ion-button class = "vote-btn">
              <ion-icon name="thumbs-up-outline" class="number-change-icon">
              </ion-icon>
            </ion-button>
            <p class = "ion-no-margin">
              はい
            </p>
          </div>
        </ion-buttons>
      </ion-text>      
    </ion-item>
    <ng-template [ngIf] = "review.IsGood !== null">
      <ng-template [ngIf] = "review.IsGood === true" [ngIfElse] = "downVote">
        <ion-item lines = "none">
          <p class = "help-text">
            どんな方でしたか？
          </p>
        </ion-item>
        <ion-item lines = "none">
          <ion-textarea class="comment-input" [rows]="3"
          [autoGrow]="true" [(ngModel)]="review.HowGuest"></ion-textarea>
        </ion-item>
        <ion-item lines = "none">
          <p class = "help-text">
            どんな話で盛リ上がったか？
          </p>
        </ion-item>
        <ion-item lines = "none">
          <ion-textarea class="comment-input" [rows]="3"
          [autoGrow]="true" [(ngModel)]="review.HowUp"></ion-textarea>
        </ion-item>
      </ng-template>
      <ng-template #downVote>
        <ion-item lines = "none">
          <p class = "help-text">
            どんな方でしたか？
          </p>
        </ion-item>
        <ion-item lines = "none">
          <ion-textarea class="comment-input" [rows]="3"
          [autoGrow]="true" [(ngModel)]="review.HowGuest"></ion-textarea>
        </ion-item>
        <ion-item lines = "none">
          <p class = "help-text">
            どんな話で盛リ上がったか？
          </p>
        </ion-item>
        <ion-item lines = "none">
          <ion-textarea class="comment-input" [rows]="3"
          [autoGrow]="true" [(ngModel)]="review.HowUp"></ion-textarea>
        </ion-item>            
      </ng-template>
    </ng-template>
  </ion-list>
</ion-content>
