<ion-content>
  <ion-list>
    <ion-list-header class = "ion-text-center ion-no-padding">
      <ion-label>
        {{ 'Up Point With Gifts' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item lines = "none" class = "ion-margin-top">
      <ion-grid class = "ion-no-padding">
        <ion-row class = "ion-no-padding">
          <ion-col size = "3" class = "ion-no-padding gift-label">
            {{ "Normal" | translate }}
          </ion-col>
          <ion-col size = "3" class = "ion-no-padding gift-label ion-text-center">
            {{ "Popular" | translate }}
          </ion-col>
          <ion-col size = "3" class = "ion-no-padding gift-label ion-text-center">
            {{ "Great Popular" | translate }}
          </ion-col>
          <ion-col size = "3" class = "ion-no-padding gift-label ion-text-right">
            {{ "Super Popular" | translate }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-progress-bar [value] = "getValue()" class = "gift-bar"></ion-progress-bar>
        </ion-row>
        <ion-row>
          <h6 class = "small-note">
            ※決定するポイントに応じて、キャストからの人気になる可能性が変化します。            
          </h6>
        </ion-row>
        <ion-row class = "ion-align-items-end">
          <ion-col class = "ion-align-items-end">
            <h6 class = "max-gift-point">
              <strong>本日のチップ最高額<span>{{ giftToday | number }}pt</span></strong>
            </h6>
          </ion-col>
        </ion-row>      
      </ion-grid>
    </ion-item>
    <ion-item lines = "none">
      <ion-label>
        <strong>{{ 'Sum' | translate }}</strong>
      </ion-label>
      <ion-text>
        <ion-icon name="refresh" color="primary" class = "refresh-icon" (click) = "formatGift()"></ion-icon>
        <strong>{{ giftSum | number }}pt</strong>
      </ion-text>
    </ion-item>
    <ion-item lines = "none">
      <ion-grid class = "ion-no-padding">
        <ion-row>
          <ion-col size = "4" *ngFor = "let giftItem of gifts">
            <ion-button fill = "outline" class = "gift-btn ion-text-wrap" (click) = "upSum(giftItem.Point)">
              +{{ giftItem.Point | number }}pt
              <img class = "gift-img" [src] = "giftItem.ImageURL">
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand = "full" (click) = "confirmGift()">
      {{ 'Confirm' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>