.gift-label{
  font-size: 14px;
}

.gift-bar{
  margin-top: 10px;
  height: 6px;
  border-radius: 3px;
}

.small-note{
  font-size: 12px;
}

.max-gift-point{
  text-align: right !important;
  span{
    margin-left: 20px;
    color: var(--ion-color-primary);
  }
}

.gift-btn{
  margin: 5px 0;
  width: 90%;
  height: 40px;
  .gift-img{
    margin-left: 5px;
    width: 20px;
  }
}

.refresh-icon{
  margin-right: 10px;
  font-size: 20px;
}

.refresh-icon+strong{
  color: var(--ion-color-primary);
  font-size: 20px;
}

ion-footer {
  ion-toolbar {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    ion-button {
      margin: 0;
    }
  }
}