ion-slides{
  height: 100%;

  ion-slide{
    height: 100%;

    h6.help-text{
      font-size: 12px;
      text-align: left;
      line-height: 1.2rem;
    }
        
    ion-avatar{
      margin-right: 0px;
      border:1px dotted gray;
      img{
        width: 50px;
        height:50px;
      }
    }

    ion-label.next-title{
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
    }

    ion-grid.cast-grid{
      margin-top: 255px;
    }

    .image-container {
      height: 150px;
      display: flex;

      ion-thumbnail{
        --size: 150px;
        position: relative;
        ion-icon{
          position: absolute;
          right: 20px;
          bottom: 0px;
          font-size: 32px;
          color: var(--ion-color-primary);
        }
      }
    
      ion-img {
        margin: auto;
        width: 150px;
        border-radius: 50%;
      }
    }

    .line-login-button {
      --background: #00c300;
      --background-activated: #00b300;
      font-weight: 700;
    
      img {
        margin-right: 10px;
        width: 25px;
        height: 25px;
      }
    }

    &.tutorial-slide ion-list{
      height: 100%;
      overflow-y:scroll;
    }

    &.cast-slide ion-list.cast-list-top{
      width: 100%;
    }
  }  
}

.cast-avatar{
  object-fit: fill;
  margin-bottom: 10px;
  width:48px;
  height:48px;
}

ion-list.cast-list-top{
  z-index: 4;
}

.level-item{
  .level-bar{
    margin-bottom: 8px;
    height: 6px;
    border-radius: 3px;
  }
  
  .level-label{
    font-size: 12px;
  }

}

img.avator-example{
  height:250px;

}
div.avator-example{
  margin-top:5px;
  margin-left:5px;
  border:1px dotted gray;
  p{
    font-size:0.9em;
  }
  img{
    height:250px;
  }
}

ion-footer {
  ion-toolbar {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    ion-button {
      margin: 0;
    }
  }
}

ion-row.group-avatars-row{
  padding-left: 8px;
  flex-wrap: nowrap;
  ion-avatar{
    border: none !important;
    width: 48px;
    height: 48px;
    margin: 0 3px;
  }
}

ion-item.newline{
  white-space: pre-line;
}

ion-item.newline::before {
	content: "\A" ;
	white-space: pre ;
}