<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-img src="assets/img/top-logo.png" style="width: 90px; margin: auto;"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToNext()">
        {{ 'Skip' | translate }}
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-slides #mySlider (ionSlideWillChange)="slideChanged()">

<!--  welcome slide for guests-->
    <ion-slide class="welcome-slide tutorial-slide" *ngIf="admin">
      <ion-list>
        <ion-list-header>
          ✨glassへようこそ✨
        </ion-list-header>
        <ion-item lines="none">
          <img class="ion-padding" src="{{ admin.Image }}">
        </ion-item>
        <p>
          glassのご案内を務めさせて頂きます。<br>
          運営コンシェルジュの<b>ちゃんくま</b>です。<br><br>
          簡単なチュートリアルを進めて<br>
          glassを楽しみましょう♪
        </p>
      </ion-list>
    </ion-slide>
<!-- // welcome slide-->

<!--  bonus-slide for guests 一時非表示
<ion-slide class="bonus-slide tutorial-slide">
  *ngIf="(likedCasts < 5 && role === 1) || !isLineAdded || !isProfileAdded">
  <ion-list>
    <ion-list-header *ngIf="">
      ✨ボーナスポイントをGETしよう✨
    </ion-list-header>
    <ion-item lines="none">
      <img class="ion-padding" src="assets/img/freetrial-sp.png">
    </ion-item>
  </ion-list>
</ion-slide>
 // bonus slide-->

 <!--  nickname slide-->

    <ion-slide *ngIf="nickname===''" class="nickname-slide tutorial-slide">
      <ion-list>
        <ion-list-header>
          素敵なニックネームを                   
        </ion-list-header>
        <ion-list-header>
          教えて下さい！ 
        </ion-list-header>
        <ion-item lines="none">
          <h6 class="help-text">
            キャストに呼ばれたい名前を教えて下さい。（20文字以内）
          </h6>
        </ion-item>
        <br>
        <br>        
        <ion-item>
          <ion-input [ngModel]="nickname">
          </ion-input>
        </ion-item>
        <br>
        <!-- <ion-button expand="block" (click)="saveNickname()" class="ion-padding-horizontal">
          {{ 'Save' | translate }}
        </ion-button> -->
      </ion-list>
    </ion-slide>
<!-- // nickname slide-->
<!--  cast slide-->

    <ion-slide *ngIf="!isCastLiked && role === 1" class="cast-slide">
      <ion-content>
        <ion-list slot="fixed" class="cast-list-top">
          <ion-list-header>
            {{ 'Completely free until meet actually' | translate }}
          </ion-list-header>
          <ion-list-header>
            <ion-label class="next-title">
              {{ 'To Five Favorite Casts' | translate }}
            </ion-label>
          </ion-list-header>
          <ion-list-header>
            <ion-label class="next-title">
              {{ 'Give Like' | translate }}
            </ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-avatar *ngFor="let cast of favoriteCasts" class="cast-avatar">
                  <img [src]="cast.Images[0].Path" style="height: 100%;">
                </ion-avatar>
                <ng-template [ngIf]="favoriteCasts.length < 5">
                  <ion-avatar *ngFor="let _ of getArray(5 - favoriteCasts.length)" class="cast-avatar">
                    <img src="assets/img/empty.png">
                  </ion-avatar>
                </ng-template>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item lines="none">
            <h6 class="help-text"> あなたの好みを機会学習して、最適なマッチングをいたします。 </h6>
          </ion-item>
          <!-- <ion-button expand="block" (click)="saveFavoriteCasts()" class="ion-padding-horizontal">
            {{ 'Save' | translate }}
          </ion-button> -->
          <!-- <br> -->
        </ion-list>
        <ion-grid *ngIf="casts.length > 0" class="cast-grid">
          <ion-row style="margin-bottom: 5px;">
            <ion-col size="6" *ngFor="let cast of casts">
              <app-cast-card [nickname]="cast.Nickname" [birthday]="cast.Birthday"
                [birthdayHidden]="cast.BirthdayHidden" [point]="cast.PointHalf" [status]="cast.Status"
                [leftAt]="cast.LeftAt ? cast.LeftAt : ''" [word]="cast.Word" [isMatching]="false"
                [classColor]="cast.Class?.Color" [className]="cast.Class?.Name" [castStart]="cast.CastStart"
                [image]="cast.Images[0].Path" [isFavoriteCard]="true" [isFavorite]="isFavorite(cast.ID)"
                (changeFavorite)="changeFavorite(cast)" [locationName]="cond.getLocationName(cast)" [profileID]="cast.ProfileID">
              </app-cast-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="casts.length===0" class="cast-grid">
          <ion-row style="margin-bottom: 5px;">
            <ion-col class="ion-padding">
              {{ 'No Cast to select' | translate }}
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-infinite-scroll #ionInfiniteScroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="allLoaded">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
      <!-- <ion-footer>
        <ion-button expand="block" (click)="saveFavoriteCasts()"></ion-button>
      </ion-footer> -->
    </ion-slide>
<!--  //cast slide-->
<!--  profile slide-->

    <ion-slide class="profile-slide tutorial-slide" *ngIf="!isProfileAdded">
      <ion-list>
        <ion-list-header>
          プロフ写真を登録しよう✨
        </ion-list-header>
        <ion-item lines="none">
          <h6 class="help-text" *ngIf="role === 1">
            写真が登録してあるだけで、気になるキャストとのマッチング率が10倍にアップします。
          </h6>
          <h6 class="help-text" *ngIf="role !== 1">
                写真が複数枚登録されていると、ゲスト様とのマッチング率が10倍にアップします。
          </h6>
        </ion-item>
        <br>
        <div class="image-container ion-justify-content-center">
          <ion-thumbnail>
            <ion-img [src]="imageURLs[0]" (click)="fileInput.click()" *ngIf="imageURLs.length > 0">              
            </ion-img>
            <ion-icon name="add-circle"></ion-icon>
          </ion-thumbnail>
        </div>
        <ion-grid>
          <ion-row class="group-avatars-row" *ngIf="imageURLs.length > 1">
            <ion-avatar *ngFor="let imageItem of imageURLs">
              <img class="group-avatar" [src]="imageItem">
            </ion-avatar>
          </ion-row>
        </ion-grid>
        <input #fileInput class="ion-hide" type="file" (change)="onFileChanged($event)" accept="image/x-png, image/jpeg" multiple/>
        <!-- <br>
        <ion-button expand="block" (click)="saveProfileImage()" class="ion-padding-horizontal">
          {{ 'Save' | translate }}
        </ion-button> -->
        <div *ngIf="role == 1" class="cap_box is-style-onborder_ttl mt20" style="text-align: center;">
          <div class="cap_box_ttl">こんな写真が好まれます</div>
          <div class="cap_box_content"><img  class="avator-example" src="assets/img/avator-example.jpg" /></div>
        </div>
      </ion-list>
    </ion-slide>
<!--  //profile slide-->
<!--  line slide-->

    <ion-slide *ngIf="!isCreditAdded && role === 1" class="telecom-slide tutorial-slide">
      <ion-list>        
        <ion-list-header>
          クレジットカードを登録しよう
        </ion-list-header>
        <div class="notes ion-padding-horizontal ion-text-left">
          <p>メッセージ、つぶやき完全無料。</p>
          <p>年齢確認に使うための登録で、<strong>実際に会うまで一切請求されません</strong>。</p>
        </div>
        <form #checkCardForm action="https://secure.telecomcredit.co.jp/inetcredit/adult/order.pl" method="GET">
          <input type="hidden" name="clientip" [ngModel]="clientIP">
          <input type="hidden" name="sendid" [ngModel]="user.ID" *ngIf="user">
          <input type="hidden" name="usrmail" [ngModel]="user.Email" *ngIf="user && user.Email">
          <input type="hidden" name="usrtel" [ngModel]="phoneNumber" *ngIf="user && user.PhoneNumber">
          <input type="hidden" name="option" [ngModel]="user.ID" *ngIf="user">
          <input type="hidden" name="redirect_url" [ngModel]="redirectURL + '?telecomcredit=success'">
          <input type="hidden" name="redirect_back_url" [ngModel]="redirectURL + '?telecomcredit=success'">
        </form>
        <div class="cap_box is-style-onborder_ttl mt20 mb20 ion-padding-horizontal" style="margin-bottom:20px; text-align:center;">
          <div class="cap_box_ttl">ご登録可能なカードについて</div>
          <div class="cap_box_content">
            <p><img class="ion-padding" src="assets/img/card.gif"></p>
            <p>VISA、MASTER、JCB、アメックス、ダイナースカードなど各種カードご利用いただけます。</p> 
          </div>
        </div>
        <ion-button expand="block" class="credit-button" (click)="checkCardForm.submit()">
          {{ 'Add Credit Card' | translate }}
        </ion-button>        
      </ion-list>
      
    </ion-slide>

　  <ion-slide *ngIf="!isTodayWordSet && (role === 0 || role === 10)" class="word-slide tutorial-slide">
      <ion-list style="width: 100%;">        
        <ion-list-header>
          今日のひとことを
        </ion-list-header>
        <ion-list-header>
          記入しましょう
        </ion-list-header>
        <hr>
        <ion-item>
          <ion-textarea inputmode="text" [maxlength]="100" [autoGrow]="true" [rows]="1"
          placeholder="{{ 'ひとことを書いて下さい' | translate }}" [(ngModel)]="today">
          </ion-textarea>
        </ion-item>
        <div class="cap_box is-style-onborder_ttl mt20 mb20 ion-padding-horizontal" style="margin-bottom:20px;">
          <div class="cap_box_ttl">ひとことのポイント</div>
          <div class="cap_box_content">
            例：〇日お誘いお待ちしてます♪<br/>
            例：〇日～〇日東京にいまーす！<br />
            例：ゴルフ大好きです♪♪<br />
            <br />
            ゲスト様の一番目に止まるポイントなので、お誘いを受けやすくなる文章を10文字以内で書きましょう♪
          </div>
        </div>
      </ion-list>
    </ion-slide>

    <ion-slide *ngIf="!isAboutSet && (role === 0 || role === 10)" class="about-slide tutorial-slide">
      <ion-list style="width: 100%;">        
        <ion-list-header>
          自己紹介文を書きましょう
        </ion-list-header>
        <ion-item>
          <ion-textarea inputmode="text" [maxlength]="1000" [autoGrow]="true" [rows]="4"
          placeholder="{{ '自己紹介文を書いて下さい' | translate }}" [(ngModel)]="about">
          </ion-textarea>
        </ion-item>
        <div class="cap_box is-style-onborder_ttl mt20 mb20 ion-padding-horizontal" style="margin-bottom:20px;">
          <div class="cap_box_ttl">自己紹介文 作成のポイント</div>
          <div class="cap_box_content" style="font-size:0.8em; text-align:left;">
              1、挨拶<br />
              →初めまして！<br />
              →〇〇と申します<br />
              <br />
              2、自己紹介 → 🌟ゲストの興味を惹きたい<br />
              →〇〇歳です<br />
              →普段は都内でOLをしています<br />
              <br />
              3、性格 → 🌟どんな時間を一緒に過ごせるか伝えたい<br />
              →よく笑います<br />
              →周りには天然って言われます<br />
              →末っ子っぽいって言われます<br />
              <br />
              4、好きなもの → 🌟共通な話題があればGood<br />
              →お肉料理が好きです<br />
              →アウトドアが好きです<br />
              <br />
              5、エリア情報<br />
              →渋谷、新宿エリアに行きやすいです<br />
              <br />
              6、最後の一言 → 🌟結びの文、ココ大事<br />
              →美味しい日本酒のお店教えてくれる方募集しています<br />
              →まずはメッセージでお話ししましょう<br />
              <br />
              【プロフィール例文】<br />
              人とお話しするのが大好きな〇〇〇です！明るくてよく喋るねって言われます🌟<br />
              好きな食べ物は海鮮系！お魚料理全般が好きです💞お酒は日本酒が好きで、酔うと楽しくなってよく笑うようになります💛飲みのお誘いお待ちしています🍺🥳<br />
              ジムで鍛えたりスポーツに興味があるので、一緒に体を動かして楽しんでくれる方も募集しています🥳<br />
          </div>
        </div>
      </ion-list>
      
      
    </ion-slide>

    <ion-slide *ngIf="!isLineAdded" class="line-slide tutorial-slide">
      <ion-list>        
        <ion-list-header>
          LINEで通知連携しよう✨
        </ion-list-header>
        <ion-item lines="none">
          <h6 class="help-text">
            気になるキャストからの連絡を逃さないために通知設定をしよう。
          </h6>
        </ion-item>
        <ion-button expand="block" class="line-login-button ion-margin" (click)="associateWithLINE()">
          <img src="assets/img/line-logo.png" />
          <span>{{ 'Associate with LINE' | translate }}</span>
        </ion-button>
        <ion-item lines="none">
          <h6 class="help-text">
            *あとでLINEの通知設定をする場合は、「マイページ＞通知設定＞LINE通知」から設定可能です。
          </h6>
        </ion-item>
      </ion-list>
    </ion-slide>
<!--  //line slide-->

  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="doneAndNext()" expand="full" class="ion-no-margin">
      {{ getTitle() }}
    </ion-button>
  </ion-toolbar>
</ion-footer>