<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/cast"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'Use Email' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="action">
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col offset="1" size="10">
          <ion-button expand="block" [routerLink]="loginRoute">
            {{ 'Sign in with Email' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col offset="1" size="10">
          <ion-button fill="clear" [routerLink]="registerRoute">
            {{ 'Sign up with Email' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>