<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Help' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item [detail]="true" routerLink="/main/mypage/help/usage">
      <ion-icon slot="start" name="bulb-outline" color="primary"></ion-icon>
      <ion-label>{{ 'Usage' | translate }}</ion-label>
    </ion-item>

    <ion-item [detail]="true" routerLink="/main/mypage/help/other">
      <ion-icon slot="start" name="list" color="primary"></ion-icon>
      <ion-label>{{ 'Other' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>