
ion-grid.guest-grid{
  margin-top: 100px;
}

ion-list.guest-list-top{
  z-index: 4;
  width: 100%;
  ion-list-header{
    font-size: 20px;
  }
}

.level-item{
  .level-bar{
    margin-bottom: 8px;
    height: 6px;
    border-radius: 3px;
  }
  
  .level-label{
    font-size: 12px;
  }

}

.guest-avatar{
  object-fit: cover;
  margin-bottom: 10px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

ion-row.favorite-guests{
  width: 100%;
  flex-flow: nowrap;
  overflow-x: scroll;
}

ion-footer {
  ion-toolbar {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    ion-button {
      margin: 0;
    }
  }
}