<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-img src="assets/img/top-logo.png" style="width: 90px; margin: auto;"></ion-img>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToNext()">
        {{ 'Skip' | translate }}
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list slot="fixed" class="guest-list-top">
    <ion-list-header>
      一日一回！おすすめゲスト様へ
    </ion-list-header>
    <ion-list-header>
      いいねしてアピールしよう！
    </ion-list-header>
    <!-- <ion-item lines="none" class="ion-margin-vertical">
      <ion-row class="favorite-guests">
        <img *ngFor="let guest of favoriteGuests" [src]="guest.Images[0].Path" class="guest-avatar">
        <ng-template [ngIf]="favoriteGuests.length < 20">
          <img *ngFor="let _ of getArray(20 - favoriteGuests.length)" src="assets/img/empty.png" class="guest-avatar">
        </ng-template>
      </ion-row>
    </ion-item> -->
  </ion-list>
  <ion-grid *ngIf="guests.length > 0" class="guest-grid">
    <ion-row style="margin-bottom: 5px;">
      <ion-col size="6" *ngFor="let guest of guests">
        <app-guest-card [nickname]="guest.Nickname" [birthday]="guest.Birthday" (cardClick)="viewProfile(guest.ProfileID)"
          [birthdayHidden]="guest.BirthdayHidden" [status]="guest.Status" [leftAt]="guest.LeftAt ? guest.LeftAt : ''" [word]="guest.Word" 
          [guestStart]="guest.GuestStart" [image]="guest.Images[0].Path" [isFavorite]="isFavorite(guest.ID)" [levelNum]="getLevelNum(guest.PointUsed)"
          [levelName]="getLevelName(guest.PointUsed)" [locationName]="cond.getLocationName(guest)">
        </app-guest-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="guests.length === 0" class="guest-grid">
    <ion-row style="margin-bottom: 5px;">
      {{ 'No Guest to select' | translate }}
    </ion-row>
  </ion-grid>
  <!-- <ion-infinite-scroll #ionInfiniteScroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="allLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
<ion-footer *ngIf="guests.length > 0">
  <ion-toolbar>
    <ion-button (click)="executeLike()" expand="full" class="ion-no-margin">
      一括いいね送信
    </ion-button>
  </ion-toolbar>
</ion-footer>