<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">{{ 'Completion' | translate }}</ion-button>
    </ion-buttons>
    <ion-title>{{ 'Initial Information' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Gender' | translate }}</ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="gender">
      <ion-item>
        <ion-label>{{ 'Required' | translate }}</ion-label>
        <ion-radio value=""></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Male' | translate }}</ion-label>
        <ion-radio value="true"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'Female' | translate }}</ion-label>
        <ion-radio value="false"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>