h5{
  font-weight: bold;
}

.video-container {
  display: flex;
  
  ion-img,
  video {
      margin: auto;
      width: 100%;
  }
}

.video-container.video-placeholder {
  width: 50%;
  margin: auto;
}

.video-upload {
  display: none;
}

.loading-screen{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 12;
  background-color: black;
  opacity: 0.3;
  ion-spinner{
    z-index: 20;
    --color: white;    
    margin: auto;
    width: 40px;
    height: 40px;
  }
}