<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="videoID > 0">
      <ion-button (click)="onDelete()">
        {{ 'Delete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="loading-screen" *ngIf="isSaving">
    <ion-spinner></ion-spinner>
  </div>
  <div class="video-container ion-padding-top" [class.d-none]="videoID === 0">
    <div [class]="videoURL ? 'video-container': 'video-container video-placeholder'" class="ion-padding-horizontal">      
      <video id="video" controls playsinline *ngIf="videoURL" (loadedmetadata)="getDuration($event)" [poster]="image">
        <source [src]="videoURL" type="video/mp4" *ngIf="videoID === 0">
        <source [src]="videoURL + '#t=0.1'" type="video/mp4" *ngIf="videoID > 0">
      </video>
    </div>
  </div>
  <input #fileInput id="videoInput" class="video-upload" type="file" (change)="onFileChanged($event)" accept="video/mp4">

  <ion-list *ngIf="videoID === 0">
    <ion-text lines="none">
      <h5 class="ion-padding">
        1.お顔全体か、お顔の一部が写っているもの。
      </h5>        
    </ion-text>
    <ion-item lines="none">
      顔がはっきりと写っている動画は、特にマッチング成功率が高くなります。
    </ion-item>
    <ion-item lines="none">
　    ※顔が分からない、加工が強すぎるものは運営判断で削除させていただく場合がございます。
    </ion-item>
    <ion-text lines="none">
      <h5 class="ion-padding">
        2.自己紹介を手短に（10秒以内）
      </h5>
    </ion-text>
    <ion-item lines="none">
      例）港区在住のSHIHOと言います。嫌いな食べ物はあまり無いです！お酒はあまり強く無いですが酔うとよく笑いますｗ　日本酒が特に好き！楽しい時間を過ごしましょう
    </ion-item>
  </ion-list>
  
  <ion-toolbar class="ion-margin-top" *ngIf="videoID === 0">
    <ion-button (click) = "fileInput.click()" expand="block" [disabled]="isBlocked">
      {{ 'Upload a video' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-content>