.qrcode-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-list {
  margin-top: 10px;

  // ion-item {
  // --padding-start: 10px;
  // }

  ion-note {
    font-size: 12px;
  }
}

ion-label.width-fixed {
  max-width: 80px !important;
  min-width: 80px !important;
}

ion-list.intro-list ion-item ion-label {
  font-size: 14px;
}
