<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Introduction Coupon' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid *ngIf="config">
    <ion-row>
      <ion-col>
        <ion-card class="ion-padding">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">{{ 'Points for Waiting' | translate }}</ion-card-subtitle>
            <ion-card-title class="ion-text-center">{{ getWaitingPoints() | number }} pt</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-padding">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">{{ 'Earned Points' | translate }}</ion-card-subtitle>
            <ion-card-title class="ion-text-center">{{ getEarnedPoints() | number }} pt</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="ion-padding">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">{{ 'Coupon Status' | translate }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-segment [(ngModel)]="segment">
              <ion-segment-button value="0">{{ 'Waiting for first use' | translate }}</ion-segment-button>
              <ion-segment-button value="1">{{ 'Coupon acquired' | translate }}</ion-segment-button>
            </ion-segment>
            <ion-list lines="full" *ngIf="user" class="intro-list">
              <ng-container *ngFor="let intro of intros">
                <ion-item *ngIf="!intro.IsPointAdded && segment === '0'" class="ion-no-padding">
                  <ion-avatar slot="start" class="ion-no-margin" style="margin-right: 5px;">
                    <img [src]="intro.Visitor.Images[0].Path"
                      *ngIf="intro.Visitor.Images && intro.Visitor.Images.length > 0">
                    <img src="assets/img/avatar.svg" *ngIf="!intro.Visitor.Images || intro.Visitor.Images.length < 1">
                  </ion-avatar>
                  <ion-label *ngIf="intro.Visitor.Role === 1">
                    {{ intro.Visitor | label }} ({{ 'Guest' | translate }})
                  </ion-label>
                  <ion-label *ngIf="intro.Visitor.Role === 0 || intro.Visitor.Role === 10">
                    {{ intro.Visitor | label }} ({{ 'Cast' | translate }})
                  </ion-label>
                  <ion-label *ngIf="intro.Visitor.Role === 1" slot="end" class="ion-text-end ion-no-margin width-fixed">
                    <!-- {{ 'Waiting for first use' | translate }}  -->
                    +{{ user.Role === 2 ? (user.GuestPoint | number): (config.GuestPoint | number) }}pt
                  </ion-label>
                  <ion-label *ngIf="intro.Visitor.Role === 0 || intro.Visitor.Role === 10" slot="end"
                    class="ion-text-end ion-no-margin width-fixed">
                    <!-- {{ 'Waiting for first use' | translate }}  -->
                    +{{ user.Role === 2 ? (user.CastPoint | number) : (config.CastPoint | number) }}pt
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="intro.IsPointAdded && segment === '1'" class="ion-no-padding">
                  <ion-avatar slot="start" class="ion-no-margin" style="margin-right: 5px;">
                    <img [src]="intro.Visitor.Images[0].Path"
                      *ngIf="intro.Visitor.Images && intro.Visitor.Images.length > 0">
                    <img src="assets/img/avatar.svg" *ngIf="!intro.Visitor.Images || intro.Visitor.Images.length < 1">
                  </ion-avatar>
                  <ion-label *ngIf="intro.Visitor.Role === 1">
                    {{ intro.Visitor | label }} ({{ 'Guest' | translate }})
                  </ion-label>
                  <ion-label *ngIf="intro.Visitor.Role === 0 || intro.Visitor.Role === 10">
                    {{ intro.Visitor | label }} ({{ 'Cast' | translate }})
                  </ion-label>
                  <ion-label slot="end" class="ion-text-end ion-no-margin width-fixed">
                    <!-- {{ 'Coupon acquired' | translate }} -->
                    +{{ intro.AddedPoint | number }}pt
                  </ion-label>
                </ion-item>
              </ng-container>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="ion-padding">
          <div class="qrcode-container">
            <qrcode [qrdata]="inviteURL" [width]="300" [errorCorrectionLevel]="'Q'" *ngIf="inviteURL"></qrcode>
          </div>
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center">仲間と一緒にglassを使おう!</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text class="ion-text-center">
              <p>お友達を紹介するとプレゼント! 素敵な時間を割安で楽しめます&#9836;</p>
            </ion-text>
            <ion-button class="ion-margin-top" size="small" expand="block" (click)="onCopyToClipboard()">
              タップして、招待URLをコピーする
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="ion-padding" *ngIf="user && config">
          <ion-card-header class="ion-margin-top">
            <ion-card-subtitle>ゲスト紹介の場合</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>
              お友達がログインを完了すると、お友達に
              {{ user.Role === 2 ? user.GuestPoint : config.GuestPoint | number }}pt
              をプレゼント。お友達がキャストと初回合流すると、紹介者にも
              {{ user.Role === 2 ? user.GuestPoint : config.GuestPoint | number }}ptをプレゼント。
            </p>
          </ion-card-content>
          <ion-card-header class="ion-margin-top">
            <ion-card-subtitle>キャスト紹介の場合</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>
              友達が面談に通過し、初回合流すると
              {{ user.Role === 2 ? user.CastPoint : config.CastPoint | number }}pt
              をGET。
            </p>
          </ion-card-content>
          <ion-card-header class="ion-margin-top">
            <ion-card-subtitle>■注意事項</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>同一人物、同一クレジットカードなどのご登録が判明した場合、ポイント付与の対象外とさせていただきます。</p>
            <p>その他弊社が不正と判断した場合もポイント付与の対象外とさせて頂きます。</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>