<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'Profile Input' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">{{ 'Name' | translate }}</ion-label>
      <ion-input [(ngModel)]="nickname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'Registration Area' | translate }}</ion-label>
      <ion-select cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}" [(ngModel)]="locationID">
        <ion-select-option [value]="location.ID" *ngFor="let location of locations">{{ location.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" [disabled]="isLoading" (click)="onSave()">
      {{ 'To Next' | translate }}
    </ion-button>
  </div>
</ion-content>