<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="lineID">
      <ion-button (click)="onCancel()">
        {{ 'Cancel' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Authenticate Phone Number' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ng-template [ngIf]="lineID === null" [ngIfElse]="withLine">
    </ng-template>
    <ng-template #withLine>
      <div class="memo alert">
        <div class="memo_ttl"><ion-icon color="danger" name="alert-circle"></ion-icon>電話番号入力のお願い</div>
        <b>＊本人確認強化のため、電話番号の入力も必須とさせて頂いております。</b>
        <p>＊すでに電話番号でアカウント登録されている場合、認証が完了すると既存のアカウントとLINEが連携され、以後LINEログインが可能になります。</p>
      </div>
    </ng-template>
  <ion-list-header>
    電話番号を入力して
  </ion-list-header>
  <ion-list-header>
    認証コードを送信しましょう
  </ion-list-header>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="stacked">{{ 'Phone Number' | translate }}</ion-label>
      <!-- <ion-text class="phone-prefix">+81</ion-text> -->
      <ion-input class="phone-input" inputmode="tel" [maxlength]="15" [(ngModel)]="phoneNumber"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-note style="font-size: 14px;">
        入力例：08012345678, 09098765432
      </ion-note>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" [disabled]="isLoading" (click)="onSendSMS()">{{ 'Send SMS' | translate }}
    </ion-button>
  </div>
  <ion-list>

<!--
     <ng-template [ngIf]="lineID === null" [ngIfElse]="withLine">
      <ion-item lines="none" style="font-size: 10px; font-weight: bold; --min-height: 10px;">
        携帯電話番号認証のため、SMSメッセージが送信されます。
      </ion-item>
      <ion-item lines="none" style="font-size: 10px; font-weight: bold; --min-height: 10px;">
        これにはSMS料金及びデータ料金がかかる場合があります。
      </ion-item>
    </ng-template>
  -->

        <ion-item lines="none" style="font-size: 10px; font-weight: bold; --min-height: 10px;">
          携帯電話番号認証のため、SMSメッセージが送信されます。
        </ion-item>
        <ion-item lines="none" style="font-size: 10px; font-weight: bold; --min-height: 10px;">
          これにはSMS料金及びデータ料金がかかる場合があります。
        </ion-item>
  </ion-list>
</ion-content>