<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class = "close-btn">
      <ion-back-button text="" defaultHref="/main/notice"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      {{ title }}
    </ion-list-header>
    <ion-item lines="none">
      {{ getDateWeekday() }}{{ "　" + category }}
    </ion-item>
    <ion-item lines="none">
      {{ content }}
    </ion-item>
  </ion-list>

</ion-content>