<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label class="gray">登録完了しました</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label class="gray">ありがとうございます</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label class="gray">トップページへ移動します</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>