.small-note {
  margin-top: 0;
  font-size: 12px;
}

ion-footer{
  ion-toolbar{
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    ion-button{
      margin: 0;
    }
  }
}