<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ng-template [ngIf]="condition.Person > 1" [ngIfElse]="onePerson">
        <ion-back-button text="{{ 'Back To Desire Cast' | translate }}"
        routerLink="/main/call/desire" routerDirection="back"></ion-back-button>
      </ng-template>
      <ng-template #onePerson>
        <ion-back-button text="{{ 'Today Mood?' | translate }}"
        routerLink="/main/call/situation" routerDirection="back"></ion-back-button>
      </ng-template>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="gotCondition">
    <ion-list-header>
      <ion-label>
        {{ 'To First User' | translate }}
        <h6 class="small-note"> キャストを呼ぶうえでの注意事項をご確認ください。</h6>
      </ion-label>
    </ion-list-header>
    <br />
    <ion-item lines="none">
      <ion-label>
        解散するまでは自動延長
      </ion-label>
    </ion-item>
    <ion-item>
      <h6 class="small-note"> 予定時間を過ぎてもキャストと一緒にいる場合、自動的に延長となり料金が発生します。
        延長料金は1名あたり15分{{ getExtendPoint() | number }}pt (1pt = 1.1円)です。 </h6>
    </ion-item>
    <br />
    <ion-item lines="none">
      <ion-label>
        確定後のキャンセルは有償
      </ion-label>
    </ion-item>
    <ion-item>
      <h6 class="small-note"> マッチング確定後のキャンセルは、100%の有償キャンセルとなりますので予めご了承ください。</h6>
    </ion-item>
    <br />
    <ion-item lines="none">
      <ion-label>
        キャストの応募がなかった場合は自動キャンセル
      </ion-label>
    </ion-item>
    <ion-item>
      <h6 class="small-note"> 予定時刻までにキャストから応募がなかった場合は自動的にキャンセルとなり、その場合は無償でのキャンセルとなります。
        キャストへ個別に提案いただくか、再度条件を見直すなどして募集をお願いいたします。</h6>
    </ion-item>
    <br />
    <ion-item lines="none">
      <ion-label>
        0時〜6時は深夜手当が発生
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <h6 class="small-note">
        開始時刻または終了時刻が深夜0〜6時をまたぐコールについてはキャスト1名当たり別途4,000ptの深夜手当が発生致します。タクシー代をキャストに渡す必要はありません。
      </h6>
    </ion-item>
    <ion-item>
      <h6 class="small-note">
        ※深夜手当は1マッチングあたり1回のみの払い切りです。数時間でのマッチングでも一律一回の「深夜に伺うための」料金です。
      </h6>
    </ion-item>
    <br />
    <ion-item lines="none">
      <ion-label>
        自動ポイントチャージ
      </ion-label>
    </ion-item>
    <ion-item>
      <h6 class="small-note"> 決済時にポイントが不足していた場合、ご登録いただいたクレジットカードから自動的にポイントチャージされます。
        ＊300pt未満のポイントが不足した場合、300ptチャージされます。ご了承ください。 </h6>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        自宅、鍵のかかる個室はNG
      </ion-label>
    </ion-item>
    <ion-item>
      <h6 class="small-note">トラブル防止のためキャストとの合流では、鍵のかかる個室はNGとさせていただいております。</h6>
    </ion-item>
    <br />
  </ion-list>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ng-template [ngIf]="condition.Person > 1" [ngIfElse]="onePersonLink">
      <ion-button expand="full" routerLink="/main/call/confirm">{{ 'Go to next step' | translate }}(4/4)</ion-button>
    </ng-template>
    <ng-template #onePersonLink>
      <ion-button expand="full" routerLink="/main/call/confirm">{{ 'Go to next step' | translate }}(3/3)</ion-button>
    </ng-template>
  </ion-toolbar>
</ion-footer>