<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'Registration of Initial Information' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        {{ 'Cancel' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="role !== 2">
  <ion-list-header>
    あなたのプロフィール
  </ion-list-header>
  <ion-list-header>
     を入力してください
   </ion-list-header>
  <!--<img class="ion-padding" src="assets/img/step2.PNG">-->
  <!-- <ion-grid>
    <ion-row>
      <ion-col class="avatar-col ion-justify-content-center ion-margin-vertical">
        <ion-thumbnail class="avatar">
          <img src="assets/img/avatar.svg" *ngIf="!avatarURL">
          <img [src]="avatarURL" *ngIf="avatarURL">
        </ion-thumbnail>
        <div class="avatar-mask" (click)="fileInput.click()">
          <ion-thumbnail class="avatar">
            <img src="assets/img/avatar-mask.svg">
          </ion-thumbnail>
        </div>
        <div class="avatar-text" (click)="fileInput.click()">
          <span>{{ 'Edit' | translate }}</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="nickname">
      <ion-col class="name-col ion-justify-content-center">
        <ion-text>
          <h3>{{ nickname }}</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="email">
      <ion-col class="email-col ion-justify-content-center">
        <ion-text color="medium">
          <h6>{{ email }}</h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-list *ngIf="userReady">
    <!-- <ion-item [button]="true" [detail]="true" (click)="onEditNickname()">
      <ion-label>{{ 'Nickname' | translate }}</ion-label>
      <ion-text slot="end" *ngIf="nickname">{{ nickname }}</ion-text>
      <ion-text slot="end" color="medium" *ngIf="!nickname">{{ 'Required' | translate }}</ion-text>
    </ion-item> -->
    <ion-item>
      <ion-label position="floating">{{ 'Nickname' | translate }}</ion-label>
      <ion-input [(ngModel)]="nickname" maxLength="20" placeholder="{{ 'Placeholder of nickname' | translate }}"></ion-input>
    </ion-item>
    <!-- <ion-item [button]="true" [detail]="true" text-wrap (click)="onEditEmail()">
      <ion-label>{{ 'Email' | translate }}</ion-label>
      <ion-text class="text-truncate" slot="end" *ngIf="email">{{ email }}</ion-text>
      <ion-text slot="end" color="medium" *ngIf="!email">{{ 'Optional' | translate }}</ion-text>
    </ion-item> -->
    <!-- <ion-item [button]="true" [detail]="true" (click)="onEditGender()">
      <ion-label>{{ 'Gender' | translate }}</ion-label>
      <ion-text slot="end" *ngIf="gender">{{ 'Male' | translate }}</ion-text>
      <ion-text slot="end" *ngIf="!gender">{{ 'Female' | translate }}</ion-text>
    </ion-item> -->
    <ion-item>
      <ion-label>{{ 'Gender' | translate }}</ion-label>
      <ion-select cancelText="{{ 'Cancel' | translate }}"
      okText="{{ 'OK' | translate }}"[(ngModel)]="gender">
        <ion-select-option value="">{{ 'Please select' | translate }}</ion-select-option>
        <ion-select-option value="true">{{ 'Gender Guest' | translate }}</ion-select-option>
        <ion-select-option value="false">{{ 'Gender Cast' | translate }}</ion-select-option>        
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Birthday' | translate }}</ion-label>
      <ion-datetime displayFormat="YYYY年 MM月 DD日" max="{{ getMaxYear() }}"
        placeholder="{{ 'Required' | translate }}" cancelText="{{ 'Cancel' | translate }}"
        doneText="{{ 'OK' | translate }}" [(ngModel)]="birthday">
      </ion-datetime>
    </ion-item>
    <!-- <ion-item [button]="true" [detail]="true" (click)="onEditLocation()">
      <ion-label>{{ 'Favorite Place' | translate }}</ion-label>
      <ion-text slot="end" *ngIf="locationName">{{ locationName }}</ion-text>
      <ion-text slot="end" color="medium" *ngIf="!locationName">{{ 'Required' | translate }}</ion-text>
    </ion-item> -->
    <ion-item>
      <ion-label>{{ 'Favorite Place' | translate }}</ion-label>
      <ion-select cancelText="{{ 'Cancel' | translate }}"
      okText="{{ 'OK' | translate }}" [(ngModel)]="locationID">
        <ion-select-option [value]="0">{{ 'Please select' | translate }}</ion-select-option>
        <ion-select-option *ngFor="let locationItem of locations" [value]="locationItem.ID">
          {{ locationItem.Name }}
        </ion-select-option>    
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <h6 class="note-message">
        {{ 'You can change this later' | translate }}
      </h6>
    </ion-item>
    <!-- <ion-item [button]="true" [detail]="true" (click)="onEditCasts()" *ngIf="role === 1">
      <ion-label>{{ 'Desired Cast' | translate }}</ion-label>
      <ion-text class="text-truncate" slot="end" *ngIf="casts">{{ 'Selected' | translate }}</ion-text>
      <ion-text slot="end" color="medium" *ngIf="!casts">{{ 'Optional' | translate }}</ion-text>
    </ion-item> -->
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" [disabled]="isLoading" (click)="onSave()">{{ 'Start' | translate }}</ion-button>
  </div>
  <input #fileInput class="ion-hide" type="file" (change)="onFileChanged($event)" accept="image/x-png, image/jpeg">
</ion-content>
<ion-content [fullscreen]="true" *ngIf="role === 2">
  <ion-list lines="full" *ngIf="userReady">
    <ion-item>
      <ion-label position="stacked">* {{ 'Real Name' | translate }}</ion-label>
      <ion-input [(ngModel)]="realName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">* {{ 'Real Name (Frigana)' | translate }}</ion-label>
      <ion-input [(ngModel)]="realNameFrigana"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'Coporate Name' | translate }}</ion-label>
      <ion-input [(ngModel)]="coporateName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'Coporate Name (Frigana)' | translate }}</ion-label>
      <ion-input [(ngModel)]="coporateNameFrigana"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" [disabled]="isLoading" (click)="onSaveAgent()">{{ 'Start' | translate }}</ion-button>
  </div>
</ion-content>