<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ typeStr === "guest" ? ('Sales Report (Guest)' | translate) : ('Sales Report (Cast)' | translate) }}
    </ion-title>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-label>{{ 'Range(from)' | translate }}</ion-label>
    <ion-datetime #birthdayDatetime displayFormat="YYYY年 MM月 DD日" placeholder="{{ 'No Set' | translate }}"
      cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}" [(ngModel)]="from"
      (ngModelChange)="search()">
    </ion-datetime>
  </ion-item>
  <ion-item lines="full">
    <ion-label>{{ 'Range(to)' | translate }}</ion-label>
    <ion-datetime #birthdayDatetime displayFormat="YYYY年 MM月 DD日" placeholder="{{ 'No Set' | translate }}"
      cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}" [(ngModel)]="to"
      (ngModelChange)="search()">
    </ion-datetime>
  </ion-item>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
    </ion-list-header>
    <ng-container *ngFor="let salesItem of salesData; index as index;">
      <ion-item>
        <ion-label>
          <ion-avatar>
            <ion-img [src]="salesItem.User.Images[0].Path"></ion-img>
          </ion-avatar>
          <p>{{ { Nickname: salesItem.User.Nickname, Birthday: salesItem.User.Birthday, 
            BirthdayHidden: salesItem.User.BirthdayHidden } | label }}</p>
          <p *ngIf="salesItem.IsFirst">{{ 'First Use' | translate }}</p>
          <p *ngIf="!salesItem.IsFirst">{{ salesItem.Spent | number }}pt</p>
        </ion-label>
        <ion-text>
          <p class="ion-no-margin">
            {{ salesItem.Call.MeetTimeISO | date: ('yyyy-MM-dd HH:mm:ss') }}
          </p>
          <p class="ion-no-margin">
            {{ salesItem.Call.ID > 0 ? 
              (salesItem.Call.IsPrivate ? 
                salesItem.Location : 
                (salesItem.Call.Location && salesItem.Call.Location.ID > 0 ? salesItem.Call.Location.Name : salesItem.Call.OtherLocation)
              ) 
              : ('Unknonwn' | translate) }}
          </p>
          <p style="margin-bottom: 0;">
            {{ salesItem.Intro | number }}pt
          </p>
        </ion-text>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-infinite-scroll #ionInfiniteScroll (ionInfinite)="loadData($event)" [disabled]="isAllLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>