<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Bank Transfer Information' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">{{ 'Bank Name' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="data.BankName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'Bank Branch Name' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="data.BankBranchName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'Bank Account Type' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="data.BankAccountType"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'Bank Account Holder' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="data.BankAccountHolder"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'Bank Account' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="data.BankAccount"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>