<div class="inner-content" forceOverscroll="false">
  <ion-list *ngIf="mode === 'time'">
    <ion-list-header> 
      いつ呼びますか？
    </ion-list-header>
    <ion-item lines="none" class="explanation-item">
      呼ぶ時間を選択しましょう。
    </ion-item>
    <div class="time-select" text-wrap lines="none">
      <ion-button [attr.color]="firstValue === option ? 'primary' : 'light'" size="medium" 
        *ngFor="let option of times" class="time-button" (click)="timeButtonClicked(option)">
        {{ option }}
      </ion-button>
    </div>
    <ng-template [ngIf] = "timeOther">
      <ion-item lines="none" class="explanation-item">
        日時を設定してください。
      </ion-item>
      <ion-item lines="none" style="text-align:center;">        
        <ion-datetime style="border-bottom:1px solid gray; padding-left:4px;display:inline-block;text-align:center;" 
          displayFormat="YYYY年 M月 D日 HH時 mm分" min="{{ getThisYear() }}" max="{{ getThisYear() + 1 }}"
          cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}"
          minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="meetTimeISO">
        </ion-datetime>
      </ion-item>
    </ng-template>
  </ion-list>
  <ion-list *ngIf="mode === 'person'">
    <ion-list-header> 
      何人呼びますか?
    </ion-list-header>
    <div class="memo alert" style="font-size:0.8em;">
      <div class="memo_ttl">
        <ion-icon color="danger" name="alert-circle"></ion-icon>最低人数について
      </div>
      ゲストの人数に対してキャストの数が2名以上少ないのはNGです。<br />
      (倒:ゲスト5名以上の場合、キャスト人数4名～)<br />
      <b>※ご連絡なく違反した場合、最低人数分の料金がかかります。</b>
    </div>
    <ion-item class="person-item" lines="none">
      <ion-label>キャスト人数</ion-label>
      <ion-select slot="end" [(ngModel)]="firstValue" cancelText="{{ 'Cancel' | translate }}"
        okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="option.value" *ngFor="let option of persons">{{ option.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="mode === 'period'">
    <ion-list-header> 
      何時間呼びますか？
    </ion-list-header>
    <ion-item lines="none" class="explanation-item">
      時間を選択または、入力してください  
    </ion-item>
    <div class="period-select" text-wrap lines="none">
      <ion-button [attr.color]="firstValue === option ? 'primary' : 'light'" size="medium" 
        *ngFor="let option of [1,2,3]" class="period-button" (click)="periodButtonClicked(option)">
        {{ option }}時間
      </ion-button>
      <ion-button [attr.color]="firstValue === 4 ? 'primary' : 'light'" size="medium" class="period-button"
      (click)="periodButtonClicked(4)">
        4時間以上
      </ion-button>
    </div>
    <ng-template [ngIf] = "periodOther">
      <ion-item lines="none" class="period-item">
        <!--<ion-label position="stacked">時間選択</ion-label>-->
        <ion-icon name="stopwatch-outline" slot="start"></ion-icon>
        <ion-select color="light" [(ngModel)]="firstValue" cancelText="{{ 'Cancel' | translate }}"
        okText="{{ 'OK' | translate }}">
          <ion-select-option [value]="option.value" *ngFor="let option of periods">{{ option.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ng-template>
  </ion-list>
  <ion-list *ngIf="mode === 'class'">
    <ion-list-header> 
      ご希望のキャストクラスは？
    </ion-list-header>
    <br>
    <div class="class-select" text-wrap lines="none">
      <ion-button [attr.color]="firstValue === option.ID ? 'primary' : 'light'" size="medium" 
        *ngFor="let option of classes" class="class-button" (click)="firstValue = option.ID">
        {{ option.Name.padEnd(10, ' ') + (option.Point | number) + ('Point/30min' | translate) }}        
      </ion-button>
      <ion-button [attr.color]="firstValue === 0 ? 'primary' : 'light'" size="medium" 
      class="class-button" (click)="firstValue = 0">
        {{ 'Selected By Staff' | translate }}
      </ion-button>
    </div>
    <ng-template [ngIf]="classes.length > 0">
      <ng-template [ngIf]="firstValue === 0">
        <div class="memo" style="font-size:0.8em; margin-bottom: 0;">
          <div class="memo_ttl">
            <ion-icon color="primary" name="alert-circle"></ion-icon>お任せについて
          </div>
          {{ mixStr }}<br/>
          ※今すぐ呼びたい方におすすめ。応募のあったスタンダード＆VIPの中からランクを問わず呼べます。
        </div>
      </ng-template>
    </ng-template>
  </ion-list>
  <ion-list *ngIf="mode === 'location'">
    <ion-list-header> 
      どこに呼びますか？
    </ion-list-header>
    <div class="memo" style="font-size:0.8em;">
      <div class="memo_ttl">
        <ion-icon color="primary" name="alert-circle"></ion-icon>集合場所について
      </div>
      ※くわしい集合場所をご入力ください。<br />
      <b>※マンションやホテル等鍵のかかる個室でのご利用は禁止しております。</b>
    </div>   
    <ion-item class="location-select" text-wrap>
      <ion-label>{{ "Meet Area" | translate }}</ion-label>
      <ion-select slot="end" [(ngModel)]="firstValue" cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="option.ID" *ngFor="let option of locations">{{ option.Name }}
        </ion-select-option>
        <ion-select-option [value]="0">{{ 'Other' | translate }}</ion-select-option>
      </ion-select>      
    </ion-item>
    <ion-item class="location-select" *ngIf="firstValue === 0">
      <ion-label position="stacked">その他を選んだ方<span style="color:red;">(必須)</span></ion-label>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-input type="text" [(ngModel)]="otherLoc" placeholder="{{'Please Input The Location' | translate}}"></ion-input>
    </ion-item>
      
    <ion-item>
      <ion-label position="stacked">合流場所(任意) </ion-label>
      <ion-icon name="storefront-outline" slot="start"></ion-icon>
      <ion-input type="text" [(ngModel)]="place" placeholder="店舗名や住所など"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">ご予約名(任意) </ion-label>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input type="text" [(ngModel)]="reservationName" placeholder="ご予約の代表者名など">
      </ion-input>

    </ion-item>
    <!--
    <ion-item lines="none">
      <ion-label position="stacked">
        {{ 'Meeting Place' | translate }}（店舗名など）
      </ion-label>
      <ion-input type="text" [(ngModel)]="place" placeholder="{{'Place' | translate}}"></ion-input>
    </ion-item>
    <ion-item lines="none" class="note-item">
      <p>※合流場所がまだ決まっていない場合、電話番号を入力頂くとご予約がスムーズです。</p>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">
        {{ 'Reservation Name' | translate }}
      </ion-label>
      <ion-input type="text" [(ngModel)]="reservationName" placeholder="{{'Reservation Name' | translate}}"></ion-input>
    </ion-item>
    
    </div>
  -->
  </ion-list>
</div>

<ion-footer>
  <ion-button expand="block" (click)="send()">{{ 'Save' | translate }}</ion-button>
</ion-footer>