ion-content {
  --padding-top: 15px;
}

ion-footer{
  padding: 5px 20px;
  ion-button{
    --border-radius: 8px;
  }
}

.note-item{
  --min-height: 24px;
  font-size: 8px;
  font-weight: bold;
  margin: 0;
  padding-left: 10px;
}

div.time-select{
  padding-left: 16px;
  ion-button.time-button{
    width: 45%;
    height: 36px;
    font-size: 14px;
    --border-radius: 5px;
  }
}

div.period-select{
  padding-left: 16px;
  ion-button.period-button{
    width: 23%;
    height: 36px;
    font-size: 13px;
    --border-radius: 5px;
  }
}

div.class-select{
  padding-left: 16px;
  ion-button.class-button{
    width: 95%;
    height: 36px;
    font-size: 13px;
    --border-radius: 5px;
  }
}

.location-select{

  ion-select{
    width: 100%;
    min-width: initial;
    max-width: initial;
    margin-left: 0;
    padding-left: 0;
  }
}

ion-item.explanation-item {
  font-size: 14px;
}

.person-input{
  background: transparent;
}

ion-item.period-item{
  /*
  ion-label {
    width: 0;
    display: none;
  }
  */
  ion-select {
    width: 100%;
    min-width: initial;
    max-width: initial;
    margin-left: 0;
    padding-left: 0;
  }
}

ion-item.person-item{
  background-color:#dee;
  ion-select{
    background-color:white;
  }
}

ion-datetime{
  text-align:center;
}

.datetime-text{
  background-color:#eee;
}

div.memo{
  margin-top: 10px;
}