<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class = "close-btn">
      <ion-button (click)="onClose()" *ngIf="!must">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ source.Role === 1 ? ('Cast Review' | translate) : ('Guest Review' | translate) }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf = "users.length > 0">
  <ion-list *ngIf = "source">
    <ion-list-header>
      <ion-label>
        合流した{{ source.Role === 1 ? "キャスト" : "ゲスト様" }}は
      </ion-label>
    </ion-list-header>
    <ion-list-header style = "margin-top: 0;">
      <ion-label style = "margin-top: 0;">
        いかがでしたか？
      </ion-label>
    </ion-list-header>
    <ion-list-header>
      <ion-label style = "margin-top: 0;">
        <p *ngIf="source.Role === 1">
          また会いたいかどうかを考えてください。評価内容を学習し、あなたにより良いマッチングを致します。
        </p>
        <p *ngIf="source.Role === 0">
          この内容は自分だけが見れる、ゲスト様には秘密のメモです。メモを入力すると、振り返りや確認ができます。ぜひご活用ください。
        </p>
      </ion-label>
    </ion-list-header>
    <ion-item lines = "none">
      <ion-label>
        <strong>{{ getTime() }}</strong>
      </ion-label>
    </ion-item>
    <ng-container *ngFor = "let review of reviews; index as index">
      <ion-item class = "review-item">
        <ion-label>
          <ion-avatar>
            <img [src] = "users[index].Images[0].Path" class = "cast-image">
          </ion-avatar>          
        </ion-label>
        <h6 class = "question">
          <p class = "user-info">
            <!-- {{ { Nickname: users[index].Nickname, Birthday: users[index].Birthday } | label }} -->
            {{ users[index].Nickname }}
          </p>
          <p>
            また会いたいですか?
          </p>
        </h6>
        <ion-text slot="end">        
          <ion-buttons>
            <div class = "button-div down-vote" [ngClass] = "{ 'active': isActive(review, false) }" (click)="onMinus(index)">
              <ion-button class = "vote-btn">
                <ion-icon name="thumbs-down-outline" class="number-change-icon">            
                </ion-icon>
              </ion-button>
              <p class = "ion-no-margin">
                いいえ
              </p>
            </div>
            <div class = "button-div up-vote" [ngClass] = "{ 'active': isActive(review, true) }" (click)="onPlus(index)">
              <ion-button class = "vote-btn">
                <ion-icon name="thumbs-up-outline" class="number-change-icon">
                </ion-icon>
              </ion-button>
              <p class = "ion-no-margin">
                はい
              </p>
            </div>
          </ion-buttons>
        </ion-text>      
      </ion-item>
      <ng-template [ngIf] = "review.IsGood !== null">
        <ng-template [ngIf] = "review.IsGood === true" [ngIfElse] = "downVote">
          <ng-template [ngIf] = "role === 1" [ngIfElse] = "guestGood">
            <ion-item lines = "none" *ngIf = "isNotFamilyCast(review.UserID)">
              <ion-button class = "add-family-btn" color = "warning" (click) = "addToFamily(review.UserID)">
                <ion-icon name = "heart"></ion-icon>
                {{ 'Add To Family' | translate }}
              </ion-button>
            </ion-item>
            <ion-item lines = "none">
              <p class = "help-text">
                「お気に入り」に登録するとメッセージを一斉送信してglassに誘えたり、コールでいつでも優先マッチングができます。
              </p>
            </ion-item>
            <ion-item lines = "none">
              <ion-textarea class="comment-input" [rows]="3" placeholder="{{ 'Write Good Point Here' | translate }}"
              [autoGrow]="true" [(ngModel)]="review.Comment"></ion-textarea>
            </ion-item>
          </ng-template>
          <ng-template #guestGood>
            <ion-item lines = "none">
              <p class = "help-text">
                どんな方でしたか？
              </p>
            </ion-item>
            <ion-item lines = "none">
              <ion-textarea class="comment-input" [rows]="3"
              [autoGrow]="true" [(ngModel)]="review.HowGuest"></ion-textarea>
            </ion-item>
            <ion-item lines = "none">
              <p class = "help-text">
                どんな話で盛リ上がったか？
              </p>
            </ion-item>
            <ion-item lines = "none">
              <ion-textarea class="comment-input" [rows]="3"
              [autoGrow]="true" [(ngModel)]="review.HowUp"></ion-textarea>
            </ion-item>
          </ng-template>
        </ng-template>
        <ng-template #downVote>
          <ng-template [ngIf] = "role === 1" [ngIfElse] = "guestBad">
            <div style = "padding-left: 20px; margin-bottom: 5px;">
              <ion-button class = "bad-choice" [ngClass] = "{ 'active' : choice === review.TypeStr }" *ngFor = "let choice of badChoices" (click) = "selectChoice(choice, index)">
                {{ choice }}
              </ion-button>
            </div>
            <ion-item lines = "none">
              <ion-textarea class="comment-input" [rows]="3" placeholder="{{ 'Write Bad Point Here' | translate }}"
              [autoGrow]="true" [(ngModel)]="review.Comment"></ion-textarea>
            </ion-item>
          </ng-template>
          <ng-template #guestBad>
            <ion-item lines = "none">
              <p class = "help-text">
                どんな方でしたか？
              </p>
            </ion-item>
            <ion-item lines = "none">
              <ion-textarea class="comment-input" [rows]="3"
              [autoGrow]="true" [(ngModel)]="review.HowGuest"></ion-textarea>
            </ion-item>
            <ion-item lines = "none">
              <p class = "help-text">
                どんな話で盛リ上がったか？
              </p>
            </ion-item>
            <ion-item lines = "none">
              <ion-textarea class="comment-input" [rows]="3"
              [autoGrow]="true" [(ngModel)]="review.HowUp"></ion-textarea>
            </ion-item>            
          </ng-template>
        </ng-template>
      </ng-template>
    </ng-container>
  </ion-list>
  <br>
</ion-content>
<ion-content *ngIf = "users.length === 0">
  <ion-list>
    <p class="ion-text-center">
      {{ 'There is no room data' | translate }}
    </p>
  </ion-list>
</ion-content>
