<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Post a tweet' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="ion-margin-top" lines="none">
      <ion-avatar slot="start">
        <img [src]="avatarURL">
      </ion-avatar>
      <ion-label>
        <h2>{{ nickname }}</h2>
      </ion-label>      
    </ion-item>
    <ion-item class="ion-margin-top" lines="none" *ngIf="imageURL">
      <ion-img class="tweet-img" ionImgViewer [src]="imageURL"></ion-img>
    </ion-item>
    <ion-item class="ion-margin-top" lines="none">
      <ion-textarea class="tweet-textarea" inputmode="text" [autoGrow]="true" [rows]="4" [maxlength]="250"
        placeholder="{{ 'What are you doing now?' | translate }}" [(ngModel)]="content"></ion-textarea>
    </ion-item>
  </ion-list>  
  <input #fileInput class="ion-hide" type="file" (change)="onFileChanged($event)" accept="image/x-png, image/jpeg">
  <ng-template [ngIf]="role === 1">
    <div class="tweet-checkbox ion-padding">
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <ion-checkbox [(ngModel)]="isRecruit"></ion-checkbox>{{ 'Recruitement' | translate }}
      </ion-item>
      <div class="note">
        <p>募集にチェックするとキャストの目に止まりやすくなります。</p>
        <p>例：本日１９時～恵比寿で飲める方募集。</p>
        <p>例：来週福岡に出張です。ご飯一緒できる方いますか？</p>
      </div>
    </div>
  </ng-template>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="fileInput.click()" *ngIf="!image">
        <ion-icon slot="icon-only" name="image"></ion-icon>
      </ion-button>
      <ion-button (click)="onRemoveImage()" *ngIf="image">
        <ion-icon slot="icon-only" name="trash-bin"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-text><span>( {{ content.length }} / 250 ) </span></ion-text>
      <ion-button fill="clear" [disabled]="content.trim() === '' || isLoading" (click)="onSave()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>