.message-col {
  display: flex;

  ion-avatar {
    img {
      margin-left: 5px;
    }
  }

  ion-textarea {
    --padding-end: 0;
  }
}

.character-count.ios {
  margin: 17px 0;
}

.character-count.md {
  margin: 11px 0;
}

.image-col {
  height: 22vh;

  ion-img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-radius: 5px !important;
    overflow: hidden;
  }
}

.tweet-img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 5px !important;
  overflow: hidden;
}

.image-col.ios {
  padding-left: 70px;
  padding-right: 10px;
}

.image-col.md {
  padding-left: 94px;
  padding-right: 20px;
}

.actions-col.ios {
  margin-left: 30px;

  .send-button {
    --padding-end: 4px;
  }
}

.actions-col.md {
  margin-left: 54px;

  .send-button {
    --padding-end: 12px;
  }
}

.tweet-checkbox{
  position: absolute;
  width: 100%; 
  border-top: 1px dotted #AAA;
}

ion-content.md .tweet-checkbox{
  bottom: 56px;
}

ion-content.ios .tweet-checkbox{
  bottom: 44px;
}

div.note{
  font-size:0.7em;
}
