<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button #backButton text="" defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Notice' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="mode" (ngModelChange)="segmentChanged()">
      <ion-segment-button value="foot">
        <ion-label *ngIf="role">{{ 'From Cast' | translate }}</ion-label>
        <ion-label *ngIf="!role">{{ 'From Guest' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="notify">
        <ion-label>{{ 'Notice' | translate }}({{ getFromNotify() }})</ion-label>
      </ion-segment-button>
      <ion-segment-button value="admin">
        <ion-label>{{ 'From Admin' | translate }}({{ getFromAdmin() }})</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="mode === 'foot'">
  <ion-list *ngIf="self">
    <ion-item *ngFor="let noticeItem of notices[mode]" lines="full" class="notice-items" [detail]="false"
      [routerLink]="(self.Role===0 || self.Role===1) && !noticeItem.FromUser.Withdrawn ? ['/main/profile', noticeItem.FromUser.ProfileID] : []">
      <ion-avatar slot="start" *ngIf="noticeItem.FromUser">
        <img [src]="noticeItem.FromUser.Images[0].Path">
      </ion-avatar>
      <ion-label *ngIf="noticeItem.FromUser">
        <p>
          {{ noticeItem.Content }}
          <span class="time-ago-mark">
            {{ noticeItem.UpdatedAt | timeago }}
          </span>
        </p>
        <h3>
          {{ { Nickname: noticeItem.FromUser.Nickname, Birthday: noticeItem.FromUser.Birthday, 
          BirthdayHidden: noticeItem.FromUser.BirthdayHidden, Withdrawn: noticeItem.FromUser.Withdrawn } | label }}
           {{ cond.getLocationName(noticeItem.FromUser) }}
        </h3>
        <p class="about-para">
          {{ getNoticeAbout(noticeItem) }}
        </p>
        <ng-template [ngIf] = "!noticeItem.FromUser.Withdrawn">
          <ion-button expand="full" *ngIf="isFavoriteUser(noticeItem.FromUser.ID)" class="notice-btn send-msg-btn"
            (click)="onSend($event, noticeItem)">
            <ion-icon name="mail" style="margin-right: 5px;"></ion-icon>
            {{ 'Send Message' | translate }}
          </ion-button>
          <ion-button expand="full" *ngIf="!isFavoriteUser(noticeItem.FromUser.ID)" class="notice-btn like-you-btn"
            (click)="onFavorite($event, noticeItem.FromUser.ID)">
            <ion-icon name="heart" style="margin-right: 5px;"></ion-icon>
            {{ 'Like you!' | translate }}
          </ion-button>
        </ng-template>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll #ionInfScrollFoot threshold="100px" (ionInfinite)="loadData(mode, $event)"
    [disabled]="allLoaded[mode]">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


<ion-content [fullscreen]="true" *ngIf="mode === 'notify'">
  <ion-list>
    <ng-container *ngFor="let notifyItem of notifications; index as index">
      <ion-item lines="none" class="ion-no-padding date-item" *ngIf = "index === 0 || (index > 0 && 
          getDateString(notifyItem.CreatedAt) !== getDateString(notifications[index - 1].CreatedAt))">
        <ion-text>
          {{ getDateWeekday(notifyItem.CreatedAt) }}
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="admin-notice-items" [detail]="true" [routerLink]="['/main/notice/detail', notifyItem.ID]">
        <ion-label class="bold">
          {{ notifyItem.Title }}
        </ion-label>
      </ion-item>
      <ion-item lines="full" class="category-item">
        <ion-label class="ion-no-margin">
          {{ notifyItem.CreatedAt | date: 'HH:mm　' : '+0900'}}{{ notifyItem.Category?.Name}}
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-infinite-scroll #ionInfScrollNotify threshold="100px" (ionInfinite)="loadData(mode, $event)"
    [disabled]="allLoaded[mode]">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="mode === 'admin'">
  <ion-list>
    <ion-item *ngFor="let noticeItem of notices[mode]" lines="full" class="admin-notice-items">
      <ion-avatar slot="start" *ngIf="noticeItem.FromUser">
        <img [src]="getAdminImage(noticeItem.FromUser)">
      </ion-avatar>
      <ion-label *ngIf="noticeItem.FromUser">
        <h6>
          {{ noticeItem.UpdatedAt | timeago }}
        </h6>
        <p>
          {{ noticeItem.Content }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll #ionInfScrollAdmin threshold="100px" (ionInfinite)="loadData(mode, $event)"
    [disabled]="allLoaded[mode]">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


