ion-item.notice-items {
  align-items: flex-start;

  .time-ago-mark {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .about-para {
    color: black;
  }

  ion-avatar {
    margin-top: 10px;
  }

  p:first-of-type {
    font-size: 12px;
  }

  ion-button.notice-btn {
    border-radius: 8px;
    height: 32px;
    margin-top: 10px;

    &.like-you-btn {
      --background: var(--ion-color-vip);
    }

    &.send-msg-btn {
      --background: var(--ion-color-danger-tint);
    }
  }
}

.admin-notice-item {
  --padding-start: 10px;

  ion-avatar {
    margin-right: 10px;
  }
}

ion-item.date-item{
  --inner-padding-end: 0;
  ion-text{
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
}

ion-item.category-item{
  padding-top: 0;
  --min-height: 20px;
  ion-label{
    font-size: 14px;
  }
}

.bold {
  font-weight: bold;
}