<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Completion' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Initial Information' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-avatar *ngFor="let cast of favoriteCasts">
            <img [src]="cast.Images[0].Path">
          </ion-avatar>
          <ng-template [ngIf]="favoriteCasts.length < 5">
            <ion-avatar *ngFor="let _ of getArray(5 - favoriteCasts.length)">
              <img src="assets/img/empty.png">
            </ion-avatar>
          </ng-template>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>
        {{ 'Completely free until meet actually' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-list-header>
      <ion-label style="margin-top: 0; margin-bottom: 0;">
        {{ 'To Five Favorite Casts' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-list-header>
      <ion-label style="margin-top: 0; margin-bottom: 0;">
        {{ 'Give Like' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <p class="small-note"> あなたの好みを学習して、最適なマッチングをいたします。好みのシチュエーションやタグから選びましょう。 </p>
    </ion-item>
    <ion-grid *ngIf="casts.length > 0 && isFullCastsReady">
      <ion-row style="margin-bottom: 5px;">
        <ion-col size="6" *ngFor="let cast of casts">
          <app-cast-card [routerLink]="['/main/profile', cast.ProfileID]" [nickname]="cast.Nickname" [birthday]="cast.Birthday"
            [birthdayHidden]="cast.BirthdayHidden" [point]="cast.PointHalf" [status]="cast.Status"
            [leftAt]="cast.LeftAt ? cast.LeftAt : ''" [word]="cast.Word" [isMatching]="false"
            [classColor]="cast.Class?.Color" [className]="cast.Class?.Name" [castStart]="cast.CastStart"
            [image]="cast.Images[0].Path" [isFavoriteCard]="true" [isFavorite]="isFavorite(cast.ID)"
            (changeFavorite)="changeFavorite(cast)" [profileID]="cast.ProfileID">
          </app-cast-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="casts.length===0">
      <ion-row style="margin-bottom: 5px;">
        <ion-col class="ion-padding">
          {{ 'No Cast to select' | translate }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>