<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Payment Information' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list *ngIf="user">
    <ion-item-sliding *ngIf="user.TelecomCredit">
      <ion-item-options side="end" (click)="removeCreditCard()">
        <ion-item-option color="danger">{{ 'Delete' | translate }}</ion-item-option>
      </ion-item-options>
      <ion-item [detail]="true" (click)="checkCardForm.submit()">
        <ion-label>{{ 'Edit Credit Card' | translate }}</ion-label>
      </ion-item>
    </ion-item-sliding>
    <ion-item [detail]="true" (click)="checkCardForm.submit()" *ngIf="!user.TelecomCredit">
      <ion-label>{{ 'Add Credit Card' | translate }}</ion-label>
    </ion-item>
  </ion-list>
  <form #checkCardForm action="https://secure.telecomcredit.co.jp/inetcredit/adult/order.pl" method="GET">
    <input type="hidden" name="clientip" [ngModel]="clientIP">
    <input type="hidden" name="sendid" [ngModel]="user.ID" *ngIf="user">
    <input type="hidden" name="usrmail" [ngModel]="user.Email" *ngIf="user && user.Email">
    <input type="hidden" name="usrtel" [ngModel]="phoneNumber" *ngIf="user && user.PhoneNumber">
    <input type="hidden" name="option" [ngModel]="user.ID" *ngIf="user">
    <input type="hidden" name="redirect_url" [ngModel]="redirectURL + '?telecomcredit=success'">
    <input type="hidden" name="redirect_back_url" [ngModel]="redirectURL + '?telecomcredit=success'">
  </form>
  <ion-list class="notes" *ngIf="user">
    <ion-item *ngIf="user.TelecomCredit">
      <ion-icon name="checkmark-circle" color="success" slot="start"></ion-icon>
      <ion-label>クレジットカード登録済</ion-label>
    </ion-item>
  </ion-list>
  <div class="notes ion-padding-horizontal">
    <h5>■ご登録可能なカードについて</h5>
    <p><img class="ion-padding" src="assets/img/card.gif"></p>
    <p>VISA、MASTER、JCB、アメックス、ダイナースカードなど各種カードご利用いただけます。</p>
    <p>＊デビットカード、プリペイドカードについては利用できません。ご了承ください。</p>

    <ion-text color="medium">
      <p>■返品・返金可否について</p>
      <p>提供サービスの特性上、一切返品／返金はお受け出来かねます。途中退会した場合についても同様に、返品／返金はお受けできません。</p>    
    </ion-text>
  </div>

</ion-content>