<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Buying Point' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid *ngIf="user">
    <ion-row>
      <ion-col>
        <ion-text>
          <h5 class="ion-text-center">{{ 'My All Points' | translate }}</h5>
        </ion-text>
        <ion-text>
          <h1 class="ion-text-center">{{ user.Point | number }} pt</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="user">
    <ion-item [detail]="true" *ngFor="let point of points" (click)="onBuyPoint(point.Value)">
      <ion-icon slot="start" name="rose"></ion-icon>
      <ion-label>{{ point.Value | number }} pt</ion-label>
      <ion-text slot="end">{{ point.Value * user.PointRatio | currency:'JPY':'symbol' }}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>