<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Profile' | translate }}</ion-title>
    <ion-buttons slot="primary" *ngIf="user && user.Role !== 2 && sight !== 'blind'">
      <ion-button (click)="openPreviewModal()">
        <!-- <ion-icon slot="icon-only" name="phone-portrait"></ion-icon> -->
        {{ 'Preview' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="user && user.Role !== 2">
  <ion-list *ngIf="user && user.Images">
    <ion-list-header>
      <ion-label>{{ 'Profile Images' | translate }}</ion-label>
      <ion-button (click)="fileInput.click()" *ngIf="user.Images.length < 7">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="reorderItems($event, 'image')">
      <ion-item [button]="true" (click)="openImageModal(index)" *ngFor="let image of user.Images; index as index;">
        <ion-thumbnail style="margin-right: 8px;">
          <ion-img [src]="image.Path"></ion-img>
        </ion-thumbnail>
        <ion-label>
          {{ 'Image' | translate }} {{ index + 1 }}
        </ion-label>
        <ion-reorder slot="start">
          <ion-icon name="swap-vertical-outline"></ion-icon>
        </ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
  <ion-list *ngIf="user && user.Videos && user.Role === 0">
    <ion-list-header>
      <ion-label>{{ 'Profile Videos' | translate }}</ion-label>
      <ion-button (click)="openVideoModal(-1)" *ngIf="user.Videos.length < 3">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ng-template [ngIf]="user.Videos.length > 0" [ngIfElse]="noVideos">
      <ion-reorder-group [disabled]="false" (ionItemReorder)="reorderItems($event, 'video')">
        <ion-item [button]="true" (click)="openVideoModal(index)" *ngFor="let video of user.Videos; index as index;">
          <video *ngIf="video.Path" [id]="'video' + index" playsinline muted onloadedmetadata="this.muted = true" [poster]="image" style="margin-right: 5px;">
            <source src="{{ video.Path + '#t=0.1' }}" type="video/mp4">  
          </video>
          <ion-label>
            {{ 'Video' | translate }} {{ index + 1 }}
          </ion-label>
          <ion-reorder slot="start">
            <ion-icon name="swap-vertical-outline"></ion-icon>
          </ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ng-template>
    <ng-template #noVideos>
      <ion-item>
        {{ 'No Video' | translate }}
      </ion-item>
    </ng-template>
  </ion-list>
  <ion-list *ngIf="user">
    <ion-list-header>
      <ion-label>{{ 'Nickname' | translate }}</ion-label>
    </ion-list-header>
    <ion-item [button]="true" (click)="openNicknameModal()">
      <ion-text>{{ user.Nickname }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user">
    <ion-list-header>
      <ion-label>{{ 'Birthday' | translate }}</ion-label>
    </ion-list-header>
    <ion-item lines="none" [button]="true" (click)="openBirthdayModal()">
      <ion-text>{{ user.Birthday | date: 'yyyy年 MM月 dd日' }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Hide Age' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="user.BirthdayHidden" (ngModelChange)="toggleBirthdayHidden()"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && sight !== 'blind'">
    <ion-list-header>
      <ion-label>{{ 'Favorite Place' | translate }}</ion-label>
    </ion-list-header>
    <ion-item [button]="true" (click)="openLocationModal()">
      <ion-text>{{ getLocationsAsString() }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.Role === 0 && user.Class">
    <ion-list-header>
      <ion-label>{{ 'Class' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-text>{{ user.Class.Name }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.Role === 0">
    <ion-list-header>
      <ion-label>{{ 'Point Per Half' | translate }}</ion-label>
    </ion-list-header>
    <ion-item [button]="true" (click)="openPointModal()">
      <ion-text>{{ user.PointHalf | number }} P（受取：{{ user.PointHalf * user.BackPercent / 100 | number }}P）</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.Role === 0">
    <ion-list-header>
      <ion-label>{{ 'Schedule' | translate }}</ion-label>
    </ion-list-header>
    <ion-item [button]="true" (click)="openScheduleModal()">
      <ion-text>{{ 'Schedule Setting' | translate }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && sight !== 'blind'">
    <ion-list-header>
      <ion-label>{{ 'Today Word' | translate }}</ion-label>
    </ion-list-header>
    <ion-item [button]="true" (click)="openWordModal()">
      <ion-text *ngIf="user.Word">{{ user.Word }}</ion-text>
      <ion-text color="medium" *ngIf="!user.Word">{{ 'Undefined' | translate }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user">
    <ion-list-header>
      <ion-label>{{ 'Self Introduction' | translate }}</ion-label>
    </ion-list-header>
    <ion-item [button]="true" (click)="openAboutModal()">
      <ion-text *ngIf="user.About">{{ user.About }}</ion-text>
      <ion-text color="medium" *ngIf="!user.About">{{ 'Undefined' | translate }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.Role === 0">
    <ion-list-header>
      <ion-label>{{ 'Tag Setting' | translate }}</ion-label>
    </ion-list-header>
    <ion-item [button]="true" (click)="openTagModal()">
      <ion-text>{{ tagStr }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && sight !== 'blind'">
    <ion-list-header>
      <ion-label>{{ 'Basic Information' | translate }}</ion-label>
    </ion-list-header>
    <ng-container *ngFor="let detail of userDetails">
      <ion-item *ngIf="detail.Value">
        <ion-label>{{ detail.Name }}</ion-label>
        <ion-text>{{ detail.Value }}</ion-text>
      </ion-item>
    </ng-container>
    <ion-item [button]="true" (click)="openBasicModal()">
      <ion-text>{{ detailsStr }}</ion-text>
    </ion-item>
  </ion-list>
  <input #fileInput class="ion-hide" type="file" (change)="onFileChanged($event)" accept="image/x-png, image/jpeg">
</ion-content>
<ion-content [fullscreen]="true" *ngIf="user && user.Role === 2">
  <ion-list lines="full">
    <ion-item>
      <ion-label position="stacked">* {{ 'Real Name' | translate }}</ion-label>
      <ion-input [(ngModel)]="realName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">* {{ 'Real Name (Frigana)' | translate }}</ion-label>
      <ion-input [(ngModel)]="realNameFrigana"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'Coporate Name' | translate }}</ion-label>
      <ion-input [(ngModel)]="coporateName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'Coporate Name (Frigana)' | translate }}</ion-label>
      <ion-input [(ngModel)]="coporateNameFrigana"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" [disabled]="isLoading" (click)="onSaveAgentProfile()">
      {{ 'Save' | translate }}
    </ion-button>
  </div>
</ion-content>