ion-list {
  ion-list-header {
    ion-button {
      height:25px;
      margin-bottom: 8px;
    }
  }

  ion-item {
    ion-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

video {
  width: 56px;
  height: 56px;
}