<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class = "close-btn">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Cast Memo' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="guest">
    <ion-list-header class="ion-margin-bottom">
      <ion-avatar [routerLink]="['/main/profile', guest.ProfileID]">
        <img class="group-avatar" [src]="guest.Images[0].Path">
      </ion-avatar>
      <ion-label>{{ { Nickname: guest.Nickname, Birthday: guest.Birthday, BirthdayHidden: guest.BirthdayHidden } | label }}
      {{ cond.getLocationName(guest) }}</ion-label>
    </ion-list-header>
    <ng-container *ngFor="let reviewItem of reviews;" class="ion-text-wrap">
      <ion-item lines="none" style="font-weight: bold;">
        {{ reviewItem.UpdatedAt | date: 'yyyy年MM月dd日 HH:mm～'}}
      </ion-item>
      <ion-item lines="none">
        どんなひとでしたか？
      </ion-item>
      <ion-item lines="none" class="gray-item">
        {{ reviewItem.HowGuest }}
      </ion-item>
      <ion-item lines="none">
        どんな話で盛り上がりましたか？
      </ion-item>
      <ion-item class="gray-item" lines="full">
        {{ reviewItem.HowUp }}
      </ion-item>
      <br>
    </ng-container>
  </ion-list>

  <ion-infinite-scroll #ionInfiniteScroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="allLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>