ion-title{
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}

.family-help{
  font-size: 14px;
  margin-top: 20px;
}

.family-items{
  ion-label{
    position: relative;
    ion-icon.dislike-icon{
      position: absolute;
      top: 12px;
      right: 0;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

ion-item.call-label{
  ion-label{
    font-size: 16px;
    font-weight: bold;
  }
  ion-icon{
    font-size: 24px;
  }
}