<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Family Join Cast' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="family">
        <ion-label>{{ 'Family' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="join">
        <ion-label>{{ 'Join Cast' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ng-template [ngIf]="segment === 'family'" [ngIfElse]="join">
  <ion-content [fullscreen]="true">
    <ion-list>
      <ion-item lines="none">
        <ion-text class="family-help">
          合流したキャストのレビューする時やマイページでお気に入りキャストを追加することができます。
          <br>
          <br>
          「お気に入り」に追加したキャストはいつでも優先マッチングが可能。
        </ion-text>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label>
          {{ 'Family List' | translate }}
        </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let cast of familyCasts; index as index" lines="full" class="family-items">
        <ion-avatar slot="start" *ngIf="cast.Cast" [routerLink]="['/main/profile', cast.Cast.ProfileID]">
          <img [src]="cast.Cast.Images[0].Path">
        </ion-avatar>
        <ion-label *ngIf="cast.Cast">
          <h3>
            {{ { Nickname: cast.Cast.Nickname, Birthday: cast.Cast.Birthday, 
              BirthdayHidden: cast.Cast.BirthdayHidden, Withdrawn: cast.Cast.Withdrawn } | label }}
              {{ cond.getLocationName(cast.Cast) }}
          </h3>
          <p class="about-para">
            {{ getTimeStr(cast.MetAt) }}
          </p>
          <ion-icon name="heart-dislike-outline" class="dislike-icon" color="danger"
            (click)="dislikeCast(cast.Cast.ID, index)"></ion-icon>
        </ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="familyCasts && familyCasts.length === 0">
        <ion-label>
          {{ 'No Family' | translate }}
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll #ionInfiniteScrollFamily (ionInfinite)="loadFamilyData($event)" [disabled]="familyAllLoaded">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ng-template>
<ng-template #join>
  <ion-content [fullscreen]="true">
    <ion-list *ngFor="let invoice of invoices">
      <ion-item class="call-label">
        <ion-label>
          {{ getCallLabel(invoice.Call) }}
        </ion-label>
        <ion-icon slot="end" name="pencil-outline" (click)="openReviewPanel(invoice)" color="primary"></ion-icon>
      </ion-item>
      <ng-container *ngFor="let invoiceDetail of invoice.Detail">
        <ion-item lines="none" *ngIf="invoiceDetail.User" class="family-items">
          <ion-avatar slot="start" [routerLink]="['/main/profile', invoiceDetail.User.ProfileID]">
            <img [src]="getCastPath(invoiceDetail.User)">
          </ion-avatar>
          <ion-label *ngIf="invoiceDetail.User">
            <h3 *ngIf="invoiceDetail.User.ID > 0">
              {{ { Nickname: invoiceDetail.User.Nickname, Birthday: invoiceDetail.User.Birthday,
              BirthdayHidden: invoiceDetail.User.BirthdayHidden, Withdrawn: invoiceDetail.User.Withdrawn } | label }}
               {{ cond.getLocationName(invoiceDetail.User) }}
            </h3>
            <h3 *ngIf="invoiceDetail.User.ID === 0">
              {{ 'Undefined' | translate }}
            </h3>
            <p class="about-para">
              {{ getTimeStr(invoiceDetail.CreatedAt) }}
            </p>            
            <ion-icon *ngIf="isLike(invoiceDetail.User.ID)" name="heart-dislike-outline" class="dislike-icon"
              color="danger" (click)="dislikeCallCast(invoiceDetail.User.ID)"></ion-icon>
            <ion-icon *ngIf="!isLike(invoiceDetail.User.ID)" name="heart-outline" class="dislike-icon" color="warning"
              (click)="likeCast(invoiceDetail.User.ID)"></ion-icon>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
    <ion-infinite-scroll #ionInfiniteScroll (ionInfinite)="loadData($event)" [disabled]="isAllLoaded">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ng-template>