<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage/point/transfer"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Transfer Application' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list *ngIf="user">
    <ion-item>
      <ion-label>{{ 'Possession Points' | translate }}</ion-label>
      <ion-text>{{ user.Point | number }} P</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'User Remaining Point' | translate }}(振込可)
      </ion-label>
      <ion-text color="dark">{{ remainingPoint | number }} pt</ion-text>
    </ion-item>
    <ion-item *ngIf="transferType === 'paypal'">
      <ion-label>{{ 'Transfer Application Points' | translate }}</ion-label>
      <ion-input type="number" inputmode="decimal" [(ngModel)]="transferPoint"></ion-input>
      <ion-text color="dark">P</ion-text>
    </ion-item>
    <!-- <ion-item *ngIf="transferType === 'paypal'">
      <ion-label>{{ 'Immediate Fee' | translate }}</ion-label>
      <ion-note color="danger">0</ion-note>
    </ion-item> -->
    <ion-item>
      <ion-label>{{ 'Transfer Application Amount' | translate }}</ion-label>
      <ion-text color="dark">{{ parseInt(this.transferPoint || '0', 10) | number }} 円</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Transfer Application Type' | translate }}</ion-label>
      <ion-select cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}" [(ngModel)]="transferType"
        (ngModelChange)="onTransferTypeChanged()">
        <ion-select-option value="bank">{{ 'Normal Transfer' | translate }}</ion-select-option>
        <ion-select-option value="paypal">{{ 'Immediate Transfer' | translate }}({{ 'Paypal Transfer' | translate }})
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <p class="ion-margin ion-padding" *ngIf="transferType === 'bank'">
    ■通常振込について<br>
    ＊振込スケジュール→月末締め翌月20日支払い<br>
    ＊振込手数料はユーザー負担とします。<br>
  </p>
  <p class="ion-margin ion-padding" *ngIf="transferType === 'paypal'">
    ■即振込について<br>
    ＊振込スケジュール→申請から3営業日内(土日祝を除く)<br>
    ＊ご登録のpaypal口座へお振込します。<br>
    ＊paypal手数料(3.6% + 40円)はユーザー負担とします。
  </p>
  <div class="ion-margin">
    <ion-button expand="block" (click)="transfer()">
      {{ 'Applicate' | translate }}
    </ion-button>
  </div>
  <ion-grid class="ion-padding-horizontal">
    <ion-row>
      <ion-col>
        <h5>{{ 'Transfer History' | translate }}</h5>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let transfer of transfers">
      <ion-col size="5">{{ transfer.UpdatedAt | date:'yyyy-MM-dd' }}</ion-col>
      <ion-col>{{ transfer.Point | number }} P</ion-col>
      <ion-col *ngIf="transfer.Status === 'unpaid'">{{ 'Applying' | translate }}</ion-col>
      <ion-col *ngIf="transfer.Status === 'paid'">{{ 'Transferred' | translate }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll #ionInfiniteScroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="allLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>