<ion-header [translucent]="true" *ngIf="user">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="user.Role !== 2">{{ 'Earning History and Transfer' | translate }}</ion-title>
    <ion-title *ngIf="user.Role === 2">{{ 'Earning History and Application' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="user && user.Role !== 2">
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Earning History' | translate }}</ion-label>
    </ion-list-header>
    <ion-item [detail]="true" routerLink="/main/mypage/point/history">
      <ion-label>{{ 'Point History' | translate }}</ion-label>
    </ion-item>
    <ion-item [detail]="true" routerLink="/main/mypage/point/review">
      <ion-label>{{ 'Review History' | translate }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Transfer Information' | translate }}</ion-label>
    </ion-list-header>
    <ion-item [detail]="true" (click)="openBankModal()">
      <ion-label>{{ 'Bank Transfer Information' | translate }}</ion-label>
    </ion-item>
    <ion-item [detail]="true" (click)="openPaypalModal()">
      <ion-label>{{ 'Paypal Transfer Information' | translate }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Transfer Application' | translate }}</ion-label>
    </ion-list-header>
    <ion-item [detail]="true" routerLink="/main/mypage/point/applicate">
      <ion-label>{{ 'Applicate Transfer' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- for scouts -->
<ion-content [fullscreen]="true" *ngIf="user && user.Role === 2">
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Transfer Target Information' | translate }}</ion-label>
    </ion-list-header>
    <ion-item [detail]="true" (click)="openBankModal()">
      <ion-label>{{ 'Bank Transfer Information' | translate }}</ion-label>
    </ion-item>
    <ion-item [detail]="true" (click)="openPaypalModal()">
      <ion-label>{{ 'Paypal Transfer Information' | translate }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Transfer Application' | translate }}</ion-label>
    </ion-list-header>
    <ion-item [detail]="true" routerLink="/main/mypage/point/applicate">
      <ion-label>{{ 'Transfer History and Application' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>