ion-label.user-info {
  ion-avatar {
    margin-bottom: 5px;
  }
  span {
    font-size: 12px;
  }
}

ion-item.arrival-time {
  ion-datetime {
    margin: auto;
  }
}

ion-textarea.remark-input {
  font-size: 14px;
}