<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Apply Screen' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="arrival && levelsReady">
  <ion-list *ngIf="call.User">
    <ion-item>
      <ion-label class="user-info">
        <ion-avatar>
          <img [src]="call.User.Images[0].Path">
        </ion-avatar>
        <span style="display: block;">
          {{ { Nickname: call.User.Nickname, Birthday: call.User.Birthday, BirthdayHidden: call.User.BirthdayHidden } | label }}
        </span>
        <span>
          {{ getLevelName(call.User.PointUsed) }}
        </span>
      </ion-label>
      <ion-text>
        <strong style="display: block;">{{ getMeetLocationStr(call) }}</strong>
        <strong style="display: block;">{{ getMeetTimeStr(call, 'time') }}</strong>
        <strong>{{ call.Period }}時間 : {{ getClassPerson(call) }}</strong>
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label style="font-weight: bold;">
        {{ 'Arrival Time' | translate }}
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="arrival-time">      
      <ion-datetime display-format="HH:mm" picker-format="HH:mm" placeholder="{{ 'Undefined' | translate }}"
      cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}" [(ngModel)]="arrival"></ion-datetime>
    </ion-item>
    <ion-item lines="none" class="ion-no-margin">
      <ion-label style="font-size: 14px;">
        予想到着時間の目安を選択してください。
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label style="font-weight: bold;">
        {{ 'Remark' | translate }}
      </ion-label>
    </ion-item>
    <ion-item class="ion-no-margin">
      <ion-textarea class="remark-input" [rows]="4" [autoGrow]="true" 
      [placeholder]="placeholder" [(ngModel)]="remark"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>