<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Fixed Phrase' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      {{ 'Notify Setting' | translate }}
    </ion-list-header>
    <ion-item>
      <ion-label *ngIf="phraseStatus">{{ 'Set' | translate }}</ion-label>
      <ion-label *ngIf="!phraseStatus">{{ 'Do Not Set' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="phraseStatus"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Self Introduction' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-textarea inputmode="text" [maxlength]="1000" [autoGrow]="true" [rows]="4"
      placeholder="{{ 'Please input fixed phrase to fresh guests' | translate }}" [(ngModel)]="phrase">
      </ion-textarea>
    </ion-item>
    <br>
    <ion-button expand="block" (click)="savePhrase()" class="ion-padding-horizontal">
      {{ 'Save' | translate }}
    </ion-button>
  </ion-list>
</ion-content>