<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'LINE re-linking' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-margin">
    <p>LINE公式アカウントを友達追加するには下のボタンをクリックしてください。</p>
    <ion-button expand="block" class="line-login-button" (click)="associateWithLINE()">
      <img src="assets/img/line-logo.png" />
      <span>{{ 'Associate with LINE' | translate }}</span>
    </ion-button>
  </div>
</ion-content>