<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="presentActionSheet()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'Tweet' | translate }}" defaultHref="/main/tweet"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Tweet Detail' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list lines="none" *ngIf="tweet">
    <ion-item>
      <ion-avatar slot="start" [routerLink]="'/main/profile/' + tweet.User.ProfileID" *ngIf="tweet.User">
        <img [src]="tweet.User ? tweet.User.Images[0].Path : 'assets/img/avatar.svg'">
      </ion-avatar>
      <ion-label>
        <h2 *ngIf="tweet.User">{{ tweet.User.Nickname }}</h2>
        <p>{{ tweet.CreatedAt | timeago }}</p>
        <h3 class="tweet-content">{{ tweet.Content }}</h3>
        <ion-img ionImgViewer [src]="tweet.ImageURL" *ngIf="tweet.ImageURL" scheme="dark"></ion-img>
        <div class="heart-count">
          <ion-button fill="clear" (click)="onToggleHeart(tweet)">
            <ion-icon slot="icon-only" color="danger" [name]="getHeartStatus(tweet) ? 'heart' : 'heart-outline'">
            </ion-icon>
          </ion-button>
          <p>{{ getHeartCount(tweet) }}</p>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>