
ion-item {
  align-items: flex-start;

  ion-avatar {
    margin-top: 10px;
  }

  ion-label {
    user-select: text;

    .tweet-content {
      white-space: normal;
    }

    ion-img {
      width: 100%;
      height: 20vh;
      object-fit: cover;
      border-radius: 5px !important;
      overflow: hidden;
    }

    .heart-count {
      display: flex;
      float: right;

      p {
        margin: auto 0;
      }
    }
  }
}