.unread-badge {
  font-size: 10px;
}

ion-label.ios-icon{
  margin-top:3px;
}

ion-tab-button.tweet{
  position: relative;
  .online-status{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    align-self: center;
    &.danger{
      background: var(--ion-color-danger);
    }
  }

  &.ios{
    .online-status{
      top: 4px;
      right: 21px;
    }
  }
  &.md{
    .online-status{
      top: 5px;
      right: 12px;
    }
  }
}
