<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="role !== 2" [class.d-none]="isChatDetail">
    <ion-tab-button tab="apply" *ngIf="role === 0 || role === 10">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'Home' | translate }}</ion-label>
    </ion-tab-button>
    <ng-template [ngIf]="role === 1 && sight !== 'blind'">
      <ion-tab-button tab="call" *ngIf="!teleFailed">
        <ion-icon src="assets/img/glass-cheer.svg"></ion-icon>
        <ion-label style="font-size: inherit;" [class.ios-icon]="isIOS">{{ 'Call' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="call" *ngIf="teleFailed">
        <ion-icon name="close"></ion-icon>
        <ion-label>{{ 'Call' | translate }}</ion-label>
      </ion-tab-button>
    </ng-template>
    <ng-template [ngIf]="role === 1 && sight !== 'blind'">
      <ion-tab-button tab="search" *ngIf="!teleFailed">
        <ion-icon name="search"></ion-icon>
        <ion-label>{{ 'Search' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="search" *ngIf="teleFailed">
        <ion-icon name="close"></ion-icon>
        <ion-label>{{ 'Search' | translate }}</ion-label>
      </ion-tab-button>
    </ng-template>
    <ion-tab-button tab="guest-search" *ngIf="role === 0 || role === 10">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{ 'Search' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chat" *ngIf="role !== 2">
      <ion-icon name="chatbox"></ion-icon>
      <ion-badge *ngIf="getUnread() > 0" color="danger" class="unread-badge">{{ getUnread() }}</ion-badge>
      <ion-label>{{ 'Chat' | translate }}</ion-label>
    </ion-tab-button>
    <ng-template [ngIf]="role === 1" [ngIfElse]="cast">
      <ion-tab-button tab="tweet" *ngIf="!teleFailed" class="tweet">
        <ion-icon name="chatbubbles"></ion-icon>
        <span *ngIf="getTweetUnreads() > 2" class="online-status danger"></span>
        <ion-label>{{ 'Tweet' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tweet" *ngIf="teleFailed">
        <ion-icon name="close"></ion-icon>
        <ion-label>{{ 'Tweet' | translate }}</ion-label>
      </ion-tab-button>
    </ng-template>
    <ng-template #cast>
      <ion-tab-button tab="tweet" class="tweet">
        <ion-icon name="chatbubbles"></ion-icon>
        <span *ngIf="getTweetUnreads() > 2" class="online-status danger"></span>
        <ion-label>{{ 'Tweet' | translate }}</ion-label>
      </ion-tab-button>
    </ng-template>
    <ion-tab-button tab="mypage">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'Mypage' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>