<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Point History' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ngModelChange)="onSegmentChanged()">
      <ion-segment-button value="done">
        <ion-label>{{ 'Payment Completed' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="waiting">
        <ion-label>{{ 'Waiting for Payment' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid *ngIf="user">
    <ion-row>
      <ion-col>
        <ion-text>
          <h5 class="ion-text-center">{{ 'All Points' | translate }}</h5>
        </ion-text>
        <ion-text>
          <h1 class="ion-text-center">{{ user.Point | number }} pt</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngIf="user.Role === 0">
      <ion-col>
        <ion-button expand="block" (click)="transferPoint()">
          {{ 'Deposit Application' | translate }}
        </ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>
  <ion-list *ngIf="user">
    <ng-container *ngFor="let invoice of invoices">
      <ion-item [detail]="true"
        routerLink="{{ segment === 'done' ? ('/main/mypage/point/detail/' + invoice.ID) : ('/main/chat/invoice/' + invoice.CallID) }}"
        *ngIf="invoice.Type === 'CALL'">
        <ion-label>
          <h3 *ngIf="segment === 'done'">{{ invoice.CreatedAt | date:'yyyy-MM-dd HH:mm' }}</h3>
          <h3 *ngIf="segment === 'waiting'">{{ invoice.Call.MeetTimeISO | date:'yyyy-MM-dd HH:mm' }}</h3>
          <p>{{ 'Points after Confluence' | translate }}</p>
        </ion-label>
        <ion-text slot="end" color="danger">-{{ invoice.Amount | number }}pt</ion-text>
      </ion-item>
      <ion-item [detail]="true"
        routerLink="{{ segment === 'done' ? ('/main/mypage/point/detail/' + invoice.ID) : ('/main/chat/invoice/' + invoice.CallID) }}"
        *ngIf="invoice.Type === 'EARN'">
        <ion-label>
          <h3 *ngIf="segment === 'done'">{{ invoice.CreatedAt | date:'yyyy-MM-dd HH:mm' }}</h3>
          <h3 *ngIf="segment === 'waiting'">{{ invoice.Call.MeetTimeISO | date:'yyyy-MM-dd HH:mm' }}</h3>
          <p>{{ 'Confluence Earn Points' | translate }}</p>
        </ion-label>
        <ion-text slot="end" color="danger">+{{ invoice.Amount | number }}P</ion-text>
      </ion-item>
      <ion-item *ngIf="invoice.Type !== 'CALL' && invoice.Type !== 'EARN'"
        [lines]="invoice.Type === 'AUTO' || invoice.Type === 'BUY' || invoice.Type === 'GIVEN_BANK' || invoice.Type === 'GIVEN_CREDIT' ? 'none' : undefined">
        <ion-label>
          <h3 *ngIf="segment === 'done'">{{ invoice.CreatedAt | date:'yyyy-MM-dd HH:mm' }}</h3>
          <h3 *ngIf="segment === 'waiting'">{{ invoice.Call.MeetTimeISO | date:'yyyy-MM-dd HH:mm' }}</h3>
          <p *ngIf="invoice.Type === 'GIFT'">
            {{ user.Role === 1 ? ('Gift Points' | translate) : ('Gift Points Received' | translate) }}
          </p>
          <p *ngIf="invoice.Type === 'AUTO'">{{ 'Auto Charge' | translate }}</p>
          <p *ngIf="invoice.Type === 'BUY'">{{ 'Purchased Points' | translate }}</p>
          <p *ngIf="invoice.Type === 'GIVEN'">{{ 'Given by admin' | translate }}</p>
          <p *ngIf="invoice.Type === 'GIVEN_BANK'">{{ 'Bank Transfer' | translate }}</p>
          <p *ngIf="invoice.Type === 'GIVEN_CREDIT'">{{ 'Credit Card Transfer' | translate }}</p>
          <p *ngIf="invoice.Type === 'TAKEN'">{{ 'Taken by admin' | translate }}</p>
          <p *ngIf="invoice.Type === 'INTRO_A'">{{ 'Introduction Point' | translate }}</p>
          <p *ngIf="invoice.Type === 'INTRO_C'">{{ 'Introduction Back Point' | translate }}</p>
          <p *ngIf="invoice.Type === 'INTRO_P'">{{ 'Welcome Point' | translate }}</p>
          <p *ngIf="invoice.Type === 'BONUS_PROFILE'">{{ 'Profile Bonus Point' | translate }}</p>
          <p *ngIf="invoice.Type === 'BONUS_LINE'">{{ 'Line Bonus Point' | translate }}</p>
          <p *ngIf="invoice.Type === 'BONUS_CREDIT'">{{ 'Credit Bonus Point' | translate }}</p>
        </ion-label>
        <ion-text slot="end" color="primary" *ngIf="invoice.Type === 'GIVEN' || invoice.Type === 'GIVEN_BANK' || invoice.Type === 'GIVEN_CREDIT'">
          +{{ invoice.Amount | number }}pt</ion-text>
        <ion-text slot="end" color="danger"
          *ngIf="(user.Role === 1 && invoice.Type === 'GIFT') || invoice.Type === 'TAKEN'">
          -{{ invoice.Amount | number }}pt</ion-text>
        <ion-text slot="end" color="danger" *ngIf="user.Role === 0 && invoice.Type === 'GIFT'">
          +{{ invoice.Amount | number }}pt</ion-text>
        <ion-text slot="end" color="danger" *ngIf="invoice.Type === 'AUTO'">+{{ invoice.Amount | number }}pt</ion-text>
        <ion-text slot="end" color="primary" *ngIf="invoice.Type === 'BUY'">+{{ invoice.Amount | number }}pt</ion-text>
        <ion-text slot="end" color="primary" *ngIf="invoice.Type === 'INTRO_A' || invoice.Type === 'INTRO_C' || invoice.Type === 'INTRO_P'">
          +{{ invoice.Amount | number }}pt
        </ion-text>
        <ion-text slot="end" color="primary" *ngIf="invoice.Type === 'BONUS_PROFILE'">+{{ invoice.Amount | number }}pt
        </ion-text>
        <ion-text slot="end" color="primary" *ngIf="invoice.Type === 'BONUS_LINE'">+{{ invoice.Amount | number }}pt
        </ion-text>
        <ion-text slot="end" color="primary" *ngIf="invoice.Type === 'BONUS_CREDIT'">+{{ invoice.Amount | number }}pt
        </ion-text>
      </ion-item>
      <ion-item [detail]="true" (click)="onExportReceipt(invoice)"
        *ngIf="invoice.Type === 'AUTO' || invoice.Type === 'BUY' || invoice.Type === 'GIVEN_BANK' || invoice.Type === 'GIVEN_CREDIT'"
        style="--min-height: 32px;">
        <ion-label style="margin: 0;">
          <h6>{{ 'Export Receipt' | translate }}</h6>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-infinite-scroll #ionInfiniteScroll (ionInfinite)="loadData($event)" [disabled]="isAllLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>