.selection-item {
  .selection-header-text {
    display: none;
  }

  .selection-item-detail.ios {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .selection-item-detail.md {
    max-width: 150px;
    width: 150px;
    text-align: left;
  }
}

ion-label:focus {
  outline: none;
}


.sender-info{
  position: relative;
  margin: 5px 0;
  .when{
    position: absolute;
    font-size: 12px;
    right: 5px;
    top: 3px;
  }
  .unread-count {
    font-size: 12px;
    margin: 10px 0 0;
    background-color: var(--ion-color-vip);
  }
}

ion-avatar{
  width: 56px;
  height: 56px;
}

.group-avatar {
  width: 56px;
  height: 56px;
  line-height: 0;
  text-align: center;
  transform: rotate(180deg);
  align-items: center;

  ion-avatar {
      display: inline-block;
      width: 28px;
      height: 28px;
      transform: rotate(-180deg);
  }

  &.double{
    display: flex;
    align-items: center;
    
    ion-avatar {
        display: flex;
    }
  }
}
