<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary" *ngIf="user && user.Sight !== 'blind'">
      <ion-button routerLink="/main/notice">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="getNotifyCount() > 0" color="danger" class="notify-count-badge ion-no-padding">
        {{ getNotifyCount() }}
      </ion-badge>
    </ion-buttons>
    <ion-title *ngIf="user && user.Sight === 'blind'">
      {{ 'Message List' | translate }}
    </ion-title>
    <ion-title *ngIf="user && user.Sight !== 'blind'">
      <ion-item class="selection-item" lines="none">
        <ion-label class="selection-header-text">{{ 'Message List' | translate }}</ion-label>
        <ion-select class="selection-item-detail" cancelText="{{ 'Cancel' | translate }}"
          okText="{{ 'OK' | translate }}" [selectedText]="filterText" (ionChange)="onFilterChanged($event)" value="0">
          <ion-select-option value="0">{{ 'Reception Time' | translate }}</ion-select-option>
          <ion-select-option value="1">{{ 'Unread Messages' | translate }}</ion-select-option>
          <ion-select-option value="2">{{ 'Confluence Confirmed' | translate }}</ion-select-option>
          <ion-select-option value="3">{{ 'Confluence Wating' | translate }}</ion-select-option>
          <ion-select-option value="4">{{ 'Confluence History' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf = "user && user.Sight !== 'blind'">
    <ion-segment [(ngModel)]="segment" (ngModelChange)="onSegmentChanged()">
      <ion-segment-button value="all">
        <ion-label>{{ 'All' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorite">
        <ion-label>{{ 'Favorite' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="segment === 'all'">
  <ion-header *ngIf="user">
    <ng-template [ngIf]="user.Role===0 || user.Role ===1" [ngIfElse]="applier">
      <ion-item lines="none" *ngIf="!(user.LineID && user.LineID !== '') && !(user.Email && user.Email !== '')"
        class="ion-no-margin ion-no-padding header-item" [detail]="true" routerLink="/main/mypage/setting/notify">
        <p>【通知設定】メールかLINEで連携してください </p>        
      </ion-item>
    </ng-template>
    <ng-template #applier>
      <ion-item lines="none" class="ion-no-margin ion-no-padding header-item" [detail]="true"
        (click)="gotoLine()">
        <p class="applier">本登録することで全機能が使えるようになります。glass運営LINE＠へご連絡ください。</p>        
      </ion-item>
    </ng-template>
  </ion-header>
  <ion-searchbar [appLimit]="20" placeholder="{{ 'Search by Nickname' | translate }}"
    [(ngModel)]="searchbarNickname.all" (ngModelChange)="onChangeSearchbarNickname('all')" *ngIf="segment === 'all'">
  </ion-searchbar>
  <ion-list *ngIf="user">
    <ion-item *ngFor="let room of rooms.all; index as index" class="sender-info">
      <ng-container *ngIf="!room.Room.IsGroup">
        <ion-avatar slot="start">
          <ion-img [src]="getPartnerImage(room.Room)"></ion-img>
        </ion-avatar>
        <ion-label (click)="toDetail(room.Room.ID, index)">
          <h2>{{ { Nickname: getPartner(room.Room).Nickname, Birthday: getPartner(room.Room).Birthday,
            BirthdayHidden: getPartner(room.Room).BirthdayHidden } | label }} {{ cond.getLocationName(getPartner(room.Room)) }}</h2>
          <p> {{ canNotSee && room.Room.Type !== "admin" ? ( 'Message Arrived' | translate ) : room.Room.LastMessage }}
          </p>
          <p class="when">{{ room.Room.UpdatedAt | timeago }}</p>
        </ion-label>
        <ion-badge slot="end" color="danger" class="unread-count" *ngIf="room.Unread > 0">{{ room.Unread }}</ion-badge>
      </ng-container>
      <ng-container *ngIf="room.Room.IsGroup">
        <div slot="start" [class]="room.Room.Users.length > 3 ? 'group-avatar' : 'group-avatar double'">
          <ion-avatar *ngFor="let joinedCast of filterCasts(room.Room.Users) | slice : 0 : 3">
            <ion-img [src]="joinedCast.Images[0].Path" *ngIf="!joinedCast.Withdrawn"></ion-img>
            <ion-img src="/assets/img/withdrawn.png" *ngIf="joinedCast.Withdrawn"></ion-img>
          </ion-avatar>
        </div>
        <ion-label (click)="toDetail(room.Room.ID, index)">
          <h2 style="max-width: calc(100% - 32px);">{{ room.Room.Title }}</h2>
          <p> {{ canNotSee ? ( 'Message Arrived' | translate ) : room.Room.LastMessage }} </p>
          <p class="when">{{ room.Room.UpdatedAt | timeago }}</p>
        </ion-label>
        <ion-badge slot="end" color="danger" class="unread-count" *ngIf="room.Unread > 0">{{ room.Unread }}</ion-badge>
      </ng-container>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll #ionInfScrollAll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="isAllLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-content [fullscreen]="true" *ngIf="segment === 'favorite'">
  <ion-header *ngIf="user">
    <ng-template [ngIf]="user.Role===0 || user.Role ===1" [ngIfElse]="applier">
      <ion-item lines="none" *ngIf="!(user.LineID && user.LineID !== '') && !(user.Email && user.Email !== '')"
        class="ion-no-margin ion-no-padding header-item" [detail]="false" routerLink="/main/mypage/setting/notify">
        <p>【通知設定】メールかLINEで連携してください </p>        
      </ion-item>
    </ng-template>
    <ng-template #applier>
      <ion-item lines="none" class="ion-no-margin ion-no-padding header-item" [detail]="true"
        (click)="gotoLine()">
        <p class="applier">本登録することで全機能が使えるようになります。glass運営LINE＠へご連絡ください。</p>        
      </ion-item>
    </ng-template>
  </ion-header>
  <ion-searchbar [appLimit]="20" placeholder="{{ 'Search by Nickname' | translate }}"
    [(ngModel)]="searchbarNickname.favorite" (ngModelChange)="onChangeSearchbarNickname('favorite')"
    *ngIf="segment === 'favorite'">
  </ion-searchbar>
  <ion-list *ngIf="user">
    <ion-item *ngFor="let room of rooms.favorite; index as index" class="sender-info">
      <ng-container *ngIf="!room.Room.IsGroup">
        <ion-avatar slot="start">
          <ion-img [src]="getPartner(room.Room).Images[0].Path"></ion-img>
        </ion-avatar>
        <ion-label (click)="toDetail(room.Room.ID, index)">
          <h2>{{ { Nickname: getPartner(room.Room).Nickname, Birthday: getPartner(room.Room).Birthday,
            BirthdayHidden: getPartner(room.Room).BirthdayHidden } | label }}</h2>
          <p> {{ canNotSee ? ( 'Message Arrived' | translate ) : room.Room.LastMessage }} </p>
          <p class="when">{{ room.Room.UpdatedAt | timeago }}</p>
        </ion-label>
        <ion-badge slot="end" color="danger" class="unread-count" *ngIf="room.Unread > 0">{{ room.Unread }}</ion-badge>
      </ng-container>
      <ng-container *ngIf="room.Room.IsGroup">
        <div slot="start" [class]="room.Room.Users.length > 3 ? 'group-avatar' : 'group-avatar double'">
          <ion-avatar *ngFor="let joinedCast of filterCasts(room.Room.Users) | slice : 0 : 3">
            <ion-img [src]="joinedCast.Images[0].Path" *ngIf="!joinedCast.Withdrawn"></ion-img>
            <ion-img src="/assets/img/withdrawn.png" *ngIf="joinedCast.Withdrawn"></ion-img>
          </ion-avatar>
        </div>
        <ion-label (click)="toDetail(room.Room.ID, index)">
          <h2 style="max-width: calc(100% - 32px);">{{ room.Room.Title }}</h2>
          <p> {{ room.Room.LastMessage }} </p>
          <p class="when">{{ room.Room.UpdatedAt | timeago }}</p>
        </ion-label>
        <ion-badge slot="end" color="danger" class="unread-count" *ngIf="room.Unread > 0">{{ room.Unread }}</ion-badge>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>