<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ID Card Register' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-template [ngIf]="imageURLs.length > 0" [ngIfElse]="noCard">
      <ion-item lines="none" *ngFor="let imageItem of imageURLs" class="ion-padding-top">
        <ion-img [src]="imageItem"></ion-img>
      </ion-item>
      <br>
    </ng-template>
    <ng-template #noCard>
      <ion-item lines="none">
        {{ 'No Card registered' | translate }}
      </ion-item>  
    </ng-template>
    <input #fileInput class="ion-hide" type="file" (change)="onFileChanged($event)" accept="image/x-png, image/jpeg" multiple/>
    <ion-button class="ion-margin-horizontal" expand="block" (click)="fileInput.click()" style="margin-bottom: 10px;">
      {{ 'Upload Images' | translate }}
    </ion-button>
    <ion-button class="ion-margin-horizontal" expand="block" (click)="uploadCard()" *ngIf="images.length > 0" [disabled]="onSaving">
      {{ 'Save Image' | translate }}
    </ion-button>
    <div  class="cap_box is-style-onborder_ttl mt20" style="margin-left:1%; margin-right:1%;">
      <div class="cap_box_ttl">
        <ion-icon name="alert-circle"></ion-icon>提示する身分証について
      </div>
      <div class="cap_box_content">
        <p>年齢が確認できる身分証をご提示下さい。確認ができない場合、一部機能を制限させていただきます。</p>
        <ul>
          <li>健康保険証</li>
          <li>パスポート</li>
          <li>健康保険証</li>
          <li>住民基本台帳カード</li>
          <li>年金手帳</li>
          <li>共済組合証</li>
        </ul>
        <p>上記どれか一点をご提示下さい。
        </p>
      </div>
    </div>
  </ion-list>
</ion-content>