.condition-item {
  p {
    font-size: 18px;
    color: black;
    display: flex;
    margin-bottom: 10px;

    ion-icon {
      font-size: 22px;
      margin-right: 5px;
    }
  }
}

ion-buttons.sit-tag-btns {
  display: initial !important;

  ion-button {
    margin: 5px;
    font-size: 15px;
    border: 1px solid;
    border-radius: 5px;
  }
}

.bold {
  font-weight: bold;
}

.small-note {
  margin-top: 0;
  font-size: 12px;
}

h6 {
  font-size: 12px;
}

.corona-note {
  margin-bottom: 20px;

  ion-label {
    margin: 4px;
    margin-top: 20px;
    font-weight: bold;
    padding: 12px;
    background: #333;
    color: white;

    .title {
      color: white;
      font-size: 14px;
      text-align: center;
      margin: 5px 0;
    }
  }
}

ion-footer{
  ion-toolbar{
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    ion-button{
      margin: 0;
    }
  }
}

.mix-info{
  font-size: 14px !important;
}

ion-textarea.notify-input{
  --background: #ddd;
  --padding-start: 8px;
  font-size: 14px;
}

ion-icon.anonymous-note{
  font-size: 20px;
}

ion-label.flex-label{
  display: flex;
}