<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'To First User' | translate }}" defaultHref="/main/call/desire"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="condition && tagsReady">
    <ion-list-header>
      <ion-label>
        {{ 'Confirm Reservation Content' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label>
        <strong>{{ 'Location, Time, Person' | translate }}</strong>
      </ion-label>
    </ion-item>
    <ion-item [detail]="true" (click)="editCondition()" class="condition-item">
      <ion-label class="ion-text-wrap">
        <p>
          <ion-icon name="time-outline" color="primary"></ion-icon>
          {{ condition.TimeOther ? getTime(condition.MeetTimeISO) : condition.MeetTime }}
        </p>
        <p>
          <ion-icon name="alarm-outline" color="primary"></ion-icon>{{ condition.Period }}{{ 'Hour' | translate }}
        </p>
        <p>
          <ion-icon name="location-outline" color="primary"></ion-icon>
          {{ condition.LocationID === 0 ? condition.OtherLocation : ( condition.Location ? condition.Location.Name : "" ) }}
        </p>
        <p *ngIf="condition.ClassID > 0">
          <ion-icon name="people-outline" color="primary"></ion-icon>{{ condition.Class?.Name }}
          {{ condition.Person }}{{ 'People' | translate }}
        </p>
        <p *ngIf="condition.ClassID === 0">
          <ion-icon name="people-outline" color="primary"></ion-icon>{{ 'Mix' | translate }}
          {{ condition.Person }}{{ 'People' | translate }}
        </p>
        <!-- <p *ngIf="condition.ClassID === 0" class="mix-info">
          <ion-icon name="people-outline" style="color: white;"></ion-icon>{{ getClassString() }}
        </p> -->
      </ion-label>
    </ion-item>
    <ion-item *ngIf="condition.Reservation" lines="none">
      <ion-label>
        <strong>{{ 'Reservation Name' | translate }}</strong>
      </ion-label>
      <ion-text>
        {{ condition.Reservation }}
      </ion-text>
    </ion-item>
    <ion-item *ngIf="condition.Place" lines="none">
      <ion-label>
        <strong>{{ 'Reservation Place' | translate }}</strong>
      </ion-label>
      <ion-text>
        {{ condition.Place }}
      </ion-text>
    </ion-item>
    <ion-item lines="none" *ngIf="levelsReady && guestAllowed()">
      <ion-label>
        <strong>{{ 'Gift Point' | translate }}</strong>
      </ion-label>
    </ion-item>
    <ion-item [detail]="true" (click)="editGiftPoint()" class="condition-item" *ngIf="levelsReady && guestAllowed()">
      <p>
        <ion-icon name="gift-outline" color="primary"></ion-icon>{{ condition.GiftPoint | number }}pt
      </p>
    </ion-item>
    <ng-template [ngIf]="condition.SituationIDArray.length > 0">
      <ion-item lines="none">
        <ion-label>
          <strong>{{ 'Today Mood' | translate }}</strong>
        </ion-label>
      </ion-item>
      <ion-item [detail]="true" (click)="editSitTags()" class="sit-tag-item">
        <ion-label class="ion-text-wrap">
          <ion-buttons class="sit-tag-btns">
            <ion-button *ngFor="let tagItem of sitTags">
              #{{ tagItem.Name }}
            </ion-button>
          </ion-buttons>
        </ion-label>
      </ion-item>
    </ng-template>
    <ion-item lines="none" *ngIf="classList.length > 0">
      <ion-label class="bold">
        {{ 'Total' | translate }}
      </ion-label>
      <ion-text class="bold" *ngIf="condition.ClassID > 0">
        {{ getTotalPoint() | number }}pt
      </ion-text>
      <ion-text class="bold" *ngIf="condition.ClassID === 0">
        {{ getTotalString() }}
      </ion-text>
    </ion-item>
    <ion-item>
      <h6 class="small-note">
        ※予定時間より早く解散した場合でもお見積り分の料金が発生します。<br />
        ※延長は予定時刻終了後15分後から発生します。（キャスト1名ごとに{{ getExtendPoint() | number }}pt / 15分）<br />
        ※優先マッチング希望が成立した場合、別途希望キャスト1名ごとに 2,000pt 頂戴致します。<br />
        ※深夜時間0:00~6:00の時間を跨ぐご予約の場合、別途キャスト1名ごとに 4000pt 頂戴いたします。
      </h6>
    </ion-item>
    <br>
    <ion-item lines = "none">
      <ion-label>
        運営へ一言
      </ion-label>
    </ion-item>
    <ion-item lines = "none" class="ion-margin-bottom">
      <ion-textarea class="notify-input" [rows]="3" placeholder="運営への要望があればご記入下さい。 (例: 接待なので空気の読める方希望します) "
      [autoGrow]="true" [(ngModel)]="condition.NotifyAdmin" [maxlength]="200"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="flex-label">
        {{ 'Anonymous Call (free)' | translate }}
        <ion-icon name="alert-circle" class="ion-align-self-center anonymous-note" (click)="showNotify('anonymous')"></ion-icon>
      </ion-label>
      <ion-toggle [(ngModel)]="condition.IsAnonymous"></ion-toggle>
    </ion-item>
    <br />
    <ion-item class="notes" line="none" style="clear:both;">
      <h6 class="small-note">確定するまで料金は発生しません。<br/>
      条件に合うキャストが見つかった場合のみ開催が決定され、見つからなかった場合はキャンセルとなります。その場合料金は発生しません。</h6>
    </ion-item>
    <ion-item class="corona-note" lines="none" style="color:white;">
      <ion-label class="ion-text-wrap">
        <p class="title">
          COVID-19（新型コロナウイルス感染症）の感染拡大を防ぐために。
        </p>
          <ul class="small-note">
          <li>手を清潔に保ちましょう。石けんで手洗いを行うか、手指消毒用アルコールで消毒を行いましょう。</li>
          <li>咳やくしゃみをする人からの距離を保ちましょう。</li>
          <li>対人距離を維持できない場合はマスクをしましょう。</li>
          <li>自分の目、鼻、口に触るのは止めましょう。</li>
          <li>咳やくしゃみをするときは、肘の内側またはティッシュ ペーパーで鼻と口を覆いましょう。</li>
          </ul>
        <p style="color:white;">屋内でお互いの距離が十分に確保できない状況で一定時間を過ごすときはご注意下さい。</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="confirm()" [disabled]="isDisabled">{{ 'Confirm Reservation' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>