.slide-casts {
  --ion-grid-padding: 5px 0;

  .slide-col {
    --ion-grid-column-padding: 5px 0;

    .slides {
      padding: 0 10px;

      ion-slide {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
}

ion-select {
  margin-right: 0;
}

.large-location {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

ion-icon {
  font-size: 24px;
}

.number-change-icon {
  margin-left: 5px;
}

.call-button {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.app-store-img {
  width: 150px;
  margin-top: 10px;
  margin: auto;
}

.after-call-btn{
  margin: auto;
}

.np-start{
  display: none;
}

.call-card{
  width: 92%;
  margin: 18px auto;
  border-left: 3px solid var(--ion-color-warning-tint);

  ion-item{
    --padding-start: 15px;
    --min-height: 36px;

    &.text-item{
  
      .status-text{
        color: #777;
        font-size: 12px;
        margin: 0;
      }
      .help-text{
        font-size: 16px;
        margin: 0;
      }

      .call-type{
        font-size: 12px;
        color: #777;
      }
    }

    &.reservation-item{
      p.reservation-text{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 15px;    
      }
      --min-height: 32px;
    }

    &.sum-item{
      --padding-bottom: 10px;
    }

    &.time-item{
      --padding-top: 10px;
    }

    ion-label.class-item{
      p{
        color: black;
        &:first-child{
          font-size: 17px;
        }
      }
    }

    ion-button{
      height: 40px;
      width: 120px;
      font-size: 12px;
    }

    p.tag-item{
      font-size: 12px;
    }

    .sum-label{
      strong{
        font-size: 18px;
      }
      font-size: 15px;
    }
  }
}

// call start mark
.call-start-mark{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 2;
  color: white;
  font-size: 36px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.call-condition{
  ion-select{
    text-align: right;
    margin-left: 0px; 
    padding: 0px 5px; 
  }
}

.w-100{
  width: 100%;
}