<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title class="ion-text-center">
      <ion-img src="assets/img/top-logo.png" style="width: 90px; margin: auto;"></ion-img>
    </ion-title> -->
    <ion-buttons slot="start">
      <ion-button routerLink="/main/notice">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="getNotifyCount() > 0" color="danger" class="notify-count-badge ion-no-padding">
        {{ getNotifyCount() }}
      </ion-badge>
    </ion-buttons>
    <ion-buttons *ngIf="user && user.Role == 1" slot="end">
      <ion-chip outline color="primary" routerLink="/main/mypage/point/buy">
        保有：{{ user.Point | number }} pt
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'Call the Cast' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header *ngIf="user">
    <ion-item lines="none" *ngIf="!(user.LineID && user.LineID !== '') && !(user.Email && user.Email !== '')"
      class="ion-no-margin ion-no-padding header-item" [detail]="false" routerLink="/main/mypage/setting/notify">      
      <p>【通知設定】メールかLINEで連携してください </p>
    </ion-item>
  </ion-header>
  <ion-header>
    <ion-img src="assets/img/usage-guest.png" routerLink="/main/mypage/help/usage"></ion-img>
  </ion-header>
  <ion-list *ngIf="calls && calls.length > 0 && classList.length > 0">
    <ion-list-header>
      {{ 'Ongoing Glass Call' | translate }}
    </ion-list-header>
    <ion-card class="call-card" *ngFor="let callItem of calls; index as index">
      <ion-item class="text-item" lines="none">
        <ion-label class="status-text">
          {{ getStatusText(callItem.Status, callItem.IsPrivate) }}
        </ion-label>
        <span class="call-type" *ngIf="callItem.IsPrivate">
          {{ 'Private Call' | translate }}
        </span>
        <span class="call-type" *ngIf="!callItem.IsPrivate">
          {{ 'Public Call' | translate }}
        </span>
      </ion-item>
      <ion-item class="text-item" lines="none">
        <p class="help-text">
          <strong>{{ getHelpText(callItem.Status, callItem.IsPrivate) }}</strong>
        </p>
      </ion-item>
      <ion-item class="reservation-item" lines="none" *ngIf="callItem.Reservation">
        <p class="reservation-text">
          {{ 'Reservation Name' | translate }} : <strong>{{ callItem.Reservation }}</strong>
        </p>
      </ion-item>
      <ion-item class="reservation-item" lines="none" *ngIf="callItem.Place">
        <p class="reservation-text">
          {{ 'Place' | translate }} : <strong>{{ callItem.Place }}</strong>
        </p>
      </ion-item>
      <ion-item lines="full" class="sum-item">
        <ion-label class="sum-label" *ngIf="callItem.ClassID > 0">
          {{ 'Sum' | translate }}: 
            <ng-template [ngIf]="callItem.Status!=='break'" [ngIfElse]="breakInvoice">
              <strong>{{ getTotalCost(callItem) }}pt~</strong>
            </ng-template>
            <ng-template #breakInvoice>
              <strong>{{ getExpectedInvoice(callItem) }}pt</strong>
            </ng-template>
        </ion-label>
        <ion-label class="sum-label" *ngIf="callItem.ClassID === 0 && classList.length > 0"
          style="white-space: normal;">
          <div>{{ 'Sum' | translate }}:
            <strong>{{ minClassPoint * callItem.Person * 2 * callItem.Period | number }}pt~</strong>
          </div>
          <div style="display: flex; justify-content: center;">
            <strong>{{ maxClassPoint * callItem.Person * 2 * callItem.Period | number }}pt</strong>
          </div>
        </ion-label>
        <ion-buttons>
          <ion-button fill="outline" (click)="editReservation(callItem.Status, callItem.ID, index)">
            {{ getButtonText(callItem.Status) }}
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item lines="none" class="time-item" *ngIf="!callItem.IsPrivate">
        <strong>{{ getMeetLocationStr(callItem) }}</strong>
      </ion-item>
      <ion-item lines="none">
        <strong>{{ getMeetTimeStr(callItem) }}</strong>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="class-item">
          <p><strong>{{ getClassPerson(callItem) }}</strong></p>
          <!-- <p *ngIf="callItem.ClassID === 0">
            {{ getClassString(callItem) }}
          </p> -->
        </ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="childTagsReady && callItem.SituationIDArray.length > 0">
        <p class="ion-no-margin tag-item">
          {{ getTags(callItem) }}
        </p>
      </ion-item>
      <div class="call-start-mark ion-align-items-center ion-text-center" *ngIf="callItem.Status === 'starting'">
        <label>
          {{ 'Joining Now ...' | translate }}
        </label>
      </div>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="call">
    <ion-list-header>
      <ion-label>
        {{ 'Meet Location' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label style="display: none;">{{ 'Meet Location Selection' | translate }}</ion-label>
      <ion-select slot="start" [(ngModel)]="call.BigLocationID" class="large-location"
        (ngModelChange)="bigLocationChanged()" cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="option.ID" *ngFor="let option of parentLocations">{{ option.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="call">
    <ion-list-header>
      <ion-label>
        {{ 'Call the Cast' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-grid class="call-condition">
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none" style="--padding-start: 10px;">
            <ion-icon name="time-outline" color="primary"></ion-icon>
            <ion-label class="d-none">{{ "Meet Time" | translate }}</ion-label>            
            <ion-text class="ion-text-right w-100" (click)="openSelectModal('time')">
              {{ call.TimeOther ? (call.MeetTimeISO| date:"MM-dd HH:mm") : call.MeetTime }}
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none" *ngIf="childLocations.length > 0" style="--padding-start: 10px;">
            <ion-icon name="location-outline" color="primary"></ion-icon>
            <ion-label class="d-none">{{ "Meet Area" | translate }}</ion-label>
            <ion-text class="ion-text-right w-100" (click)="openSelectModal('location')">
              {{ call.Location && call.LocationID > 0 ? call.Location.Name + (call.Place ? "," + call.Place : "") + (call.Reservation ? "," + call.Reservation : "") : call.OtherLocation + (call.Place ? "," + call.Place : "") + (call.Reservation ? "," + call.Reservation : "")}}
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row *ngIf="call.TimeOther">
        <ion-item *ngIf="call.TimeOther" lines="none">
          <ion-label class="d-none"></ion-label>
          <ion-datetime displayFormat="YYYY年 M月 D日 HH時 mm分" min="{{ getThisYear() }}" max="{{ getThisYear() + 1 }}"
            cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}"
            minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="call.MeetTimeISO" style="padding-left: 0px;">
          </ion-datetime>
        </ion-item>
      </ion-row> -->
      <!-- <ion-row *ngIf="call.LocationID === 0">
        <ion-item *ngIf="call.LocationID === 0" lines="none" style="width: 100%;">
          <ion-input placeholder="{{ 'Please Input The Location' | translate }}" [(ngModel)]="call.OtherLocation">
          </ion-input>
        </ion-item>
      </ion-row> -->
      <ion-row>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none" style="--padding-start: 10px;">
            <ion-icon name="people-outline" color="primary"></ion-icon>
            <ion-label class="d-none">{{ "Number of People" | translate }}</ion-label>            
            <ion-text class="ion-text-right w-100" (click)="openSelectModal('person')">
              {{ call.Person }}名
            </ion-text>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-item lines="none" style="--padding-start: 10px;">
            <ion-icon name="alarm-outline" color="primary"></ion-icon>
            <ion-label class="d-none">{{ "Period Hour" | translate }}</ion-label>            
            <ion-text class="ion-text-right w-100" (click)="openSelectModal('period')">
              {{ call.Period }}時間
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="call.Class">
        <ion-item lines="none" *ngIf="reverseClassList.length > 0" style="width: 100%; --padding-start: 10px;">
          <ion-icon name="ribbon-outline" color="primary"></ion-icon>
          <ion-label class="d-none">{{ "Cast Class Selection" | translate }}</ion-label>
          <ion-text class="ion-text-right w-100" (click)="openSelectModal('class')">
            <ng-template [ngIf]="call.ClassID > 0" [ngIfElse]="mixClassCase">
              {{ call.Class.Name.padEnd(10, ' ') + (call.Class.Point | number) + ('Point/30min' | translate) }}
            </ng-template>
            <ng-template #mixClassCase>
              {{ 'Selected By Staff' | translate }}
            </ng-template>
          </ion-text>
        </ion-item>
      </ion-row>
    </ion-grid>
    <ion-button expand="block" class="call-button" (click)="goToSituaion()">{{ 'Call the Cast' | translate }}
    </ion-button>
  </ion-list>
  <ion-list *ngIf="desiredCasts.length > 0">
    <ion-list-header>
      <ion-label>
        {{ 'Desired Cast List Today' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-grid class="slide-casts">
      <ion-row class="slide-row">
        <ion-col class="slide-col">
          <ion-slides [options]="slideOpts" class="slides" (ionSlideNextEnd)="moreData($event)">
            <ion-slide *ngFor="let cast of desiredCasts">
              <app-cast-card [routerLink]="['/main/profile', cast.ProfileID]" [nickname]="cast.Nickname"
                [birthday]="cast.Birthday" [birthdayHidden]="cast.BirthdayHidden" [point]="cast.PointHalf"
                [status]="cast.Status" [leftAt]="cast.LeftAt ? cast.LeftAt : ''" [word]="cast.Word" [isMatching]="false"
                [classColor]="cast.Class?.Color" [className]="cast.Class?.Name" [castStart]="cast.CastStart"
                [image]="cast.Images[0].Path" [locationName]="cond.getLocationName(cast)" [profileID]="cast.ProfileID">
              </app-cast-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list *ngIf="familyCasts.length > 0">
    <ion-list-header>
      <ion-label>
        {{ 'Family Cast List' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-grid class="slide-casts">
      <ion-row class="slide-row">
        <ion-col class="slide-col">
          <ion-slides [options]="slideOpts" class="slides" (ionSlideNextEnd)="moreFamilyData($event)">
            <ion-slide *ngFor="let cast of familyCasts">
              <app-cast-card [routerLink]="['/main/profile', cast.ProfileID]" [nickname]="cast.Nickname"
                [birthday]="cast.Birthday" [birthdayHidden]="cast.BirthdayHidden" [point]="cast.PointHalf"
                [status]="cast.Status" [leftAt]="cast.LeftAt ? cast.LeftAt : ''" [word]="cast.Word" [isMatching]="false"
                [classColor]="cast.Class?.Color" [className]="cast.Class?.Name" [castStart]="cast.CastStart"
                [image]="cast.Images[0].Path" [locationName]="cond.getLocationName(cast)" [profileID]="cast.ProfileID">
              </app-cast-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-item lines="none"></ion-item>
  <!-- <ion-list>
    <ion-list-header>
      <ion-label>
        {{ 'App Contact' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <h5>
        アプリで快適なglassライフをお楽しみください。
      </h5>
    </ion-item>
    <ion-item lines="none">
      <a href="#" class="app-store-img">
        <ion-img src="assets/img/appstore.png"></ion-img>
      </a>
    </ion-item>
  </ion-list> -->
  <!-- <ion-list>
    <ion-list-header>
      <ion-label>
        {{ 'Call After Today' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <h5>
        glassコールが前もってご予約できるようになりました。
      </h5>
    </ion-item>
    <ion-item *ngIf="call" lines="none" class="ion-text-center ion-align-items-center">
      <ion-button size="large" class="after-call-btn" (click)="callAfter()">{{ 'Call After Today' | translate }}
      </ion-button>
      <ion-datetime #callAfterDatetime displayFormat="YYYY年 M月 D日 HH時 mm分" min="{{ getThisYear() }}"
        max="{{ getThisYear() + 1 }}" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" [(ngModel)]="call.MeetTimeISO"
        class="np-start" (ngModelChange)="afterTimeSelected()" cancelText="{{ 'Cancel' | translate }}"
        doneText="{{ 'OK' | translate }}">
      </ion-datetime>
    </ion-item>
    <ion-item></ion-item>
  </ion-list> -->
</ion-content>