<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'Search' | translate }}" defaultHref="/main/search"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Filter Search' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearFilter()">{{ 'Clear' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        {{ 'Location And Class' | translate }}
      </ion-label>
    </ion-list-header>
    <!-- <ion-item lines="none" *ngIf="residences.length > 0 && filterCond">
      <ion-label>{{ 'Residence' | translate }}</ion-label>
      <ion-select [(ngModel)]="filterCond.Location" cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="0">{{ 'Unselected' | translate }}
        </ion-select-option>
        <ion-select-option [value]="option.ID" *ngFor="let option of residences">{{ option.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item> -->
    <ion-item lines="none" *ngIf="locations.length > 0 && filterCond">
      <ion-label>{{ 'Residence' | translate }}</ion-label>
      <ion-select [(ngModel)]="filterCond.Location" cancelText="{{ 'Cancel' | translate }}"
        okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="0">{{ 'Unselected' | translate }}
        </ion-select-option>
        <ion-select-option [value]="option.ID" *ngFor="let option of locations">{{ option.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" *ngIf="classes.length > 0 && filterCond">
      <ion-label>{{ 'Cast Class' | translate }}</ion-label>
      <ion-select placeholder="{{'Unselected' | translate}}" [(ngModel)]="filterCond.Class" [multiple]="true"
        cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
        <ion-select-option [value]="option.ID" *ngFor="let option of classes">{{ option.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="parentTags && filterCond">
    <ion-list-header>
      <ion-label>
        {{ 'Tags' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item lines="none" *ngFor="let parentTag of parentTags">
      <ion-grid>
        <ion-row>
          <ion-label> {{ parentTag.Name }} </ion-label>
        </ion-row>
        <ion-row>
          <ion-buttons>
            <ng-container *ngFor="let childTag of childTags[parentTag.ID]">
              <ion-button fill="outline" (click)="clickTags(childTag)"
                [ngClass]="{'selected' : filterCond.Tag.includes(childTag.ID)}">{{ childTag.Name }}</ion-button>
            </ng-container>
          </ion-buttons>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="filterCond">
    <ion-list-header>
      <ion-label> {{ 'Glass Schedule' | translate }}<span class="this-month-span">({{ curYear }}年{{ curMonth + 1
          }}月)</span></ion-label>
    </ion-list-header>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let day of todaysDayList" class="ion-text-center">
          {{ day }}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let weekIndex of [0, 1]">
        <ion-col *ngFor="let firstWeekDay of Weeks[weekIndex]" class="ion-text-center">
          <button class="schedule-date-button" (click)="selectScheduleDate(firstWeekDay.date)"
            [ngClass]="{'selected': filterCond.Schedule.includes(firstWeekDay.date)}">{{ firstWeekDay.day }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item lines="none">
      <ion-text color="primary">
        <h6 class="schedule-note">
          日付は午前5時区切りです。(AM05:00~翌AM05:00)
        </h6>
        <h6 class="schedule-note">
          <!-- <ion-icon name="alert-circle-outline"></ion-icon> -->
          例) x月2日の午前3時は"1日"となります。
        </h6>
      </ion-text>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Point Per Half' | translate }}</ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label>
        {{ curRange.lower | number }}pt
      </ion-label>
      <ion-label class="ion-text-right">
        {{ curRange.upper | number }}pt
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-range [min]="0" [max]="20000" [step]="500" [dualKnobs]="true" [(ngModel)]="curRange">
      </ion-range>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="filterCond">
    <ion-list-header>
      {{ 'Additional Condition' | translate }}
    </ion-list-header>
    <ion-item lines="none">
      <ion-label>{{ 'Recently' | translate }}{{ 'Registered' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="filterCond.Recently"></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{ 'This Month' | translate }}{{ 'Birthday' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="filterCond.Birthday"></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label>{{ 'Have Time Today' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="filterCond.TodayFree"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
    <ion-list>
      <ion-button class="ion-margin" expand="block" (click)="execSearch()">
        {{ 'Search With This Condition' | translate }}
      </ion-button>
    </ion-list>
</ion-footer>