.selected {
  background-color: var(--ion-color-primary);
  color: white;
}

.schedule-date-button {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  line-height: 1.0;

  &.selected {
    background-color: var(--ion-color-primary);
    color: white;
  }

  &:focus {
    outline: initial;
  }
}

.this-month-span {
  font-size: 15px;
}

.schedule-note {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 12px;
}

ion-buttons {
  display: initial !important;

  ion-button {
    margin: 5px;
    font-size: 15px;
  }
}