<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'Help' | translate }}" defaultHref="/main/mypage/help"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Other' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- <ion-item detail="true" routerLink="/use-terms">
    <ion-icon slot="start" name="chatbubble-ellipses" color="primary"></ion-icon>
    <ion-label>{{ 'Terms of Use' | translate }}</ion-label>
  </ion-item>
  <ion-item detail="true" routerLink="/privacy-policy">
    <ion-icon slot="start" name="checkmark-done-circle" color="primary"></ion-icon>
    <ion-label>{{ 'Privacy Policy' | translate }}</ion-label>
  </ion-item>
  <ion-item detail="true"  routerLink="/commercial-transactions">
    <ion-icon slot="start" name="reader" color="primary"></ion-icon>
    <ion-label>{{ 'Notation based on Specified Commercial Transactions' | translate }}</ion-label>
  </ion-item> -->
  <ion-item (click)="logOut()">
    <ion-icon slot="start" name="log-out" color="primary"></ion-icon>
    <ion-label>{{ 'Log out' | translate }}</ion-label>
  </ion-item>
  <ion-item (click)="outGlass()">
    <ion-icon slot="start" name="log-out" color="primary"></ion-icon>
    <ion-label>{{ 'Withdraw' | translate }}</ion-label>
  </ion-item>
</ion-content>

