<ion-card class="infinite-cards" inViewport [inViewportOptions]="{ partial: true, threshold: [0, 1] }" (inViewportAction)="viewStatusChanged($event)">
  <div class="class-div" *ngIf="!isFavoriteCard">
    <label class="cast-class" [style]="'background-color: ' + classColor">{{ className }}</label><br/>
    <label *ngIf="todayFree" class="today-free">今日ひま</label>
  </div>  
  <div class="image-wrapper" (click)="viewCast()" [class.video-wrapper]="video !== ''">
    <ng-template [ngIf]="video === ''" [ngIfElse]="videoPart">
      <img [src]="image" />
    </ng-template>
    <ng-template #videoPart>
      <video [id]="'video-normal-' + profileID" loop muted playsinline onloadedmetadata="this.muted = true" class="cast-video" [poster]="image">
        <source src="{{ video + '#t=0.1' }}" type="video/mp4">
      </video>
    </ng-template>
    <div class="filled-backdrop" *ngIf="isMatching">
      <ion-icon name="checkmark-outline"></ion-icon>
      <ng-template [ngIf]="isDesireCard" [ngIfElse]="notDesire">
        <p>マッチング希望</p>
        <p>しました</p>
      </ng-template>
      <ng-template #notDesire>
        <p *ngIf="!isDesireCard">埋まりました</p>
      </ng-template>
    </div>
  </div>
  <div class="cast-info">
    <h6>
      <span class="online-status" [ngClass]="getStatusClass()" *ngIf="getStatusClass() !== ''"></span>
      <span class="ellipsis">
        {{ { Nickname: nickname, Birthday: birthday, BirthdayHidden: birthdayHidden } | label }} {{ locationName }}
      </span>
    </h6>
    <h6 class="cast-greeting">
      {{ word ? word : ('Cast Standard Greeting' | translate) }}
    </h6>
  </div>
  <ion-card-content class="ion-text-center" [class.desire-bottom]="isDesireCard" [class.video-content]="video !== ''">
    <ng-template [ngIf]="isDesireCard">
      <ng-template [ngIf]="isMatching" [ngIfElse]="desireCast">
        <h6 class="desire-cast" (click)="matchCast()">{{ 'Cancel' | translate }}</h6>
      </ng-template>
      <ng-template #desireCast>
        <h6 class="desire-cast" (click)="matchCast()">{{ 'Desire Cast' | translate }}</h6>
      </ng-template>
    </ng-template>
    <ng-template [ngIf]="isFavoriteCard">
      <ng-template [ngIf]="isFavorite" [ngIfElse]="notFavoriteCast">
        <h6 class="favorite-cast" (click)="favoriteCast()">{{ 'You Liked Her' | translate }}</h6>
      </ng-template>
      <ng-template #notFavoriteCast>
        <h6 class="favorite-cast active" (click)="favoriteCast()">{{ 'Like you!' | translate }}</h6>
      </ng-template>
    </ng-template>
    <ng-template [ngIf]="!isDesireCard && !isFavoriteCard">
      <span (click)="viewCast()">
        {{ (point | number) + ('Point/30min' | translate) }}
      </span>
    </ng-template>
  </ion-card-content>
  <div class="new-birthday-div" *ngIf="!isFavoriteCard">
    <!--
    <div class="new-icon birthday-icon ion-text-center" *ngIf="todayFree">
      <img src="assets/img/today-free-12.svg">
    </div>
    -->
    <div class="new-icon ion-text-center" *ngIf="isNew()">
      <ion-icon name="heart-half-outline" class="fresh-icon"></ion-icon>
    </div>
    <div class="new-icon birthday-icon ion-text-center" *ngIf="isBirthdayThisMonth()">
      <img src="assets/img/birthday-mark-primary.svg">
    </div>
  </div>
</ion-card>