.class-div {
  /*
  ion-icon {
    font-size: 24px;
    align-self: center;
  }
  */

  position: absolute;
  z-index: 2;
  left: 3px;
  top: 3px;


  label.cast-class {
    color: white;
    opacity: 0.8;
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 3px;
    display:inline-block;
    text-align:center;
    margin-bottom:1px;
  }

  label.today-free{
    color: orange;
    background-color:white;
    border:1px solid orange;
    opacity: 0.8;
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 3px;
    display:inline-block;
}
}

.cast-info{
  text-align: left;
  h6 span.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 22px);
  }
}

h6.desire-cast {
  font-size: 12px;
}

ion-card-content {
  height: 32px;
}

.favorite-cast {
  color: var(--ion-color-success);
  &.active {
    color: var(--ion-color-warning-tint);
  }

  font-size: 20px;
}

.online-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  align-self: center;
  margin-right: 5px;
  &.green {
    background-color: var(--ion-color-success);
  }
  &.yellow {
    background-color: var(--ion-color-warning);
  }
  &.gray {
    background-color: var(--ion-color-medium);
  }
}

ion-card-content.desire-bottom {
  background-color: #fcc030;
  color: white;
}

ion-card-content.video-content {
  background-color: white;
}

ion-icon.fresh-icon{
  color: white;
  font-size: 16px;
}

video.cast-video{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.video-wrapper {
  display: flex;
  video.cast-video {
    align-self: center;
  }
}