<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Sign in with Email' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="full">
      <ion-label position="stacked">
        {{ 'Email' | translate }}
      </ion-label>
      <ion-input type="email" inputmode="email" [maxlength]="50" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">
        {{ 'Password' | translate }}
      </ion-label>
      <ion-input type="password" [maxlength]="50" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button class="ion-margin" expand="block" [disabled]="isLoading" (click)="onLogin()">{{ 'Login' | translate }}
    </ion-button>
    <ion-button class="ion-margin" expand="block" [routerLink]="guestRegisterURL" *ngIf="role === 'guest'">
      {{ 'Register' | translate }}
    </ion-button>
    <ion-button class="ion-margin" expand="block" [routerLink]="castRegisterURL" *ngIf="role === 'cast'">
      {{ 'Register' | translate }}
    </ion-button>
    <ion-button class="ion-margin" expand="block" routerLink="/agent/register" *ngIf="role === 'agent'">
      {{ 'Register' | translate }}
    </ion-button>
    <ion-button expand="block" fill="clear" [routerLink]="getDefaultHref()" *ngIf="role !== 'agent'">
      ホームへ
    </ion-button>
  </div>

</ion-content>