<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button #backButton text="" defaultHref="/main/chat"></ion-back-button>
    </ion-buttons>
    <ng-template [ngIf]="call && call.ID > 0">
      <ion-title>
        {{ call.MeetTimeISO | date: 'M/d HH:mm~' }}
      </ion-title>      
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="call && user && user.Role === 1">
  <ion-list *ngIf="call.ID > 0">
    <ion-list-header>
      {{ 'Call Status' | translate }}
    </ion-list-header>
    <ion-item lines="none">
      <ion-label></ion-label>
      <ion-text>
        <h4>
          <strong>{{ getStatusTitle(call) }}</strong>
        </h4>
      </ion-text>
    </ion-item>
  </ion-list>

  <!-- if call is ended  -->
  <ng-template [ngIf]="call.Status === 'end'" [ngIfElse]="notEndedYet">
    <ng-container *ngIf="invoiceDetail">
      <ion-list *ngFor="let detail of invoiceDetail">
        <ion-list-header>
          <ion-avatar style="margin-right: 8px;">
            <img [src]="detail.User.Images[0].Path"
              *ngIf="detail.User && detail.User.Images && detail.User.Images.length > 0">
          </ion-avatar>
          <ion-label>{{ { Nickname : detail.User.Nickname, Birthday : detail.User.Birthday,
            BirthdayHidden: detail.User.BirthdayHidden } | label }}</ion-label>
        </ion-list-header>
        <!-- <ion-item *ngIf="detail.StartedAt">
          <ion-label>{{ 'Join Start Time' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.StartedAt | date: 'M/d HH:mm' }}</ion-text>
        </ion-item>
        <ion-item *ngIf="detail.EndedAt">
          <ion-label>{{ 'Join End Time' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.EndedAt | date: 'M/d HH:mm' }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Meeting Period' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.JoinTime | number }}分</ion-text>
        </ion-item>         -->
        <ion-item>
          <ion-label>{{ 'Confluence 60 Minutes' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.Period * 60 }}分</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Meeting Point' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.JoinPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Delay 30 Minutes' | translate }} {{ getExpiredTime(detail.JoinTime, detail.Period) }}分
          </ion-label>
          <ion-text slot="end">{{ detail.ExtendPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item *ngIf="detail.DesirePoint > 0">
          <ion-label>{{ 'Desire Matching' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.DesirePoint | number }}pt</ion-text>
        </ion-item>
        <ion-item *ngIf="detail.NightPoint > 0">
          <ion-label>{{ 'Midnight Allowance' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.NightPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item *ngIf="detail.GiftPoint > 0">
          <ion-label>{{ 'Gift Point' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.GiftPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Subtotal' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.TotalPoint | number }}pt</ion-text>
        </ion-item>
      </ion-list>      
    </ng-container>
  </ng-template>

  <!-- if call is not ended -->
  <ng-template #notEndedYet>
    <ion-list *ngFor="let castInvoiceItem of castInvoices">
      <ion-list-header>
        <ion-avatar style="margin-right: 8px;">
          <img [src]="castInvoiceItem.Cast.Images[0].Path"
            *ngIf="castInvoiceItem.Cast && castInvoiceItem.Cast.Images && castInvoiceItem.Cast.Images.length > 0">
        </ion-avatar>
        <ion-label>{{ { Nickname : castInvoiceItem.Cast.Nickname, Birthday : castInvoiceItem.Cast.Birthday,
          BirthdayHidden: castInvoiceItem.Cast.BirthdayHidden } | label }}</ion-label>
      </ion-list-header>
      <ng-template [ngIf]="castInvoiceItem.Invoice" [ngIfElse]="noInvoice">
        <!-- <ion-item>
          <ion-label>{{ "Join Start Time" | translate }}</ion-label>
          <ion-text>
            {{ castInvoiceItem.Invoice.StartedAt ? 
              (castInvoiceItem.Invoice.StartedAt | date: 'M/d HH:mm') : ('Undefined' | translate) }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ "Join End Time" | translate }}</ion-label>
          <ion-text>
            {{ castInvoiceItem.Invoice.EndedAt ? (castInvoiceItem.Invoice.EndedAt | date: 'M/d HH:mm') : ('Undefined' | translate) }}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Meeting Period' | translate }}</ion-label>
          <ion-text slot="end">{{ castInvoiceItem.Invoice.JoinTime | number }}分</ion-text>
        </ion-item>      -->
        <ion-item>
          <ion-label>{{ 'Confluence 60 Minutes' | translate }}</ion-label>
          <ion-text slot="end">{{ castInvoiceItem.Invoice.Period * 60 }}分</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Meeting' | translate }} 
            {{ castInvoiceItem.Invoice.JoinTime < castInvoiceItem.Invoice.Period * 60 ? 
              (castInvoiceItem.Invoice.JoinTime | number) : castInvoiceItem.Invoice.Period * 60 }}分</ion-label>
          <ion-text slot="end">{{ castInvoiceItem.Invoice.JoinPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Delay 30 Minutes' | translate }} {{ getExpiredTime(castInvoiceItem.Invoice.JoinTime, castInvoiceItem.Invoice.Period) }}分
          </ion-label>
          <ion-text slot="end">{{ castInvoiceItem.Invoice.ExtendPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item *ngIf="castInvoiceItem.Invoice.DesirePoint > 0">
          <ion-label>{{ 'Desire Matching' | translate }}</ion-label>
          <ion-text slot="end">{{ castInvoiceItem.Invoice.DesirePoint | number }}pt</ion-text>
        </ion-item>
        <ion-item *ngIf="castInvoiceItem.Invoice.NightPoint > 0">
          <ion-label>{{ 'Midnight Allowance' | translate }}</ion-label>
          <ion-text slot="end">{{ castInvoiceItem.Invoice.NightPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item *ngIf="castInvoiceItem.Invoice.GiftPoint > 0">
          <ion-label>{{ 'Gift Point' | translate }}</ion-label>
          <ion-text slot="end">{{ castInvoiceItem.Invoice.GiftPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Subtotal' | translate }}</ion-label>
          <ion-text slot="end">{{ castInvoiceItem.Invoice.TotalPoint | number }}pt</ion-text>
        </ion-item>
      </ng-template>
      <ng-template #noInvoice>
        <ion-item>
          <ion-label></ion-label>
          <ion-text>
            まだ合流していません
          </ion-text>
        </ion-item>
      </ng-template>
    </ion-list>
  </ng-template>

  <ion-list *ngIf="invoice">
    <ion-list-header>
      <ion-label>
        {{ 'Sum' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label></ion-label>
      <ion-text>
        <h4>
          <strong>{{ invoice.Amount | number }} P</strong>
        </h4>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="call && user && user.Role === 0">
  <ion-list *ngIf="call.ID > 0">
    <ion-list-header>
      {{ 'Call Status' | translate }}
    </ion-list-header>
    <ion-item lines="none">
      <ion-label></ion-label>
      <ion-text>
        <h4>
          <strong>{{ getStatusTitle(call) }}</strong>
        </h4>
      </ion-text>
    </ion-item>
  </ion-list>

  <!-- if call is ended  -->
  <ng-template [ngIf]="call.Status === 'end'" [ngIfElse]="notEndedYet">
    <ng-container *ngIf="invoiceDetail">
      <ion-list *ngFor="let detail of invoiceDetail">
        <ion-list-header>
          {{ 'Earned Point' | translate }}
        </ion-list-header>
        <ion-item *ngIf="detail.StartedAt">
          <ion-label>{{ 'Join Start Time' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.StartedAt | date: 'M/d HH:mm' }}</ion-text>
        </ion-item>
        <ion-item *ngIf="detail.EndedAt">
          <ion-label>{{ 'Join End Time' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.EndedAt | date: 'M/d HH:mm' }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Meeting Period' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.JoinTime | number }}分</ion-text>
        </ion-item>        
        <ion-item>
          <ion-label>{{ 'Confluence 60 Minutes' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.Period * 60 }}分</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Meeting Point' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.JoinPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Delay 30 Minutes' | translate }} {{ getExpiredTime(detail.JoinTime, detail.Period) }}分
          </ion-label>
          <ion-text slot="end">{{ detail.ExtendPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item *ngIf="detail.DesirePoint > 0">
          <ion-label>{{ 'Desire Matching' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.DesirePoint | number }}pt</ion-text>
        </ion-item>
        <ion-item *ngIf="detail.NightPoint > 0">
          <ion-label>{{ 'Midnight Allowance' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.NightPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item *ngIf="detail.GiftPoint > 0">
          <ion-label>{{ 'Gift Point' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.GiftPoint | number }}pt</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>{{ 'Subtotal' | translate }}</ion-label>
          <ion-text slot="end">{{ detail.TotalPoint | number }}pt</ion-text>
        </ion-item>
      </ion-list>      
    </ng-container>
  </ng-template>

  <!-- if call is not ended -->
  <ng-template #notEndedYet>
    <ng-template [ngIf]="castInvoices.length>0" [ngIfElse]="noJoin">
      <ng-container *ngFor="let castInvoiceItem of castInvoices">
        <ion-list *ngIf="castInvoiceItem.Invoice">
          <ion-list-header>
            {{ 'Earned Point' | translate }}
          </ion-list-header>
          <ion-item>
            <ion-label>{{ "Join Start Time" | translate }}</ion-label>
            <ion-text>{{ castInvoiceItem.Invoice.StartedAt | date: 'M/d HH:mm' }}</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>{{ "Join End Time" | translate }}</ion-label>
            <ion-text>
              {{ castInvoiceItem.Invoice.EndedAt ? (castInvoiceItem.Invoice.EndedAt | date: 'M/d HH:mm') : ('Undefined' | translate) }}
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'Meeting Period' | translate }}</ion-label>
            <ion-text slot="end">{{ castInvoiceItem.Invoice.JoinTime | number }}分</ion-text>
          </ion-item>     
          <ion-item>
            <ion-label>{{ 'Confluence 60 Minutes' | translate }}</ion-label>
            <ion-text slot="end">{{ castInvoiceItem.Invoice.Period * 60 }}分</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'Meeting Point' | translate }}</ion-label>
            <ion-text slot="end">{{ castInvoiceItem.Invoice.JoinPoint | number }}pt</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'Delay 30 Minutes' | translate }} {{ getExpiredTime(castInvoiceItem.Invoice.JoinTime, castInvoiceItem.Invoice.Period) }}分
            </ion-label>
            <ion-text slot="end">{{ castInvoiceItem.Invoice.ExtendPoint | number }}pt</ion-text>
          </ion-item>
          <ion-item *ngIf="castInvoiceItem.Invoice.DesirePoint > 0">
            <ion-label>{{ 'Desire Matching' | translate }}</ion-label>
            <ion-text slot="end">{{ castInvoiceItem.Invoice.DesirePoint | number }}pt</ion-text>
          </ion-item>
          <ion-item *ngIf="castInvoiceItem.Invoice.NightPoint > 0">
            <ion-label>{{ 'Midnight Allowance' | translate }}</ion-label>
            <ion-text slot="end">{{ castInvoiceItem.Invoice.NightPoint | number }}pt</ion-text>
          </ion-item>
          <ion-item *ngIf="castInvoiceItem.Invoice.GiftPoint > 0">
            <ion-label>{{ 'Gift Point' | translate }}</ion-label>
            <ion-text slot="end">{{ castInvoiceItem.Invoice.GiftPoint | number }}pt</ion-text>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'Subtotal' | translate }}</ion-label>
            <ion-text slot="end">{{ castInvoiceItem.Invoice.TotalPoint | number }}pt</ion-text>
          </ion-item>
        </ion-list>
      </ng-container>
    </ng-template>
    <ng-template #noJoin>
      <ion-item>
        <ion-label></ion-label>
        <ion-text>
          まだ合流していません
        </ion-text>
      </ion-item>
    </ng-template>
  </ng-template>

  <ion-list *ngIf="invoice">
    <ion-list-header>
      <ion-label>
        {{ 'Sum' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-label></ion-label>
      <ion-text>
        <h4>
          <strong>{{ invoice.Amount | number }} pt</strong>
        </h4>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>