<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'LINE @ Registration & Interview' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h5>LINE＠登録＆面談</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <a href="https://lin.ee/6fAJj9Tg">
          <img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0">
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>LINEの案内に沿って面談の調整</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-horizontal">
        <span>簡単なプロフィールや写真をLINE上で送っていただき面談の調整を行います。
          始める前にご質問や相談などをした方もLINEでお気軽にお問い合わせください♪</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding ion-text-center">

  </div>
</ion-content>