<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class = "close-btn">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Report' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="users.length > 0">
    <ion-list-header>
      {{ "Target User" | translate }}
    </ion-list-header>
    <ion-item>
      <ng-template [ngIf]="users.length > 1" [ngIfElse]="oneUser">
        <ion-select slot="end" [(ngModel)]="targetID"
          cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}"
          style="min-width: 90%; text-align: right;">
          <ion-select-option [value]="0">{{ 'Please select' | translate }}</ion-select-option>
          <ion-select-option [value]="option.ID" *ngFor="let option of users">{{ option.Nickname }}
          </ion-select-option>
        </ion-select>
      </ng-template>
      <ng-template #oneUser>
        <ion-text slot="end">{{ users[0].Nickname }}</ion-text>
      </ng-template>
    </ion-item>
  </ion-list>
  <br>  
  <ion-list>
    <ion-list-header>
      {{ "Report reason" | translate }}
    </ion-list-header>
    <ion-item lines="none" class="ion-margin-top">
      <ion-textarea *ngIf = "role === 1" inputmode="text" class="comment-input" [rows]="8"
      placeholder="通報理由をお書きください。（例：合流していないのにタイマーを回している。他アプリに誘導される。など）"
      [autoGrow]="true" [(ngModel)]="reportContent"></ion-textarea>

      <ion-textarea *ngIf = "role === 0" inputmode="text" class="comment-input" [rows]="8"
      placeholder="通報理由をお書きください。（例：他アプリに誘導される。タイマーなしで会おうとしてくる。など）"
      [autoGrow]="true" [(ngModel)]="reportContent"></ion-textarea>   
    </ion-item>
  </ion-list>  
</ion-content>