<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Profile' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Birthday' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-datetime #birthdayDatetime displayFormat="YYYY年 MM月 DD日" max="{{ getMaxYear() }}"
        placeholder="{{ 'Required' | translate }}" cancelText="{{ 'Cancel' | translate }}"
        doneText="{{ 'OK' | translate }}" [(ngModel)]="birthday">
      </ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>