<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ng-template [ngIf]="role" [ngIfElse]="castCase">
        <ion-back-button text="{{ 'Search' | translate }}" defaultHref="/main/search"></ion-back-button>
      </ng-template>
      <ng-template #castCase>
        <ion-back-button text="{{ 'Search' | translate }}" defaultHref="/main/guest-search"></ion-back-button>
      </ng-template>
    </ion-buttons>
    <ion-title>{{ 'Ranking' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-grid class="tight" *ngIf="locationReady">
      <ion-row class="tight">
        <ion-col size="8" class="ion-text-center tight">
          <ion-segment [(ngModel)]="isCast" class="role-segment">
            <ion-segment-button value="true">
              <ion-label>{{ 'Cast' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="false">
              <ion-label>{{ 'Guest' | translate }}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col size="4" class="ion-text-center tight">
          <ion-item class="tight" lines="none">
            <ion-label style="display: none;">{{ 'Rank Location' | translate }}</ion-label>
            <ion-select [(ngModel)]="rankLocation" class="tight" (ngModelChange)="locationChanged()"
              cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}">
              <ion-select-option [value]="0">{{ 'All Country' | translate }}
              </ion-select-option>
              <ion-select-option [value]="option.ID" *ngFor="let option of parentLocations">{{ option.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-template [ngIf]="isCast === 'true'" [ngIfElse]="guestRank">
    <!-- <ion-segment [(ngModel)]="mode['casts']" class="mode-segment" (ngModelChange)="changed(1)">
      <ion-segment-button value="0">
        <ion-label>{{ 'Aggregate' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>{{ 'New Cast' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment> -->
    <ion-segment [(ngModel)]="period['casts']" class="mode-segment" (ngModelChange)="changed(1)">
      <!-- <ion-segment-button value="0">
        <ion-label>{{ 'Yesterday' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>{{ 'Last Week' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>{{ 'Last Month' | translate}}</ion-label>
      </ion-segment-button> -->
      <ion-segment-button value="4">
        <ion-label>{{ 'Latest' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>{{ 'All Time' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ng-template [ngIf]="rankingList['casts'].length> 0">
      <ion-grid class="gold-ranker">
        <ion-row>
          <ion-col class="rank-mark-col">
            <ion-badge>{{ 1 }}</ion-badge>
          </ion-col>
          <ion-col class="user-photo-col ion-margin-top">
            <ion-thumbnail class="rank-gold-avatar" [routerLink]="['/main/profile', rankingList['casts'][0].ProfileID]">
              <ion-img [src]="rankingList['casts'][0].Images[0].Path"></ion-img>
            </ion-thumbnail>
            <ion-text>
              <h5 class="ion-text-center">
                {{ { Nickname: rankingList['casts'][0].Nickname, Birthday: rankingList['casts'][0].Birthday,
              BirthdayHidden: rankingList['casts'][0].BirthdayHidden } | label }} {{ callCond.getLocationName(rankingList['casts'][0]) }}
              </h5>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list>
        <ion-item lines="full"></ion-item>
        <ion-item class="rank-user-item" lines="full"
          *ngFor="let cast of rankingList['casts'].slice(1); index as index;">
          <ion-label class="rank-number">
            <ion-badge *ngIf="index < 2" [class]="(index === 0) ? 'rank-silver' : 'rank-copper'">
              {{ index + 2 }}
            </ion-badge>
            <ion-badge *ngIf="index >= 2" class="normal">
              {{ index + 2 }}
            </ion-badge>
          </ion-label>
          <ion-avatar class="ion-margin-end" [routerLink]="['/main/profile', cast.ProfileID]">
            <img [src]="cast.Images[0].Path">
          </ion-avatar>
          <ion-label>
            <h5>
              {{ { Nickname: cast.Nickname, Birthday: cast.Birthday, BirthdayHidden: cast.BirthdayHidden } | label }}
              {{ callCond.getLocationName(cast) }}
            </h5>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ng-template>
  <ng-template #guestRank>
    <!-- <ion-segment [(ngModel)]="mode['guests']" class="mode-segment" [scrollable]="true" (ngModelChange)="changed(0)">
      <ion-segment-button value="0">
        <ion-label>{{ 'Aggregate' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>{{ 'Glass Call' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>{{ 'Private Call' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>{{ 'Gift' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment> -->
    <ion-segment [(ngModel)]="period['guests']" class="mode-segment" (ngModelChange)="changed(0)">
      <!-- <ion-segment-button value="0">
        <ion-label>{{ 'Yesterday' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>{{ 'Last Week' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>{{ 'Last Month' | translate}}</ion-label>
      </ion-segment-button> -->
      <ion-segment-button value="4">
        <ion-label>{{ 'Latest' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>{{ 'All Time' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ng-template [ngIf]="rankingList['guests'].length> 0">
      <ion-grid class="gold-ranker">
        <ion-row>
          <ion-col class="rank-mark-col">
            <ion-badge>{{ 1 }}</ion-badge>
          </ion-col>
          <ion-col class="user-photo-col ion-margin-top">
            <ion-thumbnail class="rank-gold-avatar" [routerLink]="['/main/profile', rankingList['guests'][0].ProfileID]">
              <ion-img [src]="rankingList['guests'][0].Images[0].Path"></ion-img>
            </ion-thumbnail>
            <ion-text>
              <h5 class="ion-text-center">
                {{ { Nickname: rankingList['guests'][0].Nickname, Birthday: rankingList['guests'][0].Birthday,
                BirthdayHidden: rankingList['guests'][0].BirthdayHidden } | label }} {{ callCond.getLocationName(rankingList['guests'][0]) }}
              </h5>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list>
        <ion-item lines="full"></ion-item>
        <ion-item class="rank-user-item" lines="full"
          *ngFor="let guest of rankingList['guests'].slice(1); index as index;">
          <ion-label class="rank-number">
            <ion-badge *ngIf="index < 2" [class]="(index === 0) ? 'rank-silver' : 'rank-copper'">
              {{ index + 2 }}
            </ion-badge>
            <ion-badge *ngIf="index >= 2" class="normal">
              {{ index + 2 }}
            </ion-badge>
          </ion-label>
          <ion-avatar class="ion-margin-end" [routerLink]="['/main/profile', guest.ProfileID]">
            <img [src]="guest.Images[0].Path">
          </ion-avatar>
          <ion-label>
            <h5>
              {{ { Nickname: guest.Nickname, Birthday: guest.Birthday, BirthdayHidden: guest.BirthdayHidden } | label }}
              {{ callCond.getLocationName(guest) }}
            </h5>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ng-template>

</ion-content>

<!-- <ion-content>
  <ion-list class = "coming-soon">
    <ion-label class="coming-soon ion-align-self-center" color="primary">
      {{ 'Coming Soon' | translate }}
    </ion-label>
  </ion-list>
</ion-content> -->