.role-segment {
  max-width: 300px;
  margin: 5px auto;

  ion-segment-button {
    width: 150px;
    font-size: 14px;
  }
}

.mode-segment {
  margin: 5px auto;
  ion-segment-button{
    font-size: 11px;
  }
}

.gold-ranker {
  margin-top: 30px;

  .rank-mark-col {
    width: 40px;
    max-width: 40px;
    min-width: 0;
    display: flex;

    ion-badge {
      align-self: center;
      margin: auto;
      font-weight: bold;
      width: 40px;
      height: 30px;
      font-size: 20px;
      line-height: 26px;
      border-radius: 5px;
      background: var(--ion-color-warning);
      color: white;
    }
  }

  .user-photo-col {
    margin-left: -40px;

    .rank-gold-avatar {
      --border-radius: 100%;
      --size: 132px;
      position: relative;
      margin: auto;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    }
  }

}

.rank-user-item {
  --padding-start: 10px;
  --inner-padding-top: 10px;
  --inner-padding-bottom: 10px;

  ion-label.rank-number {
    margin-right: 10px;
    width: 40px;
    max-width: 40px;
    height: 30px;
    border-radius: 5px;
    margin: 0;

    ion-badge {
      align-self: center;
      margin: auto;
      font-weight: bold;
      width: 30px;
      height: 30px;
      font-size: 20px;
      line-height: 26px;
      border-radius: 5px;
      color: white;

      &.rank-silver {
        background: var(--ion-color-silver);
      }

      &.rank-copper {
        background: #b87333;
      }

      &.normal {
        background: white;
        color: black;
      }
    }
  }
}

ion-list.coming-soon{
  display: flex;
  height: 100%;
  justify-content: center;
  ion-label.coming-soon{
    font-size: 24px;
    margin: auto;
  }
}