<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Profile Input' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- <ion-grid>
    <ion-row>
      <ion-col class="avatar-col ion-justify-content-center ion-margin-vertical">
        <ion-thumbnail class="avatar">
          <img src="assets/img/avatar.svg" *ngIf="!avatarURL">
          <img [src]="avatarURL" *ngIf="avatarURL">
        </ion-thumbnail>
        <div class="avatar-mask" (click)="fileInput.click()">
          <ion-thumbnail class="avatar">
            <img src="assets/img/avatar-mask.svg">
          </ion-thumbnail>
        </div>
        <div class="avatar-text" (click)="fileInput.click()">
          <span>{{ 'Edit' | translate }}</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="nickname">
      <ion-col class="name-col ion-justify-content-center">
        <ion-text>
          <h3>{{ nickname }}</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-list>
    <ion-item [button]="true" [detail]="true" (click)="onEditNickname()">
      <ion-label>{{ 'Nickname' | translate }}</ion-label>
      <ion-text slot="end" *ngIf="nickname">{{ nickname }}</ion-text>
      <ion-text slot="end" color="medium" *ngIf="!nickname">{{ 'Required' | translate }}</ion-text>
    </ion-item>
    <ion-item [button]="true" [detail]="true" (click)="onEditBirthday()">
      <ion-label>{{ 'Birthday' | translate }}</ion-label>
      <ion-datetime #birthdayDatetime displayFormat="YYYY年 MM月 DD日" max="{{ getMaxYear() }}"
        placeholder="{{ 'Required' | translate }}" cancelText="{{ 'Cancel' | translate }}"
        doneText="{{ 'OK' | translate }}" [(ngModel)]="birthday">
      </ion-datetime>
    </ion-item>
    <ion-item [button]="true" [detail]="true" (click)="onEditLocation()">
      <ion-label>{{ 'Favorite Place' | translate }}</ion-label>
      <ion-text slot="end" *ngIf="locationName">{{ locationName }}</ion-text>
      <ion-text slot="end" color="medium" *ngIf="!locationName">{{ 'Required' | translate }}</ion-text>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" [disabled]="isLoading" (click)="onSave()">{{ 'Start' | translate }}</ion-button>
  </div>
  <input #fileInput class="ion-hide" type="file" (change)="onFileChanged($event)" accept="image/x-png, image/jpeg">
</ion-content>