.avatar-col {
  display: flex;

  .avatar {
    --border-radius: 100%;
    --size: 100px;
  }

  .avatar-mask {
    position: absolute;
    opacity: .8;
  }

  .avatar-text {
    position: absolute;
    color: #fff;
    font-size: 12px;
    bottom: 8px;
  }
}

.name-col {
  display: flex;

  h3 {
    margin-top: -10px;
  }
}

.email-col {
  display: flex;

  h6 {
    margin-top: -15px;
  }
}

.text-truncate {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}