<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/" *ngIf="role !== 'cast'"></ion-back-button>
      <ion-back-button text="" defaultHref="/cast" *ngIf="role === 'cast'"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="action === 'register' && role === 'cast'">
      {{ 'Cast' | translate }}{{ 'Register' | translate }}
    </ion-title>
    <ion-title *ngIf="action === 'register' && role !== 'cast'">
      {{ 'Register' | translate }}
    </ion-title>
    <ion-title *ngIf="action === 'login' && role === 'cast'">
      {{ 'Cast' | translate }}{{ 'Login' | translate }}
    </ion-title>
    <ion-title *ngIf="action === 'login' && role !== 'cast'">
      {{ 'Login' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div [class]="role === 'cast' ? 'action cast' : 'action'">
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col offset="1" size="10">
          <ion-button expand="block" class="line-login-button" (click)="onSignInWithLINE()">
            <img src="assets/img/line-logo.png" />
            <span *ngIf="action === 'login'">{{ 'Sign in with LINE' | translate }}</span>
            <span *ngIf="action === 'register'">{{ 'Sign up with LINE' | translate }}</span>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="role !== 'cast'">
        <ion-col offset="1" size="10">
          <ion-button expand="block" (click)="onSignInWithFacebook()" *ngIf="action === 'login'">
            {{ 'Sign in with Facebook' | translate }}
          </ion-button>
          <ion-button expand="block" (click)="onSignInWithFacebook()" *ngIf="action === 'register'">
            {{ 'Sign up with Facebook' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col offset="1" size="10">
          <ion-button fill="clear" routerLink="/email/login" *ngIf="action === 'login'">
            {{ 'Sign in with Email' | translate }}
          </ion-button>
          <ion-button fill="clear" routerLink="/email/register" *ngIf="action === 'register'">
            {{ 'Sign up with Email' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center" *ngIf="role !== 'cast'">
        <ion-col offset="1" size="10">
          <ion-button fill="clear" routerLink="/sms" *ngIf="action === 'login'">
            {{ 'Sign in with SMS' | translate }}
          </ion-button>
          <ion-button fill="clear" routerLink="/sms" *ngIf="action === 'register'">
            {{ 'Sign up with SMS' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col class="ion-text-center" offset="1" size="10">
          <ion-button fill="clear" routerLink="/cast/login" *ngIf="role !== 'cast'">{{ 'Go to cast login' | translate }}
          </ion-button>
          <ion-button fill="clear" routerLink="/login" *ngIf="role === 'cast'">{{ 'Go to guest login' | translate }}
          </ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>
</ion-content>