ion-item.review-items {
  align-items: flex-start;

  .time-ago-mark {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  ion-avatar {
    margin-top: 10px;
  }

  .review-content{
    white-space: pre-wrap;
    padding-right: 60px;
  }
}