<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage/point/transfer"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Review History' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let reviewItem of reviews" lines="full" class="review-items">
      <!-- <ion-avatar slot="start" *ngIf="reviewItem.Source" [routerLink]="['/main/profile', reviewItem.Source.ProfileID]">
        <img [src]="reviewItem.Source.Images[0].Path">
      </ion-avatar> -->
      <ion-label *ngIf="reviewItem.Source">
        <p class="review-content">
          {{ reviewItem.Comment }}
          <span class="time-ago-mark">
            {{ (reviewItem.UpdatedAt ? reviewItem.UpdatedAt : "") | timeago }}
          </span>
        </p>
        <h3>
          {{ { Nickname: reviewItem.Source.Nickname, Birthday: reviewItem.Source.Birthday,
          BirthdayHidden: reviewItem.Source.BirthdayHidden } | label }}
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll #ionInfiniteScroll (ionInfinite)="loadData($event)" [disabled]="isAllLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>