<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Initial Information' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Point Per Half' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'Current Value' | translate }}</ion-label>
      <ion-text>
        {{ pointHalf | number}} pt
      </ion-text>
    </ion-item>
    <ion-item style="--inner-padding-end: 0;">
      <ion-label>
        {{ 'Desire Value' | translate }}
      </ion-label>
      <ion-select [ngModel]="pointHalf" slot="end" class="ion-no-margin point-half" placeholder="{{ 'Select to change' | translate }}"
        cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}" style="min-width: 60%;"
        (ngModelChange) = "valueSelected($event)">
        <ion-select-option [value]="option" *ngFor="let option of pointValues">{{ option | number }} pt
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>