<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Activity Report' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ngModelChange)="typeChanged()">
      <ion-segment-button value="monthly">
        <ion-label>{{ 'Monthly' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="all">
        <ion-label>{{ 'Whole Period' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ng-template [ngIf]="segment === 'monthly'" [ngIfElse]="allReport">
  <ion-content>
    <ion-item lines="none" class="ion-no-padding month-select">
      <ion-select [(ngModel)]="curMonth" style="margin: auto;" (ngModelChange)="monthChanged()">
        <ion-select-option *ngFor="let monthItem of monthArray" [value]="monthItem.value">
          {{ monthItem.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list *ngIf="reports.length > 0" class="stats-data">
      <ion-list-header style="padding-right: 10px;">
        <ion-label>
          {{ 'Earned Point' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].Overall | number }}pt
        </ion-text>
      </ion-list-header>
      <ion-item lines="none" *ngIf="reports.length > 1" class="overall-item">
        <ion-label></ion-label>
        <ion-text *ngIf="reports[1].Overall > 0">
          <span innerHTML="{{ getPercentVal(reports[0].Overall, reports[1].Overall) }}"></span>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Private Call' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].PCallPoint | number}}pt <ng-template [ngIf]="reports.length > 1"><span innerHTML="{{ reports[1].PCallPoint > 0 ? 
            getPercentVal(reports[0].PCallPoint, reports[1].PCallPoint) : '(先月 0)' }}"></span></ng-template>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Group Call' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].GCallPoint | number}}pt <ng-template [ngIf]="reports.length > 1"><span innerHTML="{{ reports[1].GCallPoint > 0 ? 
            getPercentVal(reports[0].GCallPoint, reports[1].GCallPoint) : '(先月 0)' }}"></span></ng-template>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Gift' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].GiftPoint | number}}pt <ng-template [ngIf]="reports.length > 1"><span innerHTML="{{ reports[1].GiftPoint > 0 ? 
            getPercentVal(reports[0].GiftPoint, reports[1].GiftPoint) : '(先月 0)' }}"></span></ng-template>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Introduction Fee' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].Introduce | number}}pt <ng-template [ngIf]="reports.length > 1"><span innerHTML="{{ reports[1].Introduce > 0 ? 
            getPercentVal(reports[0].Introduce, reports[1].Introduce) : '(先月 0)' }}"></span></ng-template>
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="section-item">
        <ion-label>
          {{ 'Number of All messages' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].MReceive + reports[0].MSend | number}}通
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Number of All messages received' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].MReceive | number}}通 <ng-template [ngIf]="reports.length > 1"><span innerHTML="{{ reports[1].MReceive > 0 ? 
            getPercentVal(reports[0].MReceive, reports[1].MReceive) : '(先月 0)' }}"></span></ng-template>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Number of All messages sended' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].MSend | number}}通 <ng-template [ngIf]="reports.length > 1"><span innerHTML="{{ reports[1].MSend > 0 ? 
            getPercentVal(reports[0].MSend, reports[1].MSend) : '(先月 0)' }}"></span></ng-template>
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="section-item">
        <ion-label>
          {{ 'Number of All Calls' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].PCallNum + reports[0].GCallNum | number}}回
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Number of Private Calls' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].PCallNum | number}}回 <ng-template [ngIf]="reports.length > 1"><span innerHTML="{{ reports[1].PCallNum > 0 ? 
            getPercentVal(reports[0].PCallNum, reports[1].PCallNum) : '(先月 0)' }}"></span></ng-template>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Number of Group Calls' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].GCallNum | number}}回 <ng-template [ngIf]="reports.length > 1"><span innerHTML="{{ reports[1].GCallNum > 0 ? 
            getPercentVal(reports[0].GCallNum, reports[1].GCallNum) : '(先月 0)' }}"></span></ng-template>
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="section-item">
        <ion-label>
          {{ 'Call Persons' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].NCallPerson + reports[0].RCallPerson | number}}人 <ng-template [ngIf]="reports.length > 1"><span innerHTML=" {{ 
            reports[1].NCallPerson + reports[1].RCallPerson > 0 ? 
            getPercentVal(reports[0].NCallPerson + reports[0].RCallPerson, reports[1].NCallPerson + reports[1].RCallPerson) : '(先月 0)' }}"></span>
          </ng-template>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'New Call' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].NCallPerson | number}}人 <ng-template [ngIf]="reports.length > 1"><span innerHTML="{{ reports[1].NCallPerson > 0 ? 
            getPercentVal(reports[0].NCallPerson, reports[1].NCallPerson) : '(先月 0)' }}"></span></ng-template>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Repeater' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].RCallPerson | number}}人 <ng-template [ngIf]="reports.length > 1"><span innerHTML="{{ reports[1].RCallPerson > 0 ? 
            getPercentVal(reports[0].RCallPerson, reports[1].RCallPerson) : '(先月 0)' }}"></span></ng-template>
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="section-item">
        <ion-label>
          {{ 'Received Gifts' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].GiftNum | number}}個
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="section-item">
        <ion-label>
          {{ 'New Liked Num' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].NLiked | number}}いいね
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="section-item">
        <ion-label>
          {{ 'New Likes Num' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].NLikes | number}}いいね
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ng-template>
<ng-template #allReport>
  <ion-content>
    <ion-item lines="none" class="ion-no-padding month-select">
      <ion-text style="margin: auto;">
        {{ "Whole Period" | translate }}
      </ion-text>
    </ion-item>
    <ion-list *ngIf="reports.length > 0" class="stats-data">
      <ion-list-header style="padding-right: 10px;">
        <ion-label>
          {{ 'Earned Point' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].Overall | number }}pt
        </ion-text>
      </ion-list-header>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Private Call' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].PCallPoint | number}}pt
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Group Call' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].GCallPoint | number}}pt
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Gift' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].GiftPoint | number}}pt
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Introduction Fee' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].Introduce | number}}pt
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="section-item">
        <ion-label>
          {{ 'Number of All messages' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].MReceive + reports[0].MSend | number}}通
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Number of All messages received' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].MReceive | number}}通
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Number of All messages sended' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].MSend | number}}通
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="section-item">
        <ion-label>
          {{ 'Number of All Calls' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].PCallNum + reports[0].GCallNum | number}}回
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Number of Private Calls' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].PCallNum | number}}回
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Number of Group Calls' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].GCallNum | number}}回
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="section-item">
        <ion-label>
          {{ 'Call Persons' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].NCallPerson + reports[0].RCallPerson | number}}人
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'New Call' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].NCallPerson | number}}人
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          🡢 {{ 'Repeater' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].RCallPerson | number}}人
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="section-item">
        <ion-label>
          {{ 'Received Gifts' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].GiftNum | number}}個
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="section-item">
        <ion-label>
          {{ 'New Liked Num' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].NLiked | number}}いいね
        </ion-text>
      </ion-item>
      <ion-item lines="none" class="section-item">
        <ion-label>
          {{ 'New Likes Num' | translate }}
        </ion-label>
        <ion-text>
          {{ reports[0].NLikes | number}}いいね
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ng-template>