ion-item.month-select {
  --inner-padding-end: 10px;
}

ion-list.stats-data {
  ion-item{
    font-size: 14px;
    &.section-item{
      ion-label, ion-text{
        font-weight: bold;
        font-size: 16px;
      }
    }

    &.overall-item{
      ion-label, ion-text{
        font-weight: bold;
        font-size: 16px;
      }
    }  
  }  
}
