<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Authenticate Phone Number' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list-header>
    SMSで届いた6桁の
  </ion-list-header>
  <ion-list-header>
    認証コードを入力してください
  </ion-list-header>
  <ion-list>
    <ion-item lines="full">
      <ion-label position="stacked">
        {{ 'Phone Number' | translate }}
      </ion-label>
      <ion-input inputmode="decimal" [maxlength]="6" [readonly]="true" [(ngModel)]="phoneNumber"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="stacked">
        {{ 'Authentication Code' | translate }}
      </ion-label>
      <ion-input inputmode="decimal" [maxlength]="6" [(ngModel)]="verificationCode"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" [disabled]="isLoading" (click)="onSMSVerify()">{{ 'Next' | translate }}</ion-button>
    <ion-button expand="block" fill="clear"
      routerLink="{{ mode === 'register' ? (role === 'guest' ? '/sms/send' : '/cast/sms/send') : '/login/sms/send' }}"
      routerDirection="back">
      {{ 'Resend Authentication Code' | translate }}
    </ion-button>
  </div>
    <div class="ion-padding">
      <p style="font-size:0.8em;color:gray;">SMSが届くまでに時間がかかる場合がございます。</p>
      <p style="font-size:0.8em;color:gray;">３０秒経過してもSMSが届かない場合、ご自身の電話番号やSMSの受信設定をご確認ください。</p>
    </div>
</ion-content>