<ion-content>
  <div class="logo">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <!-- <ion-text>
            <p class="logo-text ion-text-center">GLASS</p>
          </ion-text> -->
          <ion-img class="logo-img" src="assets/img/kuro_tate.png" *ngIf="colorScheme === 'light'"></ion-img>
          <ion-img class="logo-img" src="assets/img/shiro_tate.png" *ngIf="colorScheme === 'dark'"></ion-img>
        </ion-col>
        <ion-col class="ion-text-center ion-margin-top" *ngIf="role === 'cast'">
          <ion-label color="success" style="font-size: 18px; font-weight: bold;">
            {{ 'Earn as a cast' | translate }}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div [class]="role === 'cast' ? 'action cast' : 'action'">
    <ion-grid class="ion-text-center" style="font-size:0.8em;">
      <ion-row>
        <ion-col style="display: flex; justify-content: center;">
          <ion-label style="align-self: center;">20歳以上であり、<a href="https://glass.dating/terms"
              target="_blank">利用規約</a>および
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a href="https://glass.dating/privacy-policy" target="_blank">プライバシーポリシー</a>の確認が完了しました
        </ion-col>
      </ion-row>
      <!-- <ion-row *ngIf="role !== 'cast'">
        <ion-col offset="1" size="10">
          <ion-button expand="block" routerLink="/login" [queryParams]="{ action: 'register' }">
            {{ 'Start with glass (Free)' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center" *ngIf="role !== 'cast'">
        <ion-col offset="1" size="10">
          <ion-button expand="block" fill="outline" routerLink="/login" [queryParams]="{ action: 'login' }">
            {{ 'Click here if you are already registered' | translate }}
          </ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col offset="1" size="10">
          <ion-button expand="block" class="line-login-button" (click)="onSignInWithLINE()">
            <img src="assets/img/line-logo.png" />
            <span>{{ 'Sign in with LINE' | translate }}</span>
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="ion-margin-top ion-padding-top" *ngIf="role === 'cast'">
        <ion-col offset="1" size="10">
          <ion-button expand="block" class="line-login-button" (click)="onSignInWithLINE()">
            <img src="assets/img/line-logo.png" />
            <span>{{ 'Sign up with LINE' | translate }}</span>
          </ion-button>
        </ion-col>
      </ion-row> -->
      <!-- <ion-row class="ion-text-center" *ngIf="role === ''">
        <ion-col offset="1" size="10">
          <ion-button expand="block" routerLink="/new">
            {{ 'Sign up with SMS' | translate }}
            {{ 'Register' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center" *ngIf="role === 'cast'">
        <ion-col offset="1" size="10">
          <ion-button expand="block" routerLink="/cast/new">
            {{ 'Sign up with SMS' | translate }}
            {{ 'Register' | translate }}
          </ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row class="ion-text-center">
        <ion-col offset="1" size="10">
          <a routerLink="/login/sms/send" class="underline">{{ 'Sign up with SMS' | translate }}</a>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="ion-text-center" *ngIf="role === 'cast'">
        <ion-col offset="1" size="10">
          <ion-button expand="block" fill="outline" routerLink="/cast/email">
            {{ 'Use Email' | translate }}
          </ion-button>
        </ion-col>
      </ion-row> -->
      <!-- <ion-row>
        <ion-col class="ion-text-center" offset="1" size="10">
          <ion-button fill="clear" routerLink="/cast/login" *ngIf="role !== 'cast'">{{ 'Go to cast login' | translate }}
          </ion-button>
          <ion-button fill="clear" routerLink="/login" *ngIf="role === 'cast'">{{ 'Go to guest login' | translate }}
          </ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>
  <!-- <div class="guest-cast-navigator">
    <ion-chip [outline]="true" color="primary" (click)="goCastPage()" *ngIf="role !== 'cast'">
      <ion-label>{{ 'Go to cast login' | translate }}</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-chip>
    <ion-chip [outline]="true" color="primary" (click)="goGuestPage()" *ngIf="role === 'cast'">
      <ion-label>{{ 'Go to guest login' | translate }}</ion-label>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-chip>
  </div> -->
</ion-content>
<!-- <ion-footer class="ion-text-center">
  <ion-button fill="clear" routerLink="{{ role === 'cast' ? '/cast/sms/send/login' : '/sms/send/login' }}" color="primary">
  <ion-button fill="clear" routerLink="/login/sms/send" color="primary">
    {{ 'Click here if you are already registered' | translate }}
  </ion-button>
</ion-footer> -->