ion-content {
  position: relative;
}

.logo {
  display: flex;
  height: 65%;
  padding-top: 50px;

  .logo-text {
    font-size: 5rem;
    font-weight: 700;
  }

  .logo-img {
    margin-top: 10%; // 50px;
    height: 80%; // 250px;
    max-height: 250px;
  }
}

.action {
  display: flex;
  height: 30%;

  // &.cast {
  //   padding-top: 50px;
  // }
}

.line-login-button {
  --background: #00c300;
  --background-activated: #00b300;
  font-weight: 700;

  img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }
}

.guest-cast-navigator {
  position: absolute;
  top: 15px;
  right: 10px;
}
