.avatar-col {
  display: flex;

  .avatar {
    --border-radius: 100%;
    --size: 100px;
  }

  .avatar-mask {
    position: absolute;
    opacity: .8;
  }

  .avatar-text {
    position: absolute;
    color: #fff;
    font-size: 12px;
    bottom: 8px;
  }

  .avatar-mask:focus,
  .avatar-text:focus {
    outline: none;
  }
}

.name-col {
  display: flex;

  h3 {
    margin-top: -10px;
  }
}

.email-col {
  display: flex;

  h6 {
    margin-top: -15px;
  }
}

ion-avatar.family-avatar{
  margin-right: 5px;
  margin-bottom: 5px;
  width: 50px;
  img{
    width: 100%;
  }
}

ion-icon.level-star{
  font-size: 20px;
}

.guest-point{
  color: var(--ion-color-primary);
  font-size: 24px;
  .next-threshold{
    font-size: 12px;
    color: black;
  }
}

.level-item{
  .level-bar{
    margin-bottom: 8px;
    height: 6px;
    border-radius: 3px;
  }
  
  .level-label{
    font-size: 12px;
  }

  margin-bottom: 10px;
}