<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'Mypage' | translate }}</ion-title>
    <ion-buttons slot="secondary" *ngIf="user && user.Role !== 2 && user.Sight !== 'blind'">
      <ion-button routerLink="/main/notice">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="getNotifyCount() > 0" color="danger" class="notify-count-badge ion-no-padding">
        {{ getNotifyCount() }}
      </ion-badge>
    </ion-buttons>
    <!-- <ion-buttons slot="primary">
      <ion-button routerLink="/main/mypage/qrcode">
        <ion-icon slot="icon-only" name="qr-code"></ion-icon>
      </ion-button>
      <ion-button routerLink="/main/mypage/setting/notify">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="user && user.Role !== 2">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'Mypage' | translate }}</ion-title>
      <ion-buttons slot="primary" *ngIf="user">
        <ion-chip color="primary" routerLink="/main/mypage">
          <ion-avatar>
            <ion-img [src]="user.Images[0].Path" *ngIf="user.Images.length > 0 && user.Images[0].Path"></ion-img>
            <ion-img src="assets/img/avatar.svg" *ngIf="!user.Images || user.Images.length < 1"></ion-img>
          </ion-avatar>
          <ion-label>{{ user?.Nickname }}</ion-label>
        </ion-chip>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-header *ngIf="user">
    <ng-template [ngIf]="user.Role===0 || user.Role ===1" [ngIfElse]="applier">
      <ion-item lines="none" *ngIf="!(user.LineID && user.LineID !== '') && !(user.Email && user.Email !== '')"
        class="ion-no-margin ion-no-padding header-item" [detail]="false" routerLink="/main/mypage/setting/notify">
        <p>【通知設定】メールかLINEで連携してください </p>        
      </ion-item>
    </ng-template>
    <ng-template #applier>
      <ion-item lines="none" class="ion-no-margin ion-no-padding header-item" [detail]="true"
        (click)="gotoLine()">
        <p class="applier">本登録することで全機能が使えるようになります。glass運営LINE＠へご連絡ください。</p>        
      </ion-item>
    </ng-template>
  </ion-header>
  <ion-grid *ngIf="user">
    <ion-row>
      <ion-col class="avatar-col ion-justify-content-center ion-margin-vertical">
        <ion-thumbnail class="avatar">
          <img [src]="user.Images[0].Path" *ngIf="user.Images.length > 0 && user.Images[0].Path">
          <img src="assets/img/avatar.svg" *ngIf="!user.Images || user.Images.length < 1">
        </ion-thumbnail>
        <div class="avatar-mask" routerLink="/main/mypage/profile">
          <ion-thumbnail class="avatar">
            <img src="assets/img/avatar-mask.svg">
          </ion-thumbnail>
        </div>
        <div class="avatar-text" routerLink="/main/mypage/profile">
          <span>{{ 'Edit' | translate }}</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="name-col ion-justify-content-center">
        <ion-text>
          <h3>{{ user.Nickname }}</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user.Email">
      <ion-col class="email-col ion-justify-content-center">
        <ion-text color="medium">
          <h6>{{ user.Email }}</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="sight !== 'blind'">
      <ion-col class="email-col ion-justify-content-center">
        <ion-text>
          <h6>{{ user.Point | number }} pt</h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="sight !== 'blind' && user && (user.Role === 1 || user.Role === 0) && levelsReady && levels.length > 1">
    <ion-list-header>
      {{ user.Role === 1 ? ('Guest Level' | translate) : ('Cast Level' | translate) }}
    </ion-list-header>
    <ion-item lines="none">
      <ion-label>
        {{ getLevelName(userPoint) }}
      </ion-label>
      <ion-text>
        <ion-icon class="level-star" name="star-outline" color="vip"
          *ngFor="let i of getArray(levels.length - 1 - getLevelNum(userPoint))"></ion-icon>
        <ion-icon class="level-star" name="star" color="vip" *ngFor="let i of getArray(getLevelNum(userPoint))">
        </ion-icon>
      </ion-text>
    </ion-item>
    <ion-item lines="none" class="level-item" *ngIf="isBarVisible">
      <ion-grid class="ion-no-padding">
        <ion-row *ngIf="user">
          <h4 class="guest-point">
            {{ userPoint | number}}pt <span class="next-threshold">/ {{ nextLevelVal | number }}pt</span>
          </h4>
        </ion-row>
        <ion-row>
          <ion-progress-bar [value]="getValue()" class="level-bar"></ion-progress-bar>
        </ion-row>
        <ion-row class="ion-no-padding">
          <ion-col size="6" class="ion-no-padding level-label">
            {{ curLevelName }}
          </ion-col>
          <ion-col size="6" class="ion-no-padding level-label ion-text-right">
            {{ 'Next Level' | translate }} : {{ nextLevelName }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!-- <ion-list *ngIf = "user && user.Role === 1">
    <ion-list-header>
      {{ 'Family Join Cast' | translate }}
    </ion-list-header>
    <ion-item lines = "none" routerLink = "/main/mypage/family">
      <ion-label class = "ion-text-wrap">
        <ion-grid>
          <ion-row>
            <ion-avatar class = "family-avatar" *ngFor = "let cast of familyCasts">
              <img [src] = "cast.Images[0].Path">
            </ion-avatar>
            <ng-template [ngIf] = "familyCasts.length < 5">          
              <ion-avatar class = "family-avatar" *ngFor = "let _ of getArray(5 - familyCasts.length)">
                <img src = "assets/img/heart.png">
              </ion-avatar>
            </ng-template>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list> -->
  <ion-list *ngIf="user && !teleFailed" style="padding-top: 10px;">
    <ion-item routerLink="/main/mypage/profile">
      <ion-icon slot="start" name="pencil"></ion-icon>
      <ion-label>{{ 'Profile Edit' | translate }}</ion-label>
    </ion-item>
    <ng-template [ngIf]="sight !== 'blind'">    
      <ion-item routerLink="/main/mypage/family" *ngIf="user.Role === 1">
        <ion-icon slot="start" name="fitness-outline"></ion-icon>
        <ion-label>{{ 'Family Join Cast' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/point/history" *ngIf="user.Role === 1">
        <ion-icon slot="start" name="receipt-outline"></ion-icon>
        <ion-label>{{ 'Point History and Receipt' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/point/transfer" *ngIf="user.Role === 0 || user.Role === 10">
        <ion-icon slot="start" name="receipt-outline"></ion-icon>
        <ion-label>{{ 'Earning History and Transfer' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/report" *ngIf="user.Role === 0">
        <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
        <ion-label>{{ 'Activity Report' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/phrase" *ngIf="user.Role === 0 && user.PhraseStatus">
        <ion-icon slot="start" name="mail-open-outline"></ion-icon>
        <ion-label>{{ 'Fixed Phrase' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/card" *ngIf="(user.Role === 0 || user.Role === 10) && !user.IsChecked">
        <ion-icon slot="start" name="id-card-outline"></ion-icon>
        <ion-label>{{ 'ID Card Register' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/payment" *ngIf="user && user.Role === 1">
        <ion-icon slot="start" name="card-outline"></ion-icon>
        <ion-label>{{ 'Payment Information' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/point/buy" *ngIf="user && user.Role === 1">
        <ion-icon slot="start" name="server-outline"></ion-icon>
        <ion-label>{{ 'Buy Points' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/intro" *ngIf="user.Role !== 10">
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>{{ 'Introduction Coupon' | translate }}</ion-label>
      </ion-item>
      <ion-item *ngIf="user.Role === 10">
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-label>{{ 'Introduction Coupon' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/help">
        <ion-icon slot="start" name="help-circle-outline"></ion-icon>
        <ion-label>{{ 'Help' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/qrcode" *ngIf="user.Role !== 10">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        <ion-label>{{ 'My QR Code' | translate }}</ion-label>
      </ion-item>
      <ion-item *ngIf="user.Role === 10">
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-label>{{ 'My QR Code' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/setting">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ion-label>{{ 'Several Settings' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/link" *ngIf="user.Role !== 10">
        <ion-icon slot="start" name="link-outline"></ion-icon>
        <ion-label>{{ 'LINE re-linking' | translate }}</ion-label>
      </ion-item>
      <ion-item *ngIf="user.Role === 10">
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-label>{{ 'LINE re-linking' | translate }}</ion-label>
      </ion-item>
    </ng-template>
    <ng-template [ngIf]="sight === 'blind'">
      <ion-item (click)="logOut()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label>{{ 'Log out' | translate }}</ion-label>
      </ion-item>
    </ng-template>    
    <ion-item lines="none"></ion-item>
  </ion-list>
  <ion-list *ngIf="user && teleFailed" style="padding-top: 10px;">
    <ng-template [ngIf]="sight !== 'blind'">
      <ion-item>
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-label>{{ 'Family Join Cast' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-label>{{ 'Point History and Receipt' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/payment">
        <ion-icon slot="start" name="card-outline"></ion-icon>
        <ion-label>{{ 'Payment Information' | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/main/mypage/point/buy" *ngIf="user && user.Role === 1">
        <ion-icon slot="start" name="server-outline"></ion-icon>
        <ion-label>{{ 'Buy Points' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-label>{{ 'Introduction Coupon' | translate }}</ion-label>
      </ion-item>    
      <ion-item routerLink="/main/mypage/help">
        <ion-icon slot="start" name="help-circle-outline"></ion-icon>
        <ion-label>{{ 'Help' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-label>{{ 'My QR Code' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-label>{{ 'Several Settings' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-label>{{ 'LINE re-linking' | translate }}</ion-label>
      </ion-item>
    </ng-template>
    <ng-template [ngIf]="sight === 'blind'">
      <ion-item (click)="logOut()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label>{{ 'Log out' | translate }}</ion-label>
      </ion-item>
    </ng-template>    
    <ion-item lines="none"></ion-item>
  </ion-list>
</ion-content>
<ion-content [fullscreen]="true" *ngIf="user && user.Role === 2">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'Mypage' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="ion-margin-top" *ngIf="user">
    <!-- <ion-row>
      <ion-col class="avatar-col ion-justify-content-center ion-margin-vertical">
        <ion-thumbnail class="avatar">
          <img src="assets/img/avatar.svg">
        </ion-thumbnail>
        <div class="avatar-mask" routerLink="/main/mypage/profile">
          <ion-thumbnail class="avatar">
            <img src="assets/img/avatar-mask.svg">
          </ion-thumbnail>
        </div>
        <div class="avatar-text" routerLink="/main/mypage/profile">
          <span>{{ 'Edit' | translate }}</span>
        </div>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col class="name-col ion-justify-content-center">
        <ion-text>
          <h3>{{ user.RealName }}様</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user.Email">
      <ion-col class="email-col ion-justify-content-center">
        <ion-text color="medium">
          <h6>{{ user.Email }}</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="email-col ion-justify-content-center">
        <ion-text>
          <h6>{{ user.Point | number }} pt</h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="user" style="padding-top: 10px;">
    <ion-item [detail]="true" [button]="true" routerLink="/main/mypage/point/transfer">
      <ion-icon slot="start" name="receipt-outline"></ion-icon>
      <ion-label>{{ 'Transfer History and Application' | translate }}</ion-label>
    </ion-item>
    <ion-item [detail]="true" [button]="true" routerLink="/main/mypage/sales/cast">
      <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
      <ion-label>{{ 'Sales Report (Cast)' | translate }}</ion-label>
    </ion-item>
    <ion-item [detail]="true" [button]="true" routerLink="/main/mypage/sales/guest">
      <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
      <ion-label>{{ 'Sales Report (Guest)' | translate }}</ion-label>
    </ion-item>
    <ion-item [detail]="true" [button]="true" routerLink="/main/mypage/intro">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      <ion-label>{{ 'List of Introducers' | translate }}＆{{ 'Issuance of Referral Code' | translate }}</ion-label>
    </ion-item>
    <ion-item [detail]="true" [button]="true" routerLink="/main/mypage/profile">
      <ion-icon slot="start" name="newspaper-outline"></ion-icon>
      <ion-label>{{ 'Edit Profile' | translate }}</ion-label>
    </ion-item>
    <ion-item [detail]="true" [button]="true" (click)="logOut()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>{{ 'Log out' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>