<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="canDelete">
      <ion-button (click)="onDelete()">
        {{ 'Delete' | translate }}
      </ion-button>
    </ion-buttons>   
    <ion-title>{{ 'Free Time Setting Today' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="schedule">
  <ion-item lines="none" class="ion-no-padding" style="--inner-padding-end: 0;">
    <ion-text style="margin: auto;">
      {{ today }}
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-label>
      {{ 'Free Today' | translate }}
    </ion-label>
    <ion-toggle [(ngModel)]="schedule.Enabled"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'Time Range' | translate }}</ion-label>
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" [minuteValues]="minutes"
      placeholder="{{ 'Undefined' | translate }}" cancelText="{{ 'Cancel' | translate }}" [hourValues]="hours"
      doneText="{{ 'OK' | translate }}" [(ngModel)]="schedule.From"></ion-datetime>時　～
    <ion-datetime display-format="HH:mm" picker-format="HH:mm" [minuteValues]="minutes"
      placeholder="{{ 'Undefined' | translate }}" cancelText="{{ 'Cancel' | translate }}" [hourValues]="hours"
      doneText="{{ 'OK' | translate }}" [(ngModel)]="schedule.To"></ion-datetime>時
  </ion-item>
  <ion-item lines="none" style="font-size: 14px;">
    <div class="cap_box is-style-onborder_ttl mt20"
            style="margin-left:1%; margin-right:1%;">
      <div class="cap_box_ttl">
        <ion-icon name="alert-circle"></ion-icon>「今日ひま」申請とは？
      </div>
      <div class="cap_box_content">
        <p>
          ・「探す」画面で「今日ひま」なキャストを探しているゲスト様の目に止まる<br />
          ・グループコールで指名される際に優先表示される<br />
          のメリットがあります。<br />
          毎日スケジュールを入力してお仕事獲得に繋げましょう✨<br />
          ＊他の日程についてはマイページ＞プロフィール編集＞スケジュールより入力が可能です。
      </p>
      </div>
    </div>    
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>    
    <ion-button expand="full" (click)="onSave()">
      {{ 'Save' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>