<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onExport()">
        {{ 'Export' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Export Receipt' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">{{ 'Receipt Address' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="address"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>