/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-app{
  max-width:768px;
  margin-left:auto;
  margin-right:auto;
}

ion-content ion-header ion-toolbar ion-title {
  height: 44px;
}

ion-picker {
  touch-action: none;
}

ion-avatar:focus {
  outline: none;
}

// for ion card
ion-card {
  margin: 0;

  ion-card-header {
    padding: 0;
  }

  ion-card-content {
    padding: 5px 0 !important;
  }
}

// cast card and mini cast card
ion-slides {
  margin: 0 !important;
  width: 100%;
}

.tweet-textarea textarea {
  min-height: 120px;
}

.cast-info,
.guest-info {
  position: absolute;
  z-index: 2;
  color: white;
  bottom: 32px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.85));
  width: 100%;

  h6 {
    display: flex;
    color: white;
    margin: 3px 5px;
    font-size: 12px;
    width: 95%;
  }

  h6.cast-greeting,
  h6.guest-greeting {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 95%;
    display: block;
    margin-left: 8px;
    text-align: left;
  }

  ion-icon {
    margin-right: 3px;
    font-size: 16px;
  }
}

// .guest-info{
//   bottom: 0px;
//   padding: 3px;
// }

.slide-cards {
  width: 100%;
}

.infinite-cards img,
.slide-cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-card:focus,
ion-slides:focus,
ion-slide:focus {
  outline: none;
}

.icon-div {
  ion-icon {
    font-size: 24px;
    align-self: center;
  }

  position: absolute;
  z-index: 2;
  left: 3px;
  top: 3px;
  padding: 3px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85));
  display: flex;
  border-radius: 50%;
}

// card profile image style sheet
@media (min-width: 541px) {
  .infinite-cards .image-wrapper {
    height: 426px;
  }

  .slide-cards .image-wrapper {
    height: 355px;
  }
}

@media (max-width: 540px) {
  .infinite-cards .image-wrapper {
    height: 300px;
  }

  .slide-cards .image-wrapper {
    height: 250px;
  }
}

@media (max-width: 414px) {
  .infinite-cards .image-wrapper {
    height: 230px;
  }

  .slide-cards .image-wrapper {
    height: 192px;
  }
}

@media (max-width: 360px) {
  .infinite-cards .image-wrapper {
    height: 200px;
  }

  .slide-cards .image-wrapper {
    height: 167px;
  }
}

@media (max-width: 320px) {
  .infinite-cards .image-wrapper {
    height: 177px;
  }

  .slide-cards .image-wrapper {
    height: 148px;
  }
}

// for glass
:root {
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;

  --background: var(--ion-tab-bar-background, var(--ion-background-color, #320000));
  --color: var(--ion-tab-bar-color, var(--ion-color-step-600, #FFF));

  --ion-color-standard: #2b3beb;
  --ion-color-vip: #f3b91d;
  --ion-color-royal: #db5858;
  --ion-color-guest-level: #fdff0b;  
  --ion-color-silver: #d3d3d3;

  //adding color

  --color_main: #050505;
  --color_content_bg:white;
  --color_capbox_01: #f59b5f;
  --color_capbox_01_bg: #fffdf9;
  --color_capbox_02: #5fb9f5;
  --color_capbox_02_bg: #edf5ff;
  --color_capbox_03: #2fcd90;
  --color_capbox_03_bg: #eafaf2;

}

.ion-color-standard {
  --ion-color-base: var(--ion-color-standard, #2b3beb) !important;
  --ion-color-base-rgb: var(--ion-color-standard-rgb, 15, 82, 186) !important;
  --ion-color-contrast: var(--ion-color-standard-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-standard-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-standard-shade, #2f3ff7) !important;
  --ion-color-tint: var(--ion-color-standard-tint, #2736da) !important;
}

.ion-color-vip {
  --ion-color-base: var(--ion-color-royal, #f3b91d) !important;
  --ion-color-base-rgb: var(--ion-color-royal-rgb, 255, 214, 3) !important;
  --ion-color-contrast: var(--ion-color-royal-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-royal-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-royal-shade, #f8b60d) !important;
  --ion-color-tint: var(--ion-color-royal-tint, #fbc639) !important;
}

.ion-color-royal {
  --ion-color-base: var(--ion-color-vip, #db5858) !important;
  --ion-color-base-rgb: var(--ion-color-vip-rgb, 197, 57, 57) !important;
  --ion-color-contrast: var(--ion-color-vip-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-vip-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-vip-shade, #d43535) !important;
  --ion-color-tint: var(--ion-color-vip-tint, #c53a3a) !important;
}

.ion-color-guest-level {
  --ion-color-base: var(--ion-color-guest-level, #fdff0b) !important;
  --ion-color-base-rgb: var(--ion-color-guest-level-rgb, 255, 214, 3) !important;
  --ion-color-contrast: var(--ion-color-guest-level-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-guest-level-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-guest-level-shade, #fdff0b) !important;
  --ion-color-tint: var(--ion-color-guest-level-tint, #fdff0b) !important;
}

.filled-backdrop {
  border-radius: 4px 4px 0 0;
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.26);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 30px;

  p {
    color: #fff;
    font-size: 18px;
    margin: 0 5px;
    font-weight: bold;
    text-align: center;
  }

  ion-icon {
    color: white;
    font-size: 50px;
  }
}

// new icon
ion-card {
  .new-birthday-div {
    position: absolute;
    right: 3px;
    top: 3px;

    .new-icon {
      margin-bottom: 3px;
      background: #90ee90;
      width: 30px;
      height: 30px;
      font-size: 11px;
      border-radius: 50%;
      line-height: 2.7;
      display: flex;
      color: white;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      opacity: 0.77;

      p {
        margin: 0;
        font-size: 8px;
        font-weight: bold;
        letter-spacing: 0.04rem;
        flex-direction: column;
        color: #fff;
        line-height: 10px;
      }
    }
  }
}

// ranking
.tight {
  margin: 0;
  padding: 0;
}

ion-select.tight {
  max-width: 100%;
  width: 95%;
  padding-right: 2px;
}

// max-width classes
.mw-70 {
  max-width: 70%;
}

.mw-75 {
  max-width: 75%;
}

.mw-80 {
  max-width: 80%;
}

.mw-85 {
  max-width: 85%;
}

// padding classes
.np-start {
  --padding-start: 0;
}

// display classes
.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

// gift modal
.gift-modal {
  --height: 500px;
}

.reservation-modal {
  --height: 300px;
}

.input-place-modal{
  --height:70%;
  --width:80%;
}

// confirmation
.alert-wrapper {
  --min-width: 300px;
}

// notification count badge
.notify-count-badge {
  position: absolute;
  right: -2px;
  top: 4px;
  font-size: 10px;
  padding: 1px 6px;
  line-height: 1.5;
}

app-cast-card {
  width: 100%;
}

ion-header ion-item.header-item{
  --inner-padding-start: 10px;
  --background: #c53a3a;

  p{
    // text-indent: -0.5rem;
    padding-left: 0.5rem;
    font-size: 14px;
    color: white;
    margin: 8px 0;
    align-self: center;
  }
}

.message-right .message-container a.message-link{
  color: #1a50b7;
}

div.notes{
  font-size:0.8em;
}

// alert image container
.alert-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  ion-avatar{
    width: 80px;
    height: 80px;
  }
  .line-img{
    width: 100px;
    height: 100px;
  }
}

.alert-iframe {
  width: 100%;
  height: 300px;
  border: none;
}

.alert-paragraph {
  font-size: 12px;
  margin: 7px;
  line-height: 2;
}

.message-see{
  font-size: 18px;
}

.see-message-alert{
  .alert-message.sc-ion-alert-md,
  .alert-message.sc-ion-alert-ios{
    max-height: initial;
  } 
}

.cap_box{
  position:relative;
}

.cap_box_ttl{
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0!important;
  padding: .5em;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  background-color: var(--color_main);
}

.cap_box_content{
    position: relative;
    z-index: 0;
    clear: both;
    margin-top: -2px;
    padding: 1.25em;
    border: solid 1px var(--color_main);
    white-space: pre-line;
    font-size:0.8em;
    text-align:left;

}

.is-style-small_ttl .cap_box_ttl {
    position: relative;
    top: 1px;
    float: left;
    padding: .25em .75em;
    font-size: .85em;
}

.is-style-onborder_ttl>.cap_box_ttl {
    color: var(--color_main);
    background: var(--color_content_bg)!important;
}

.is-style-onborder_ttl2>.cap_box_ttl, .is-style-onborder_ttl>.cap_box_ttl {
    position: relative;
    top: 1em;
    left: 1em;
    z-index: 1;
    // display: inline-block;
    margin-bottom: 0;
    padding: .5em .75em;
    font-size: .85em;
    line-height: 1;
    text-align: center;
    float:left;
}

[data-colset=col1] .cap_box_ttl {
  background: var(--color_capbox_01);
}

[data-colset=col1] .cap_box_content {
  background: var(--color_capbox_01_bg);
  border-color: var(--color_capbox_01);
}

[data-colset=col2] .cap_box_ttl {
    background: var(--color_capbox_02);
}

[data-colset=col2] .cap_box_content {
    background: var(--color_capbox_02_bg);
    border-color: var(--color_capbox_02);
}

[data-colset=col3] .cap_box_ttl {
    background: var(--color_capbox_03);
}

[data-colset=col3] .cap_box_content {
    background: var(--color_capbox_03_bg);
    border-color: var(--color_capbox_03);
}

/* div_box memo */

.memo {
    margin-bottom: 1.5em;
    padding: 1em;
    background: #fff9e5;
    color: #545454;
}

.memo.alert {
    background: #ffebeb;
}

.memo_ttl {
    margin-bottom: 5px;
    color: #ffb36b;
    font-size: 1.2em;
    font-weight: 700;
}

.memo.alert .memo_ttl {
    color: #ff8376;
}


.cast-search ion-searchbar input.searchbar-input,
.guest-search ion-searchbar input.searchbar-input{
  font-size: 14px !important;
  padding-right: 10px !important;
  overflow: hidden;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.toast-custom-class{
  --background: var(--ion-color-royal);
}

ion-select.point-half .select-text{
  text-align: right;
}

span.delta-down{
  color: var(--ion-color-royal);
}

span.delta-up{
  color: #69bb7b;
}

span.delta-none{
  color: var(--ion-color-vip);
}

.message-toast {
  --white-space: pre-line;
}

ion-list-header{
  font-size:1.2em;
  font-weight:bold;
}
.call-choices-modal{
  // --height: 350px;
  --width: 90%;
  --min-width: 300px;
  --border-radius: 8px;
  // &.time-modal{
  //   --height: 350px;
  // }
  // &.period-modal{
  //   --height: 260px;
  // }
  // &.person-modal{
  //   --height: 350px;
  // }
  // &.location-modal{
  //   --height: 500px;
  // }
  // &.class-modal{
  //   --min-height: 300px;
  //   --height: auto;
  // }

  --height: auto;

  .ion-page {
    position: relative;
    display: block;
    contain: content;

    .inner-content {
      max-height: 80vh;
      overflow: auto;
      padding: 10px;
    }
  }
}
