<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage/setting"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Privacy Setting' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      {{ 'Ranking Setting' | translate }}
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'Ranking Shown ON/OFF' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="rankingVisible" (ngModelChange)="onChange()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>