.small-note {
  font-size: 12px;
}

ion-buttons {
  display: initial !important;

  ion-button {
    margin: 5px;
    font-size: 15px;

    &.selected {
      background-color: var(--ion-color-primary);
      color: white;
    }
  }
}

ion-label {
  font-weight: bold;
}

ion-footer{
  ion-toolbar{
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    ion-button{
      margin: 0;
    }
  }
}

.gift-point{
  font-size: 20px;
  color: var(--ion-color-primary);
}

ion-buttons.close-btn.ios:first-of-type {
  display: none;
}