<ion-header *ngIf="!isDialog">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'Call the Cast' | translate }}" defaultHref="/main/call"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="isDialog" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class = "close-btn">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Tell me the call condition' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen] = "isDialog">
  <ion-list *ngIf="situationCat.length > 0 && tagsReady">
    <ion-list-header>
      <ion-label>
        {{ 'Today Mood?' | translate }}
        <h6 class="small-note"> あなたに最適なマッチングをいたします。好みのタグをお選びください。 </h6>
      </ion-label>
    </ion-list-header>
    <!--
    <ng-template [ngIf]="levelsReady && guestAllowed()">
      <ion-item lines="none">
        <ion-label>
          {{ 'Gift Call' | translate }}
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <h4 class="small-note"> チップを上乗せしてグループコールを行うとキャストからの人気度が高まります。 </h4>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h4 *ngIf = "condition.GiftPoint > 0">{{ 'Sum' | translate }}: <strong class = "gift-point">{{ condition.GiftPoint | number }}P </strong>~</h4>
        </ion-label>
        <ion-buttons>
          <ion-button fill="outline" (click)="presentGiftSelect()">{{ 'Higher the point' | translate }}</ion-button>
        </ion-buttons>
      </ion-item>
    </ng-template>
    -->
    <ng-container *ngFor="let sitCategory of situationCat">
      <ion-item lines="none">
        <ion-label>
          {{ sitCategory.Name }}
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-buttons>
          <ng-container *ngFor="let childTag of childTags[sitCategory.ID]">
            <ion-button fill="outline" (click)="clickTags(childTag)"
              [ngClass]="{'selected' : condition.SituationIDArray.includes(childTag.ID)}">{{ childTag.Name }}</ion-button>
          </ng-container>
        </ion-buttons>
      </ion-item>

    </ng-container>
  </ion-list>
</ion-content>

<ion-footer *ngIf="!isDialog">
  <ion-toolbar>
    <ng-template [ngIf]="condition.Person > 1" [ngIfElse]="onePerson">
      <ion-button expand="full" (click)="goToNextStep()">{{ 'Go to next step' | translate }}(2/4)</ion-button>
    </ng-template>
    <ng-template #onePerson>
      <ion-button expand="full" (click)="goToNextStep()">{{ 'Go to next step' | translate }}(2/3)</ion-button>
    </ng-template>
  </ion-toolbar>
</ion-footer>