ion-header {
  position: fixed;
  transition: all 0.5s ease 0s;
}

.back-button {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;

  &.ios-back-button{
    top: 80px;
  }

  ion-button {
    --border-radius: 100%;
    --padding-start: 10px;
    --padding-end: 10px;
  }
}

.avatar-slide {
  display: flex;
  position: relative;
  text-align: center;
  height: 500px;
  overflow-y: hidden;
  img {
    height: 500px;
    object-fit: cover;
    width:100%;
  }

  ion-icon.mute-button{
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 12px;
    font-size: 48px;
    color:white;
    
    &.sound-on{
      color: white;
    }

    &.ios-back-button{
      top: 150px;
    }
  }

  .gift-slide{

    &.ios-slide{
      padding-top: 24px;
    }
    
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .gift-slide-content{
      position: relative;
      .gift-item{
        position: absolute;
        text-align: center;
        img{
          height: 60px;
          object-fit: cover;
          max-width: 100%;
          width:auto;
        }
        .count-span{
          font-size: 11px;
          position: absolute;
          top: 0;
          background: #32312e;
          color: #fff;
          border-radius: 12px;
          border: solid 1px #fff;
          height: 24px;
          line-height: 21px;
          min-width: 24px;
          text-align: center;
        }

        &.gift-item-0{
          bottom: 29%;
          left: 6%;
          .count-span{
            top: 0;
            right: -4px;
          }
        }

        &.gift-item-1{
          top: 56%;
          right: 6%;
          .count-span{
            top: 0;
            left: 4px;
          }
        }

        &.gift-item-2{
          bottom: 44%;
          right: 3%;
          .count-span{
            top: 5px;
            left: 11px;
          }
        }

        &.gift-item-3{
          top: 44%;
          left: 1%;
          .count-span{
            top: -8px;
            right: 0;
          }
        }

        &.gift-item-4{
          top: 29%;
          right: 3%;
          .count-span{
            top: 0;
            left: 43px;
          }
        }

        &.gift-item-5{
          top: 27%;
          left: 1%;
          .count-span{
            top: 0;
            left: 39px;
          }
        }

        &.gift-item-6{
          top: 12%;
          right: 17%;
          .count-span{
            top: -11px;
            right: -1px;
          }
        }

        &.gift-item-7{
          top: 11%;
          left: 10%;
          .count-span{
            top: -6px;
            right: 11px;
          }
        }

        &.gift-item-8{
          top: 3%;
          left: 27%;
          .count-span{
            top: 0;
            right: -2px;
          }
        }

        &.gift-item-9{
          top: 3%;
          right: 34%;
          .count-span{
            top: 0;
            left: 47px;
          }
        }

        &.gift-item-10{
          left: 16%;
          bottom: 20%;
          .count-span{
            top: 0;
            right: 4px;
          }
        }

        &.gift-item-11{
          left: 32%;
          bottom: 14%;
          .count-span{
            top: -5px;
            right: -1px;
          }
        }

        &.gift-item-12{
          right: 20%;
          bottom: 22%;
          .count-span{
            top: -5px;
            right: 3px;
          }
        }

        &.gift-item-13{
          right: 33%;
          bottom: 14%;
          .count-span{
            top: -6px;
            right: -3px;
          }
        }
      }
    }
  }

  img {
    height: 500px;
    object-fit: cover;
  }

  .slide-info {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .8)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
    padding: 10px 15px;

    ion-text {
      display: flex;
    }

    .status-icon {
      margin-left: -2px;
      margin-right: 5px;
      padding-top: 1px;
    }

    .slide-info-text {
      font-size: 14px;
    }

    .slide-info-level {
      font-size: 12px;
      background-color: var(--ion-color-warning);
      padding: 1px 10px;
      border-radius: 6px;
      margin-left: 15px;
    }
  }
}

.thumb-slide {
  padding: 10px;

  // ion-slide {
  //   opacity: .5;
  // }

  .active {
    opacity: 1;
  }

  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}

.calendar-btn {
  display: flex;
  align-items: center;
}

.calendar-btn.inactive {
  color: #dddddd;
}

.calendar-btn-prev {
  padding-left: 5px;
}

.calendar-btn-next {
  padding-right: 5px;
  justify-content: flex-end;
}

ion-list:last-of-type {
  margin-bottom: 60px;
}

.operate-btn {
  position: fixed;
  margin: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.calendar-container {
  margin-left: -20px;
}

.calendar-date {
  font-size: 20px;
  font-weight: bold;
}

.tweet-list {
  ion-item {
    align-items: flex-start;

    ion-avatar {
      margin-top: 10px;
    }

    ion-label {
      user-select: text;

      .tweet-content {
        white-space: normal;
      }

      h2:focus,
      h3:focus,
      p:focus {
        outline: none;
      }

      ion-img {
        width: 100%;
        height: 20vh;
        object-fit: cover;
        border-radius: 5px !important;
        overflow: hidden;
      }

      .heart-count {
        display: flex;
        float: right;

        p {
          margin: auto 0;
        }
      }
    }
  }
}

.online-status{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  align-self: center;
  margin-right: 5px;
  &.green{
    background-color: var(--ion-color-success);
  }
  &.yellow{
    background-color: var(--ion-color-warning);
  }
  &.gray{
    background-color: var(--ion-color-medium);
  }
}

ion-footer{
  ion-toolbar{
    ion-label{
      font-size: 12px; 
      display: block;
      margin-bottom: 5px;
    }

    ion-button{
      width: 220px;
    }

    ion-label.withdrawn-user{
      font-size: 18px;
      color: var(--ion-color-danger);
    }
  }
}

ion-slide.slide-video{
  height: 70px;
  overflow-y: hidden;
  display: flex;
  position: relative;
  video{
    align-self: center;
    width: 100%;  
  }
  ion-icon.play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }
}

video.profile-video{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  align-self: center;
}