<ion-header [translucent]="true" slot="fixed" [style.opacity]="headerOpacity">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="onBack()"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="user">{{ user.Nickname }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="back-button" [class.ios-back-button]="isIOS">
    <ion-button size="large" (click)="onBack()">
      <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
    </ion-button>
  </div>
  <div class="avatar-slide" [class.ios-slide]="isIOS" *ngIf="user">
    <ng-template [ngIf]="selectedVideo !== ''">
      <div class="mute-button-outer">
        <ion-icon *ngIf="muted" name="volume-mute-outline" (click)="controlSound()" class="mute-button" [class.ios-back-button]="isIOS"></ion-icon>
        <ion-icon *ngIf="!muted" name="volume-high-outline" (click)="controlSound()" class="mute-button sound-on" [class.ios-back-button]="isIOS"></ion-icon>
      </div>
    </ng-template>
    <ng-template [ngIf]="selectedVideo === ''" [ngIfElse]="videoPart">
      <img [src]="selectedImage" />
    </ng-template>
    <ng-template #videoPart>      
    </ng-template>
    <div class="slide-info">
      <ion-text>
        <ng-container *ngIf="user.Status">
          <span class="online-status" [ngClass]="getStatusClass()"></span>
          <span class="slide-info-text">{{ 'Online' | translate }}</span>
        </ng-container>
        <ng-container *ngIf="!user.Status && user.LeftAt && getStatusClass() !== ''">
          <span class="online-status" [ngClass]="getStatusClass()"></span>
          <span class="slide-info-text">{{ user.LeftAt | timeago }}</span>
        </ng-container>
      </ion-text>
      <ion-text>
        <span class="slide-info-text">
          {{ { Nickname: user.Nickname, Birthday: user.Birthday, BirthdayHidden: user.BirthdayHidden, Withdrawn: user.Withdrawn } | label }}
        </span>
      </ion-text>
      <ion-text>
        <span class="slide-info-text">
          {{ user.Word }}
        </span>
      </ion-text>
    </div>
    <ion-slides *ngIf="userGifts.length > 0" class="gift-slide" [class.ios-slide]="isIOS">
      <ion-slide class="gift-slide-content">
        <ng-container *ngFor="let giftItem of userGifts; index as index">
          <div class="gift-item" [ngClass]="'gift-item-' + index" *ngIf="index <= 13">
            <img [src]="giftItem.Gift.ImageURL">
            <span class="count-span">x{{ giftItem.Count }}</span>
          </div>
        </ng-container>
      </ion-slide>
      <ion-slide class="gift-slide-content"></ion-slide>
    </ion-slides>
  </div>
  <!-- <ion-slides #slides class="slide" (ionSlideWillChange)="onSlideChange()" *ngIf="user">
    <ion-slide *ngFor="let image of user.Images">
      <img [src]="image.Path">
      
    </ion-slide>
  </ion-slides> -->
  <ion-slides #thumbSlides class="thumb-slide" [options]="thumbSlideOpts" *ngIf="user">
    <ion-slide *ngFor="let video of user.Videos; index as index;" class="slide-video"
      (click)="videoSelected(video)">
      <video *ngIf="video.Path" playsinline loop muted onloadedmetadata="this.muted = true" [poster]="image"
        [id]="'profile-video-' + index">        
        <source src="{{ video.Path + '#t=0.1' }}" type="video/mp4">
      </video>
      <ion-icon name="logo-youtube" color="primary" class="play-button"></ion-icon>
    </ion-slide>
    <ion-slide *ngFor="let image of user.Images; index as index;"
      (click)="imageSelected(image)">
      <img [src]="image.Path">
    </ion-slide>
  </ion-slides>
  <ion-list *ngIf="user && user.Role === 1 && levelsReady">
    <ion-list-header>
      {{ 'Guest Level' | translate }}
    </ion-list-header>
    <ion-item lines="none">
      <ion-label>
        {{ getLevelName(user.PointUsed) }}
      </ion-label>
      <ion-text>
        <ion-icon class="level-star" name="star-outline" color="vip"
          *ngFor="let i of getArray(6 - getLevelNum(user.PointUsed))"></ion-icon>
        <ion-icon class="level-star" name="star" color="vip" *ngFor="let i of getArray(getLevelNum(user.PointUsed))">
        </ion-icon>
      </ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.Role === 0 && user.Class">
    <ion-list-header>
      <ion-label>{{ 'Class' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-text>{{ user.Class.Name }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.Role === 0 && user.PointHalf">
    <ion-list-header>
      <ion-label>{{ 'Point Per Half' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-text>{{ user.PointHalf | number }} pt</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.Role === 0 && user.Tags">
    <ion-list-header>
      <ion-label>{{ 'Tags' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <p>
        <ion-chip color="primary" *ngFor="let tag of tags">
          <ion-label>{{ tag }}</ion-label>
        </ion-chip>
      </p>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.Role === 0">
    <ion-list-header>
      <ion-label>{{ 'Schedule' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-grid class="calendar-container">
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <span
              [class]="selectedWeek === 0 ? 'calendar-btn calendar-btn-prev inactive' : 'calendar-btn calendar-btn-prev'"
              (click)="selectedWeek = 0">
              <ion-icon name="chevron-back"></ion-icon>前の週
            </span>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <span class="calendar-date">{{ calendar[0][0] | date: 'y年 MM月'}}</span>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
            <span
              [class]="selectedWeek === 1 ? 'calendar-btn calendar-btn-next inactive' : 'calendar-btn calendar-btn-next'"
              (click)="selectedWeek = 1">
              次の週<ion-icon name="chevron-forward"></ion-icon>
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center" *ngFor="let datetime of calendar[selectedWeek]">
            {{ daysOfWeek[datetime.getDay()] }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center" *ngFor="let datetime of calendar[selectedWeek]"
            (click)="onPopover($event, datetime)">
            {{ datetime | date: 'd' }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center" *ngFor="let datetime of calendar[selectedWeek]">
            <ion-icon color="primary" name="{{ getMidnightStatus(datetime) }}"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.Word">
    <ion-list-header>
      <ion-label>{{ 'Today Word' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-text>{{ user.Word }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.About">
    <ion-list-header>
      <ion-label>{{ 'Self Introduction' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-text style="white-space:pre-wrap;">{{ user.About }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user && user.Detail">
    <ion-list-header>
      <ion-label>{{ 'Basic Information' | translate }}</ion-label>
    </ion-list-header>
    <ng-container *ngFor="let detail of details">
      <ion-item *ngIf="detail.Value">
        <ion-label>{{ detail.Name }}</ion-label>
        <ion-text>{{ detail.Value }}</ion-text>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-list class="tweet-list" *ngIf="user && tweets.length > 0">
    <ion-list-header>
      <ion-label>{{ 'Recent Tweets' | translate }}</ion-label>
    </ion-list-header>
    <ng-container *ngFor="let tweet of tweets; index as index;">
      <ion-item [button]="true" [detail]="false" *ngIf="isValidTweet(tweet)">
        <ion-avatar slot="start" [routerLink]="'/main/profile/' + tweet.User.ProfileID" *ngIf="tweet.User">
          <img [src]="tweet.User.Images[0].Path" *ngIf="tweet.User.Images.length > 0">
          <img src="assets/img/avatar.svg" *ngIf="tweet.User.Images.length < 1">
        </ion-avatar>
        <ion-label>
          <h2 [routerLink]="'/main/tweet/detail/' + tweet.ID" *ngIf="tweet.User">
            {{ tweet.User.Nickname }}
          </h2>
          <p [routerLink]="'/main/tweet/detail/' + tweet.ID">{{ tweet.CreatedAt | timeago }}</p>
          <h3 class="tweet-content" [routerLink]="'/main/tweet/detail/' + tweet.ID">
            {{ tweet.Content }}
          </h3>
          <ion-img ionImgViewer [src]="tweet.ImageURL" *ngIf="tweet.ImageURL" scheme="dark"></ion-img>
          <div class="heart-count">
            <ion-button fill="clear" (click)="onToggleHeart(tweet, index)">
              <ion-icon slot="icon-only" color="danger" [name]="getHeartStatus(tweet) ? 'heart' : 'heart-outline'">
              </ion-icon>
            </ion-button>
            <p>{{ getHeartCount(tweet) }}</p>
          </div>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="danger" (click)="onFavorite()" *ngIf='!isFavoriteUser()'>
      <ion-icon name="heart"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="primary" [routerLink]="'/main/chat/detail/' + roomID" *ngIf="isFavoriteUser()">
      <ion-icon name="mail"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>

<ion-footer class="ion-no-border" 
  *ngIf="user && self && enabled && user.Role !== self.Role && user.Role !== 2 && self.Role !== 2">
  <ng-template [ngIf]="user.Withdrawn === false" [ngIfElse]="withdrawnUser">
    <ion-toolbar class="ion-text-center ion-no-border ion-padding-top">
      <ion-label *ngIf="!isFavoriteUser()">
        {{ 'If you like hime you can send messages to him' | translate }}
      </ion-label>
      <ion-button (click)="onFavorite()" *ngIf='!isFavoriteUser()' color="danger">
        <ion-icon name="heart" style="margin-right: 10px;"></ion-icon>{{ 'Like you!!' | translate }}
      </ion-button>
      <ion-button [routerLink]="'/main/chat/detail/' + roomID" *ngIf="isFavoriteUser()" color="primary">
        <ion-icon name="mail" style="margin-right: 10px;"></ion-icon>{{ 'Send Message' | translate }}
      </ion-button>
    </ion-toolbar>
  </ng-template>
  <ng-template #withdrawnUser>
    <ion-toolbar class="ion-text-center ion-no-border ion-padding-top">
      <ion-label class="withdrawn-user">
        {{ 'Already withdrawn user' | translate }}
      </ion-label>
    </ion-toolbar>
  </ng-template>
</ion-footer>
