<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onSave()">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Profile' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Tag Setting' | translate }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let tag of tags">
      <ion-label>{{ tag.Name }}</ion-label>
      <ion-select class="ion-text-end" cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}"
        placeholder="{{ 'Undefined' | translate }}" (ionChange)="onSelect($event, getSelectedValue(tag))"
        [multiple]="true" [value]="getSelectedValue(tag)">
        <ion-select-option [value]="subTag.ID" *ngFor="let subTag of tag.Children">
          {{ subTag.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>