.note h6 {
  font-size: 12px;
}

ion-label {
  font-weight: bold;
}

ion-footer {
  ion-toolbar {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    ion-button {
      margin: 0;
    }
  }
}

.slide-casts {
  --ion-grid-padding: 5px 0;

  .slide-col {
    --ion-grid-column-padding: 5px 0;

    .slides {
      padding: 0 10px;

      ion-slide {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
}

p.note{
  margin: 5px 0;
}