<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'Today Mood?' | translate }}" defaultHref="/main/call/situation"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        {{ 'Are there any desired cast in the below list?' | translate }}
        <h6 class="small-note"> 気になるキャストを優先的にマッチングします。ご希望があれば優先マッチング希望をしてください。 </h6>
      </ion-label>
    </ion-list-header>
    <div class="cap_box is-style-onborder_ttl mt20 mb20 ion-padding-horizontal" style="margin-bottom:20px;">
      <div class="cap_box_ttl">優先マッチングについて</div>
      <div class="cap_box_content">
        <p>* 希望したキャストの応募があった場合は優先的にマッチングされますが、<b>該当キャストとのマッチングを保証するものではありません。</b>
        確実なマッチングを希望される場合は、該当キャストとメッセージを重ねソロコールでお呼びください。</p>
        <p>* 優先マッチング希望の成立時には一人あたり <strong>2,000pt</strong> 加算されます。</p>
      </div>
    </div>

    <ion-item *ngIf="familyCasts.length > 0" lines="none">
      <ion-label>
        {{ 'Family Cast List' | translate }}
      </ion-label>
    </ion-item>
    <ion-grid class="slide-casts" *ngIf="familyCasts.length > 0">
      <ion-row class="slide-row">
        <ion-col class="slide-col">
          <ion-slides [options]="slideOpts" class="slides" (ionSlideNextEnd)="moreFamilyData($event)">
            <ion-slide *ngFor="let cast of familyCasts">
              <app-cast-card [nickname]="cast.Nickname" [birthday]="cast.Birthday" [point]="cast.PointHalf"
                [birthdayHidden]="cast.BirthdayHidden" [status]="cast.Status" [leftAt]="cast.LeftAt ? cast.LeftAt : ''"
                [word]="cast.Word" [isMatching]="isMatching(cast.ID)" [classColor]="cast.Class?.Color"
                [className]="cast.Class?.Name" [castStart]="cast.CastStart" [isDesireCard]="true"
                [image]="cast.Images[0].Path" (cardClick)="viewCast(cast.ProfileID)" (changeState)="selectCast(cast.ID)"
                [locationName]="cond.getLocationName(cast)" [profileID]="cast.ProfileID">
              </app-cast-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none">
      <ion-label>
        {{ 'Desired Cast List Today' | translate }}
      </ion-label>
    </ion-item>

    <ion-grid *ngIf="desiredCasts.length > 0">
      <ion-row style="margin-bottom: 5px;">
        <ion-col size="6" *ngFor="let cast of desiredCasts">
          <app-cast-card [nickname]="cast.Nickname" [birthday]="cast.Birthday" [point]="cast.PointHalf"
            [birthdayHidden]="cast.BirthdayHidden" [status]="cast.Status" [leftAt]="cast.LeftAt ? cast.LeftAt : ''"
            [word]="cast.Word" [isMatching]="isMatching(cast.ID)" [classColor]="cast.Class?.Color"
            [className]="cast.Class?.Name" [castStart]="cast.CastStart" [isDesireCard]="true"
            [image]="cast.Images[0].Path" (cardClick)="viewCast(cast.ProfileID)" (changeState)="selectCast(cast.ID)"
            [locationName]="cond.getLocationName(cast)" [profileID]="cast.ProfileID">
          </app-cast-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item lines="none" *ngIf="desiredCasts.length === 0">
      <h6>
        {{ "There are no casts to desire right now" | translate }}
      </h6>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll #ionInfiniteScroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="allLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" routerLink="/main/call/warning">{{ 'Go to next step' | translate }}(3/4)</ion-button>
  </ion-toolbar>
</ion-footer>