<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage/setting"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Block / Unblock' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list class="blocked-list">
    <ion-list-header>
      ブロックユーザーリスト
    </ion-list-header>
    <ion-item *ngFor="let userItem of blockedUsers; index as index" lines="full" class="block-items">
      <ion-avatar slot="start" *ngIf="userItem" [routerLink]="['/main/profile', userItem.ProfileID]">
        <img [src]="userItem.Images[0].Path">
      </ion-avatar>
      <ion-label *ngIf="userItem">
        <h3>
          {{ { Nickname: userItem.Nickname, Birthday: userItem.Birthday, 
            BirthdayHidden: userItem.BirthdayHidden, Withdrawn: userItem.Withdrawn } | label }}
        </h3>
      </ion-label>
      <ion-icon name="eye-outline" class="dislike-icon" color="success"
        (click)="unblock(userItem.ID, index)"></ion-icon>
    </ion-item>
    <ion-item lines="none" *ngIf="blockedUsers && blockedUsers.length === 0">
      <ion-label>
        {{ 'No Blocked User' | translate }}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll #ionInfiniteScroll (ionInfinite)="loadData($event)" [disabled]="allLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
