.avatar-col {
  display: flex;

  .avatar {
    --border-radius: 100%;
    --size: 100px;
  }

  .avatar-mask {
    position: absolute;
    opacity: .8;
  }

  .avatar-text {
    position: absolute;
    color: #fff;
    font-size: 12px;
    bottom: 8px;
  }
}