<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'Interview Application' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button color = "success" (click)="onSave()" style = "font-weight: bold;">
        {{ 'Complete' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="onCancel()">
        {{ 'Cancel' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Interview Hope Day' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'Datetime' | translate }} 1</ion-label>
      <ion-datetime placeholder="○○月 ○○日" display-format="MM月 DD日" picker-format="MM-DD"
        cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}" [(ngModel)]="interviewDate1">
      </ion-datetime>
      <ion-datetime placeholder="○○時 ○○分" display-format="HH:mm" picker-format="HH:mm"
        cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}" min="13:00" max="19:00"
        [(ngModel)]="interviewTime1">
      </ion-datetime>
    </ion-item>
    <ion-item *ngIf="interviewDate1 !== '' && interviewTime1 !== ''">
      <ion-label>{{ 'Datetime' | translate }} 2</ion-label>
      <ion-datetime placeholder="○○月 ○○日" display-format="MM月 DD日" picker-format="MM-DD"
        cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}" [(ngModel)]="interviewDate2">
      </ion-datetime>
      <ion-datetime placeholder="○○時 ○○分" display-format="HH:mm" picker-format="HH:mm"
        cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}" min="13:00" max="19:00"
        [(ngModel)]="interviewTime2">
      </ion-datetime>
    </ion-item>
    <ion-item *ngIf="interviewDate2 !== '' && interviewTime2 !== ''">
      <ion-label>{{ 'Datetime' | translate }} 3</ion-label>
      <ion-datetime placeholder="○○月 ○○日" display-format="MM月 DD日" picker-format="MM-DD"
        cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}" [(ngModel)]="interviewDate3">
      </ion-datetime>
      <ion-datetime placeholder="○○時 ○○分" display-format="HH:mm" picker-format="HH:mm"
        cancelText="{{ 'Cancel' | translate }}" doneText="{{ 'OK' | translate }}" min="13:00" max="19:00"
        [(ngModel)]="interviewTime3">
      </ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
        {{ 'Profile Images' | translate }}
        <br>
        <span style = "font-size: 14px;">{{ 'You should upload 2 images' | translate }}</span>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-col ion-justify-content-center ion-margin-vertical">
            <ion-thumbnail class="avatar">
              <img src="assets/img/avatar.svg" *ngIf="!image1URL">
              <img [src]="image1URL" *ngIf="image1URL">
            </ion-thumbnail>
            <div class="avatar-mask" (click)="fileInput1.click()">
              <ion-thumbnail class="avatar">
                <img src="assets/img/avatar-mask.svg">
              </ion-thumbnail>
            </div>
            <div class="avatar-text" (click)="fileInput1.click()">
              <span>{{ 'Edit' | translate }}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-col ion-justify-content-center ion-margin-vertical">
            <ion-thumbnail class="avatar">
              <img src="assets/img/avatar.svg" *ngIf="!image2URL">
              <img [src]="image2URL" *ngIf="image2URL">
            </ion-thumbnail>
            <div class="avatar-mask" (click)="fileInput2.click()">
              <ion-thumbnail class="avatar">
                <img src="assets/img/avatar-mask.svg">
              </ion-thumbnail>
            </div>
            <div class="avatar-text" (click)="fileInput2.click()">
              <span>{{ 'Edit' | translate }}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!-- <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Certification Image' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-col ion-justify-content-center ion-margin-vertical">
            <ion-thumbnail class="avatar">
              <img src="assets/img/avatar.svg" *ngIf="!image3URL">
              <img [src]="image3URL" *ngIf="image3URL">
            </ion-thumbnail>
            <div class="avatar-mask" (click)="fileInput3.click()">
              <ion-thumbnail class="avatar">
                <img src="assets/img/avatar-mask.svg">
              </ion-thumbnail>
            </div>
            <div class="avatar-text" (click)="fileInput3.click()">
              <span>{{ 'Edit' | translate }}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list> -->
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'Basic Information' | translate }}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let detail of details">
      <ion-label>{{ detail.Name }}</ion-label>
      <ion-select class="ion-text-end" cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}"
        placeholder="{{ 'Undefined' | translate }}" (ionChange)="onSelect($event, getSelectedValue(detail))"
        [value]="getSelectedValue(detail)">
        <ion-select-option [value]="subDetail.ID" *ngFor="let subDetail of detail.Children">
          {{ subDetail.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'Work Experience' | translate }}</ion-label>
      <ion-select class="ion-text-end" cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}"
        placeholder="{{ 'Undefined' | translate }}" [multiple]="true" [(ngModel)]="experience">
        <ion-select-option value="{{ 'Drinking Gala' | translate }}">{{ 'Drinking Gala' | translate }}
        </ion-select-option>
        <ion-select-option value="{{ 'Daddy' | translate }}">{{ 'Daddy' | translate }}</ion-select-option>
        <ion-select-option value="{{ 'Service Trade' | translate }}">{{ 'Service Trade' | translate }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>{{ 'What to ask in a interview?' | translate }}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-textarea [rows]="3" [autoGrow]="true" placeholder="{{ 'Please input' | translate }}" [(ngModel)]="ask">
      </ion-textarea>
    </ion-item>
  </ion-list>
  <input #fileInput1 class="ion-hide" type="file" (change)="onFileChanged($event, 1)" accept="image/x-png, image/jpeg">
  <input #fileInput2 class="ion-hide" type="file" (change)="onFileChanged($event, 2)" accept="image/x-png, image/jpeg">
  <input #fileInput3 class="ion-hide" type="file" (change)="onFileChanged($event, 3)" accept="image/x-png, image/jpeg">
  <ion-list class = "ion-text-center">
    <ion-button class = "ion-margin" (click)="onSave()" expand = "full">
      {{ 'Apply Interview' | translate }}
    </ion-button>
  </ion-list>
</ion-content>