h2 {
    border-left: solid 8px var(--color_htag);
    padding: .75em 1em;
    background: linear-gradient(
135deg
, transparent 25%, rgba(5, 70, 95, 0.05 ) 25%, rgba(5, 70, 95, 0.05 ) 50%, transparent 50%, transparent 75%, rgba(5, 70, 95, 0.05 ) 75%, rgba(5, 70, 95, 0.05 ));
    background-size: 4px 4px;
}

h3 {
    padding: 0 .5em .5em;
}

dt, h2, h3, h4 {
    font-weight: 700;
}
h3 {
    position: relative;
    margin: 3em 0 2em;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.4;
}

h3::before {
    content: "";
    width: 100%;
    height: 2px;
    background: repeating-linear-gradient(
90deg
, var(--color_htag) 0%, var(--color_htag) 20%, rgba(6, 84, 114, 0.2 ) 90%, rgba(6, 84, 114, 0.2 ) 100%);
}

h3::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: block;
}


/*   STEP  */
.swell-block-step {
    counter-reset: step;
}

.swell-block-step__item {
    position: relative;
    margin-bottom: 0!important;
    padding: 0 0 3em 64px;
}

[data-num-style=circle] .swell-block-step__number {
    border-radius: 50%;
}
.u-bg-main {
    color: #fff!important;
    background-color: var(--color_main)!important;
}
.swell-block-step__number {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: content-box;
    width: 48px;
    height: 48px;
    color: #fff;
    line-height: 1;
    text-align: center;
}

.swell-block-step:not(.is-style-big):not(.is-style-small) .swell-block-step__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 48px;
}
.fs_l, .has-l-font-size, .has-large-font-size, .u-fz-l {
    font-size: 1.2em;
}
.swell-block-step__title {
    font-weight: 700;
}

.swell-block-step__body {
    margin-top: 1em;
}

@media (max-width: 599px){
.swell-block-step:not(.is-style-big):not(.is-style-small) .swell-block-step__body {
    margin-left: -56px;
}
}


// FAQ area
.is-style-faq-border .swell-block-faq__item:not(:last-child) {
    padding-bottom: 1em;
    border-bottom: solid 1px rgba(200,200,200,.5);
}
.is-style-faq-border .swell-block-faq__item {
    padding-right: .5em;
    padding-left: .5em;
}
.swell-block-faq .swell-block-faq__item {
    margin-bottom: 1em;
}

.swell-block-faq .faq_q {
    position: relative;
    padding: 1em 1em 1em 3em;
    font-weight: 700;
    line-height: 1.5;
}

[data-a=col-text] .faq_q::before {
    color: #fff;
    background-color: #9c5757;
}
.swell-block-faq .faq_q::before {
    position: absolute;
    top: .75em;
    left: 0;
    display: block;
    width: 2em;
    font-weight: 400;
    font-family: Arial,sans-serif;
    line-height: 2;
    text-align: center;
    content: "Q";
}
::after, ::before {
    box-sizing: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
}

.swell-block-faq .faq_a {
    position: relative;
    padding: 0.1em 1em 1em 3em;
    line-height: 1.5;
    margin-inline-start:0px;
}

[data-a=col-text] .faq_a::before {
    color: #fff;
    background-color: #5151b3;
}
.swell-block-faq .faq_a::before {
    position: absolute;
    top: .75em;
    left: 0;
    display: block;
    width: 2em;
    font-family: Arial,sans-serif;
    line-height: 2;
    text-align: center;
    content: "A";
}
::after, ::before {
    box-sizing: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
}
