<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'Help' | translate }}" defaultHref="/main/mypage/help"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Usage' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ng-template [ngIf]="role===1" [ngIfElse]="castSection">
    <ion-list>
      <ion-list-header>
        <h1>ゲスト様ご利用ガイド</h1>
      </ion-list-header>
    </ion-list>
    <div class="ion-padding-horizontal">
      <h2>利用ルールとマナー</h2>
      <p>glassではキャストとのトラブルを防ぐため下記ルールを設定させていただいております。</p>
      <p>まずはこちらをご一読頂くようお願いします。</p>

      <div class="cap_box is-style-onborder_ttl mt20 mb20 ion-padding-horizontal">
        <div class="cap_box_ttl"><b>禁止行為</b></div>
        <div class="cap_box_content">
          <p><ion-icon name="close-outline"></ion-icon><strong>現金でのやりとり</strong></p>
          <p>キャストとの現金でのやりとりを固く禁止しております。ギフトを通じてのお支払いをお願いいたします。</p>

          <p><ion-icon name="close-outline"></ion-icon><strong>一度もお会いしたことのないキャストとのＬＩＮＥ交換</strong></p>
          <p>アプリを通じてのやりとりをお願いいたします。</p>
          <p>
            <ion-icon name="close-outline"></ion-icon><strong>勧誘行為</strong>
          </p>
          <p>他アプリやマルチ、その他勧誘行為を固く禁止しております。違反した場合は凍結処理、退会処理を行わせていただきます。</p>
          <p>
            <ion-icon name="close-outline"></ion-icon><strong>自宅やマンション、その他鍵のかかる個室でお会いすること</strong>
          </p>
          <p>トラブル防止のため個室での利用を禁止しております。初対面のキャストが嫌がる場所での利用はおやめください。</p>
          <p>
            <ion-icon name="close-outline"></ion-icon><strong>直前でのキャンセル、無断キャンセルなどの行為</strong>
          </p>
          <p>マッチングが成立後のキャンセルはお控えください。弊社側の判断で100%の有償キャンセルとさせていただく場合もございます。</p>
          <p>
            <ion-icon name="close-outline"></ion-icon><strong>タイマーを切って強制的に合流を要求すること</strong>
          </p>
          <p>キャストとのタイマーを切っての合流はお控えください。</p>
        </div>
      </div>
      
      <p>上記行為を行った場合、凍結や退会処理を進めさせていただく場合がございます。ルールを守ってのご利用をお願いします。</p>

      <h2>マッチングまでの流れ</h2>
      <p>・グループコール</p>
      <p>・ソロコール</p>
      <p>glassでは2種類の楽しみ方をご用意しております。</p>
      <p>接待やいつもの飲み会に複数人のキャストを呼びたい場合は、glassコールを。</p>
      <p>1対1でお気に入りのキャストを呼びたい方はソロコールを使ってお楽しみいただくことができます。</p>
      <h3>グループコールでキャストを呼ぶ方法</h3>
      <figure class="wp-block-image size-large"><img
          src="https://glass.dating/wp-content/uploads/2021/02/glass-call-1024x724.png" alt="" class="wp-image-128" />
      </figure>
      <p>ホーム画面より近くのキャストを複数人呼ぶことが可能です。</p>

      <h3>サシコールでキャストを呼ぶ方法</h3>    
      <figure class="wp-block-image size-large"><img
          src="https://glass.dating/wp-content/uploads/2021/02/sashi-call-1024x731.png" alt="" class="wp-image-129" />
      </figure>
      <p>メッセージ画面より気になるキャストを検索して1体1で会うことができる機能です。</p>
      <p><strong>メッセージ画面左下の「カレンダー」ボタンを押して、希望日程を提案しましょう♪</strong></p>
      <figure class="wp-block-image size-large"><img
          src="https://glass.dating/wp-content/uploads/2021/02/sashi-call-2-473x1024.jpg" alt="" class="wp-image-130" />
      </figure>
      <h2>glassのご利用料金</h2>
      <h3>飲食代について</h3>
      <p>キャストとの飲食代はゲスト様負担とさせていただいております。</p>
      <p>その分キャストからの楽しい時間の提供をお楽しみください♪</p>
      
      <h3>グループコールの料金</h3>
      <p>キャストのクラスごとに料金が異なります。</p>
      <figure class="wp-block-table">
        <table>
          <thead>
            <tr>
              <th>キャストクラス</th>
              <th>グループコール料金</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>スタンダード</td>
              <td>3000pt／30分</td>
            </tr>
            <tr>
              <td>VIP</td>
              <td>5500pt／30分</td>
            </tr>
            <tr>
              <td>VVIP</td>
              <td>10000pt／30分</td>
            </tr>
          </tbody>
        </table>
        <figcaption>1pt=1.1円(税込)</figcaption>
      </figure>
      <p>また優先マッチングや時間帯や延長によっても別途料金も上乗せされる可能性もあります。</p>
      <ul>
        <li><strong>優先マッチング料金：2000pt</strong> *指名したキャストとのマッチングが成功した場合のキャスト1名あたりに追加される料金</li>
        <li><strong>深夜料金：4000pt </strong> *合流時間が24:00~06:00を跨ぐ場合、キャストのタクシー代として深夜料金がかかります。</li>
        <li><strong>延長料金：コール料金の1.3倍 </strong>*15分ごとに自動で延長料金が加算されます(例 スタンダード 1950pt／15分) </li>
      </ul>

      <h3>ソロコールの料金</h3>
      <p>キャストごとに料金を設定しているので、キャストのプロフィールページを参照してください。</p>
      <p><strong>ソロコールの場合は、優先マッチング料金や深夜料金はかかりません。</strong></p>
      <p><strong>自動で15分ごとに延長料金(キャストが設定した料金の1.3倍)が発生します。</strong></p>
                
      <h2>その他FAQ</h2>
      
      <dl class="swell-block-faq is-style-faq-border" data-q="fill-custom" data-a="fill-custom">
        <div class="swell-block-faq__item">
          <dt class="faq_q">通知が届かない</dt>
          <dd class="faq_a">
              <p>「マイページ」＞「通知設定」よりご確認ください。</p>
          </dd>
        </div>
      
        <div class="swell-block-faq__item">
          <dt class="faq_q">友達紹介ポイントが反映されていない</dt>
          <dd class="faq_a">
              <p>ブラウザや端末環境によっては友達紹介が反映されない場合がございます。紹介が反映されない場合、運営コンシェルジュへメッセージでご一報ください。</p>
          </dd>
        </div>
      
        <div class="swell-block-faq__item">
          <dt class="faq_q">合流確定したキャストと連絡が取れなくなった</dt>
          <dd class="faq_a">
              <p>運営コンシェルジュへメッセージをください。</p>
          </dd>
        </div>
      
        <div class="swell-block-faq__item">
          <dt class="faq_q">領収書を発行したい</dt>
          <dd class="faq_a">
              <p>「マイページ」＞「ポイント」履歴より領収書の発行が可能です。</p>
          </dd>
        </div>
      
        <div class="swell-block-faq__item">
          <dt class="faq_q">携帯番号を変更した。アカウントを引き継ぎたい場合</dt>
          <dd class="faq_a">
              <p>運営コンシェルジュへメッセージ、もしくは<a href="https://glass.dating/contact" data-type="page"
                data-id="38">お問い合わせ</a>よりご連絡ください。その際本人確認のため登録していたプロフィールや、最後のメッセージ、以前合流したキャストなどをお尋ねする可能性があります。</p>
          </dd>
        </div>
      </dl>      
      <p></p>
    </div>
    
  </ng-template>
  <!--　###################### キャスト用########################-->
  <ng-template #castSection>
    <ion-list>
      <ion-list-header>
        <h1>ご利用ガイド【キャスト用】</h1>
      </ion-list-header>
    </ion-list>

    <div class="ion-padding-horizontal">
      <h2>グループコールへの参加方法</h2>
      <div class="swell-block-step" data-num-style="circle">
        <div class="swell-block-step__item">
          <div class="swell-block-step__number u-bg-main"><span class="__label">STEP1</span></div>
          <div class="swell-block-step__title u-fz-l">参加したいコールに応募しよう</div>
          <div class="swell-block-step__body">
            <figure class="wp-block-image size-large is-resized is-style-browser_mac"><img
                src="https://glass.dating/wp-content/uploads/2021/03/6b3ac4f182534d87492bb949f93f3389.png" alt=""
                class="wp-image-226" width="207" height="367" /></figure>
      
      
            <p>参加したいコールが見つかったら応募ボタンを押そう。</p>
                </div>
        </div>
      
        <div class="swell-block-step__item">
          <div class="swell-block-step__number u-bg-main"><span class="__label">STEP2</span></div>
          <div class="swell-block-step__title u-fz-l">当選したらグループチャットで挨拶しよう</div>
          <div class="swell-block-step__body">
            <figure class="wp-block-image size-large is-resized is-style-browser_mac"><img
                src="https://glass.dating/wp-content/uploads/2021/03/cb6f6f109fd6061579f1558c43d58a9a.png" alt=""
                class="wp-image-228" width="182" height="404" /></figure>
      
      
            <p>グループチャットで挨拶をして合流しよう。場所が決まっていない場合はゲスト様にお尋ねください。</p>
            <p>実際に合流したら「合流開始」ボタンを押してタイマーを回そう。</p>
                </div>
        </div>
      
        <div class="swell-block-step__item">
          <div class="swell-block-step__number u-bg-main"><span class="__label">STEP3</span></div>
          <div class="swell-block-step__title u-fz-l">一緒のお時間を楽しみましょう</div>
          <div class="swell-block-step__body">
            <figure class="wp-block-image size-large is-resized"><img
                src="https://glass.dating/wp-content/uploads/2021/03/kanpai.jpg" alt="" class="wp-image-229" width="350"
                height="234" /></figure>
      
      
            <p>ゲスト様との楽しいひと時をお楽しみください。</p>
                </div>
        </div>
      
        <div class="swell-block-step__item">
          <div class="swell-block-step__number u-bg-main"><span class="__label">STEP4</span></div>
          <div class="swell-block-step__title u-fz-l">解散した後は</div>
          <div class="swell-block-step__body">
            <figure class="wp-block-image size-large is-resized is-style-browser_mac"><img
                src="https://glass.dating/wp-content/uploads/2021/03/00eead1cad27f877d9781c2626792dbb.png" alt=""
                class="wp-image-232" width="183" height="403" /></figure>
      
      
            <p>「合流終了」ボタンを押せば合流が終了します。</p>
            
      
            <p>ゲスト様に感謝の言葉を伝えて次回も呼んでもらえるように努めましょう♪</p>
                </div>
        </div>
      </div>
      

      <p></p>
      
      <h2>ソロコールの提案・参加方法</h2>
        <div class="swell-block-step" data-num-style="circle">
          <div class="swell-block-step__item">
            <div class="swell-block-step__number u-bg-main"><span class="__label">STEP1</span></div>
            <div class="swell-block-step__title u-fz-l">ゲスト様とメッセージして日程や場所を決めよう</div>
            <div class="swell-block-step__body">
                      <ion-row>
                        <ion-col>
                          <div><img
                              src="https://glass.dating/wp-content/uploads/2021/04/solo-call-casst-1.png" alt="" width="180" class="wp-image-228"  /></div>
                        </ion-col>
                      </ion-row>
              <p>メッセージをして場所や日時を決めよう</p>
            </div>
          </div>
        
          <div class="swell-block-step__item">
            <div class="swell-block-step__number u-bg-main"><span class="__label">STEP2</span></div>
            <div class="swell-block-step__title u-fz-l">日程提案をしよう</div>
            <div class="swell-block-step__body">
                <ion-row>
                  <ion-col>
                          <div><img src="https://glass.dating/wp-content/uploads/2021/04/solo-call-casst-2.png" alt="" class="wp-image-228" />
                          </div>
                  </ion-col>
                  <ion-col>
                    <div><img src="https://glass.dating/wp-content/uploads/2021/04/solo-call-casst-3.png" alt="" class="wp-image-228" />
                    </div>
                  </ion-col>
                  <ion-col>
                    <div><img src="https://glass.dating/wp-content/uploads/2021/04/solo-call-casst-4.png" alt="" class="wp-image-228" />
                    </div>
                  </ion-col>
                  <ion-col>
                    <div><img src="https://glass.dating/wp-content/uploads/2021/04/solo-call-casst-5.png" alt="" class="wp-image-228" />
                    </div>
                  </ion-col>
                
                </ion-row>
        
              <p>日程提案をしてゲスト様が承諾してくれれば日程が確定します。</p>
            </div>
          </div>
        
          <div class="swell-block-step__item">
            <div class="swell-block-step__number u-bg-main"><span class="__label">STEP3</span></div>
            <div class="swell-block-step__title u-fz-l">合流開始ボタンを押す</div>
            <div class="swell-block-step__body">
                <ion-row>
                  <ion-col>
                    <div><img src="https://glass.dating/wp-content/uploads/2021/04/solo-call-casst-6.png" alt="" class="wp-image-228" />
                    </div>
                  </ion-col>
                  <ion-col>
                    <div><img src="https://glass.dating/wp-content/uploads/2021/04/solo-call-casst-7.png" alt="" class="wp-image-228" />
                    </div>
                  </ion-col>
                </ion-row>
              <p>ゲスト様との楽しいひと時をお楽しみください。</p>
            </div>
          </div>
        
          <div class="swell-block-step__item">
            <div class="swell-block-step__number u-bg-main"><span class="__label">STEP4</span></div>
            <div class="swell-block-step__title u-fz-l">解散した後は</div>
            <div class="swell-block-step__body">
               <img src="https://glass.dating/wp-content/uploads/2021/04/solo-call-casst-8.png" width="180">
                <p>「合流終了」ボタンを押せば合流が終了します。</p> 
              <p>ゲスト様に感謝の言葉を伝えて次回も呼んでもらえるように努めましょう♪</p>
            </div>
          </div>
        </div>
      
      <h2>報酬の受け取り方</h2>
      

      <p>「マイページ」＞「振込申請」から報酬の振込が可能です。</p>
      
      <figure class="wp-block-image size-large is-resized is-style-browser_mac"><img
          src="https://glass.dating/wp-content/uploads/2021/03/7f22915ad8c97daf939c18ed174404c4.png" alt=""
          class="wp-image-234" width="200" height="366" /></figure>
      

      <p>通常振込→月末締め20日払い　＊振込手数料２６２円（楽天銀行なら無料）</p>
      

      <p>即振込(paypal口座) → 3営業日以内　＊振込手数料: 振込金額の3.6％ + 40円</p>
      
      <h2>その他FAQ</h2>
      
      <dl class="swell-block-faq" data-q="col-text" data-a="col-text">
        <div class="swell-block-faq__item">
          <dt class="faq_q">合流中に獲得ポイントを表示するには？</dt>
          <dd class="faq_a">
      
            <p>グループチャット上部の「今までの獲得ポイント」から確認できます。</p>
            
            <figure class="wp-block-image size-large is-resized is-style-browser_mac"><img
                src="https://glass.dating/wp-content/uploads/2021/03/c5942b3141c7cfecffd12264306afecd-1.png" alt=""
                class="wp-image-231" width="182" height="402" /></figure>
      
      
            <p></p>
                </dd>
        </div>
      
        <div class="swell-block-faq__item">
          <dt class="faq_q">合流スタートボタンを押すのが遅れてしまった。</dt>
          <dd class="faq_a">
      
            <p>ゲスト様に確認の上、運営にご連絡下さい。合流中であれば合流開始時間の修正が可能です。</p>
                </dd>
        </div>
      
        <div class="swell-block-faq__item">
          <dt class="faq_q">コールの予定時間に遅れてしまった</dt>
          <dd class="faq_a">
      
            <p>ゲスト様に遅れのお詫びを入れるようお願いします。大幅に遅れる場合はゲスト様がキャンセルされる場合もあります。その点ご承知ください。</p>
                </dd>
        </div>
      </dl>
      

      <p></p>
    </div>
  </ng-template>

    <!--　###################### キャスト用########################-->

</ion-content>
