.online-status{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  align-self: center;
  margin-right: 5px;
  &.green{
    background-color: var(--ion-color-success);
  }
  &.yellow{
    background-color: var(--ion-color-warning);
  }
  &.gray{
    background-color: var(--ion-color-medium);
  }
}

.cast-info{
  text-align: left;
  h6 span.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
  }
}

.class-label {
  ion-icon {
    font-size: 24px;
    align-self: center;
  }

  position: absolute;
  z-index: 2;
  left: 3px;
  top: 3px;
  display: flex;
  border-radius: 50%;

  label.cast-class {
    color: white;
    opacity: 0.8;
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 3px;
  }
}

ion-card-content.video-content {
  background-color: white;
}

video.cast-video{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.video-wrapper {
  display: flex;
  video.cast-video {
    align-self: center;
  }
}