<ion-card class="slide-cards" inViewport [inViewportOptions]="{ partial: true, threshold: [0, 1] }" (inViewportAction)="viewStatusChanged($event)">
  <div class="class-label">
    <label class="cast-class" [style]="'background-color: ' + classColor">{{ className }}</label>
  </div>
  <div class="image-wrapper">
    <ng-template [ngIf]="video === ''" [ngIfElse]="videoPart">
      <img [src]="image" />
    </ng-template>
    <ng-template #videoPart>
      <video [id]="'video-mini-' + profileID" playsinline loop muted onloadedmetadata="this.muted = true" class="cast-video" [poster]="image">
        <source [src]="video" type="video/mp4">
      </video>
    </ng-template>
    <div class="filled-backdrop" *ngIf="isMatching">
      <ion-icon name="checkmark-outline"></ion-icon>
      <p>埋まりました</p>
    </div>
  </div>
  <div class="cast-info">
    <h6>
      <span class="online-status" [ngClass]="getStatusClass()" *ngIf="getStatusClass() !== ''"></span>
      <span class="ellipsis">
        {{ { Nickname: nickname, Birthday: birthday, BirthdayHidden: birthdayHidden } | label }} {{ locationName }}
      </span>
    </h6>
    <h6 class="cast-greeting">
      {{ word ? word : ('Cast Standard Greeting' | translate) }}
    </h6>
  </div>
  <ion-card-content class="ion-text-center" [class.video-content]="video !== ''">
    {{ (point | number) + ('Point/30min' | translate) }}
  </ion-card-content>
  <div class="new-birthday-div">
    <div class="new-icon birthday-icon ion-text-center" *ngIf="isBirthdayThisMonth()">
      <img src="assets/img/birthday-mark-primary.svg">
    </div>
  </div>
</ion-card>