<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'Tweet' | translate }}</ion-title>
    <ion-buttons slot="secondary" *ngIf="sight !== 'blind'">
      <ion-button routerLink="/main/notice">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="getNotifyCount() > 0" color="danger" class="notify-count-badge ion-no-padding">
        {{ getNotifyCount() }}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-chip color="primary" routerLink="/main/mypage">
          <ion-avatar>
            <ion-img [src]="avatarURL"></ion-img>
          </ion-avatar>
          <ion-label>{{ userNickname }}</ion-label>
        </ion-chip>
      </ion-buttons>
      <ion-title size="large">{{ 'Tweet' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header *ngIf="user">
    <ng-template [ngIf]="user.Role===0 || user.Role ===1" [ngIfElse]="applier">
      <ion-item lines="none" *ngIf="!(user.LineID && user.LineID !== '') && !(user.Email && user.Email !== '')"
        class="ion-no-margin ion-no-padding header-item" [detail]="false" routerLink="/main/mypage/setting/notify">
        <p>【通知設定】メールかLINEで連携してください </p>        
      </ion-item>
    </ng-template>
    <ng-template #applier>
      <ion-item lines="none" class="ion-no-margin ion-no-padding header-item" [detail]="true" (click)="gotoLine()">
        <p class="applier">本登録することで全機能が使えるようになります。glass運営LINE＠へご連絡ください。</p>        
      </ion-item>
    </ng-template>
  </ion-header>
  <ion-refresher #ionRefresher slot="fixed" [pullMin]="100" (ionRefresh)="doRefresh()">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="lines">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list lines="full">
    <ion-item>
      <ion-label>{{ 'Location' | translate }}</ion-label>
      <ion-select cancelText="{{ 'Cancel' | translate }}" okText="{{ 'OK' | translate }}"
        [(ngModel)]="selectedLocationID" (ngModelChange)="onLocationChanged()">
        <ion-select-option [value]="0">{{ 'All' | translate }}</ion-select-option>
        <ion-select-option [value]="location.ID" *ngFor="let location of locations">
          {{ location.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ng-container *ngFor="let tweet of tweets; index as index;">
      <ion-item [button]="true" [detail]="false" *ngIf="isValidTweet(tweet)">
        <ion-avatar slot="start" *ngIf="tweet.User && tweet.User.Role < 0">
          <img [src]="tweet.User.Images[0].Path" *ngIf="tweet.User.Images.length > 0">
          <img src="assets/img/avatar.svg" *ngIf="tweet.User.Images.length < 1">
        </ion-avatar>
        <ng-container *ngIf="user && user.Role !== 10">
          <ion-avatar slot="start" [routerLink]="'/main/profile/' + tweet.User.ProfileID"
            *ngIf="tweet.User && tweet.User.Role > -1">
            <img [src]="tweet.User.Images[0].Path" *ngIf="tweet.User.Images.length > 0">
            <img src="assets/img/avatar.svg" *ngIf="tweet.User.Images.length < 1">
          </ion-avatar>
        </ng-container>
        <ng-container *ngIf="user && user.Role === 10">
          <ion-avatar slot="start" *ngIf="tweet.User && tweet.User.Role > -1">
            <img [src]="tweet.User.Images[0].Path" *ngIf="tweet.User.Images.length > 0">
            <img src="assets/img/avatar.svg" *ngIf="tweet.User.Images.length < 1">
          </ion-avatar>
        </ng-container>
        <ion-label>
          <h2 [routerLink]="'/main/tweet/detail/' + tweet.ID" *ngIf="tweet.User && user && user.Role !== 10">
            <ng-template [ngIf]="!tweet.User.Withdrawn" [ngIfElse]="withdrawnUser">
              {{ tweet.User.Nickname }} {{ cond.getLocationName(tweet.User) }} 
              <ng-template [ngIf]="tweet.IsRecruit">
                <ion-chip color="primary">
                  <ion-label>{{ "Recruitement" | translate }}</ion-label>
                </ion-chip>
              </ng-template>
            </ng-template>
            <ng-template #withdrawnUser>
              {{ 'Withdrawn' | translate }}
            </ng-template>
          </h2>
          <h2 *ngIf="tweet.User && user && user.Role === 10">
            <ng-template [ngIf]="!tweet.User.Withdrawn" [ngIfElse]="withdrawnUser">
              {{ tweet.User.Nickname }}
            </ng-template>
            <ng-template #withdrawnUser>
              {{ 'Withdrawn' | translate }}
            </ng-template>
          </h2>
          <p [routerLink]="'/main/tweet/detail/' + tweet.ID" *ngIf="user && user.Role !== 10">
            {{ getLocation(tweet) }}・{{ tweet.CreatedAt | timeago }}
          </p>
          <p *ngIf="user && user.Role === 10">{{ getLocation(tweet) }}・{{ tweet.CreatedAt | timeago }}
          </p>
          <h3 class="tweet-content" [routerLink]="'/main/tweet/detail/' + tweet.ID">
            {{ tweet.Content }}
          </h3>
          <ion-img ionImgViewer [src]="tweet.ImageURL" *ngIf="tweet.ImageURL" scheme="dark"></ion-img>
          <div class="heart-count" *ngIf="user">            
            <p class="favorite-count">
              <ng-template [ngIf]="tweet.UserID !== user.ID" [ngIfElse]="myTweet">
                {{ getHeartCount(tweet) }}
              </ng-template>
              <ng-template #myTweet>
                {{ getExactCount(tweet) | number }}
              </ng-template>
            </p>
            <ion-button fill="clear" (click)="onToggleHeart(tweet, index)" class="ion-no-padding ion-no-margin">
              <ion-icon slot="icon-only" color="danger" [name]="getHeartStatus(tweet) ? 'heart' : 'heart-outline'">
              </ion-icon>
            </ion-button>
          </div>
          <div class="delete-tweet" *ngIf="tweet.UserID === userID">
            <ion-button fill="clear" (click)="onDeleteTweet(tweet.ID)" class="ion-no-padding ion-no-margin">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </div>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-infinite-scroll #ionInfiniteScroll (ionInfinite)="loadData($event)" [disabled]="isAllLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-list>
    <ion-list-header></ion-list-header>
    <ion-item></ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="onCreate()"
    *ngIf="count < 2 && user && user.Role !== 10">
    <ion-fab-button>
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>