ion-refresher {
  z-index: 1;
}

ion-item {
  align-items: flex-start;

  ion-avatar {
    margin-top: 10px;
  }

  ion-label {
    user-select: text;

    .tweet-content {
      white-space: normal;
    }

    h2:focus,
    h3:focus,
    p:focus {
      outline: none;
    }

    ion-img {
      width: 100%;
      height: 20vh;
      object-fit: cover;
      border-radius: 5px !important;
      overflow: hidden;
    }

    .delete-tweet {
      margin-top: 5px;
      display: flex;
      float: right;
    }

    .heart-count {
      margin-top: 5px;
      display: flex;
      float: right;

      p.favorite-count {
        margin: auto 0;
        width: 35px;
        text-align: right;
        margin-right: 5px;
      }
    }
  }
}