<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/main/notice">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-badge *ngIf="getNotifyCount() > 0" color="danger" class="notify-count-badge ion-no-padding">
        {{ getNotifyCount() }}
      </ion-badge>
    </ion-buttons>
    <div class="guest-search">
      <ion-searchbar [(ngModel)]="searchText" (click)="goToFilterPage()"
        placeholder="{{ 'Search by area, level, tag and so on' | translate }}" inputmode="none">
      </ion-searchbar>
      <ion-icon name="close-circle" class="close-search" *ngIf="searchText" (click)="clearSearch($event)"></ion-icon>
    </div>
    <ion-buttons slot="end">
      <!-- <ion-button routerLink="/main/guest-search/filter">
        <ion-icon name="options"></ion-icon>
      </ion-button> -->
      <ion-button routerLink="/main/guest-search/rank">
        <ion-icon name="trophy"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #ionContent [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'Search Guests' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header *ngIf="user">
    <ng-template [ngIf]="user.Role===0" [ngIfElse]="applier">
      <ion-item lines="none" *ngIf="!(user.LineID && user.LineID !== '') && !(user.Email && user.Email !== '')"
        class="ion-no-margin ion-no-padding header-item" [detail]="false" routerLink="/main/mypage/setting/notify">
        <p>【通知設定】メールかLINEで連携してください </p>        
      </ion-item>
    </ng-template>
    <ng-template #applier>
      <ion-item lines="none" class="ion-no-margin ion-no-padding header-item" [detail]="true"
        (click)="gotoLine()">
        <p class="applier">本登録することで全機能が使えるようになります。glass運営LINE＠へご連絡ください。</p>        
      </ion-item>
    </ng-template>
  </ion-header>
  <ion-list *ngIf="recentGuests.length > 0 && levelsReady && isFavoriteDataReady">
    <ion-list-header>
      <ion-label>
        {{ 'Recent Guests' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-grid class="slide-guests">
      <ion-row class="slide-row">
        <ion-col class="slide-col">
          <ion-slides [options]="slideOpts" class="slides" *ngIf="user">
            <ion-slide *ngFor="let guest of recentGuests">
              <app-mini-guest-card style="width: 100%;" [routerLink]="user.Role === 0 ? ['/main/profile', guest.ProfileID] : []"
                [birthdayHidden]="guest.BirthdayHidden" [nickname]="guest.Nickname" [birthday]="guest.Birthday"
                [status]="guest.Status" [leftAt]="guest.LeftAt ? guest.LeftAt : ''" [word]="guest.Word"
                [levelNum]="getLevelNum(guest.PointUsed)" [levelName]="getLevelName(guest.PointUsed)"
                [guestStart]="guest.GuestStart" [image]="guest.Images[0].Path" [isFavorite]="isFavorite(guest.ID)"
                [locationName]="callCond.getLocationName(guest)">
              </app-mini-guest-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list class="filtered-guest">
    <ion-list-header>
      <ion-label>
        {{ 'Filtered Guests' | translate }}
      </ion-label>
    </ion-list-header>
    <ion-grid *ngIf="filteredGuests.length > 0 && isFavoriteDataReady && user">
      <ion-row style="margin-bottom: 5px;">
        <ion-col size="6" *ngFor="let guest of filteredGuests">
          <app-guest-card [routerLink]="user.Role === 0 ? ['/main/profile', guest.ProfileID] : []" [nickname]="guest.Nickname"
            [birthdayHidden]="guest.BirthdayHidden" [birthday]="guest.Birthday" [status]="guest.Status"
            [leftAt]="guest.LeftAt ? guest.LeftAt : ''" [word]="guest.Word" [levelNum]="getLevelNum(guest.PointUsed)"
            [levelName]="getLevelName(guest.PointUsed)" [guestStart]="guest.GuestStart" [image]="guest.Images[0].Path"
            [isFavorite]="isFavorite(guest.ID)" [locationName]="callCond.getLocationName(guest)">
          </app-guest-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-infinite-scroll #ionInfiniteScroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="allLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'Loading more data...' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>