.cover-frame{
  max-width: 360px;
  margin: auto;
}
#contentToConvert{
  padding: 5px;

  .div-pdf-container {
    border: solid 1px black;
  
    .div-title {
      font-size: 1.1rem;
    }
  
    .div-info {
      margin-bottom: 10px;

      .div-name {
        flex: 1 1 auto;
        text-decoration: underline;
        label{
          font-size: 1.2rem;
        }
      }
  
      .div-created {
        .div-no, .div-date {
          text-decoration: underline;
          font-size: 0.8rem;
        }
      }
  
      .div-proviso {
        flex: 1 1 auto;
        font-size: 0.8rem;
      }
  
      .div-address {
        font-size: 0.8rem;
        margin-bottom: 10px;
        position: relative;
  
        .div-label {
          white-space: nowrap;
        }

        img.stamp-img{
          position: absolute;
          bottom: 0;
          right: 0;
          width: 70px;
          height: 70px;
          object-fit: cover;
        }
      }
    }
  
    .div-payment {
      padding: 10px;
      font-size: 1.5rem;
    }
  }
}

.font-sub {
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.p-2{
  padding: 15px;
}

.m-2{
  margin: 15px;
}