<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/mypage/point/history"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Export Result' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <div class="cover-frame">      
      <div id="contentToConvert" class="m-2">
        <div class="div-pdf-container p-2">
          <div class="div-title">
            領収証
          </div>
          <div class="div-info d-flex">
            <div class="div-name">
              <br>
              <label>{{ address }} 様</label>
            </div>
            <div class="div-created ion-align-self-end">
              <div class="div-no">
                <label>No：　{{ invoiceID }} </label>
              </div>
              <div class="div-date">
                <label>請求日：{{ now }} </label>
              </div>
            </div>
          </div>
          <div class="div-payment d-flex ion-justify-content-center">
            <label>{{ point | number }}円</label>
          </div>
          <div class="div-info">
            <div class="div-proviso">
              <!-- <div class="div-lavel">
                但し : <span> {{getProviso()}}</span>
              </div> -->
              <div class="div-label font-sub">              
                上記金額正に領収いたしました
                <br>
              </div>
            </div>
            <div class="div-address px-3">
              <div class="div-label">
                <div class="div-com">株式会社G</div>
                <div class="div-com">〒810-0005</div>
                <div class="div-com">福岡県福岡市中央区清川2-10-15</div>
              </div>
              <img src="assets/img/stamp.PNG" class="stamp-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-list>
  <ion-list>
    <ion-button expand="block" class="ion-margin" (click)="generatePDF()">
      PDFでダウンロードする
    </ion-button>
  </ion-list>
</ion-content>